<wave-dialog-header>CSV Upload</wave-dialog-header>
<mat-dialog-content>
    <wave-csv-upload
        *ngIf="!data"
        [file_size_limit]="100000000"
        (onData)="data = $event"
    ></wave-csv-upload>
    <div *ngIf="!!data" [hidden]="(uploading$ | async)" style="text-align: center">
        <wave-csv-properties
            #csvProperties
            [csvTable]="csvTable"
            [data]="data"
        ></wave-csv-properties>
        <wave-csv-table
            #csvTable
            [csvProperty]="csvProperties"
            [data]="data"
            [cellSpacing]="10"
            [linesToParse]="15"
        ></wave-csv-table>
    </div>

    <!--[data]="data"
        [cellSpacing]="10"
        [linesToParse]="15"
        (finish)="submit($event)"-->
    <mat-spinner *ngIf="uploading$ | async"></mat-spinner>
</mat-dialog-content>

<mat-dialog-actions align="end" *ngIf="!(uploading$ | async)">
    <div class="buttons" *ngIf="!!csvProperties">
        <button mat-raised-button color="primary" (click)="csvProperties.stepper.previous()"
                *ngIf="!(csvProperties.isDataProperties$ | async)">Prev</button>
        <button mat-raised-button color="primary" (click)="csvProperties.stepper.next()"
                *ngIf="!(csvProperties.isLayerProperties$ | async)"
                [disabled]="!(csvProperties.actualPage$ | async).valid">Next</button>
        <button mat-raised-button color="primary" (click)="submit()"
                *ngIf="csvProperties.isLayerProperties$ | async"
                [disabled]="!(csvProperties.actualPage$ | async).valid"
        >
            Submit
        </button>
    </div>
</mat-dialog-actions>
