<wave-dialog-header>CSV-Upload</wave-dialog-header>
<md-dialog-content>
    <wave-csv-upload
        *ngIf="!data"
        [file_size_limit]="100000000"
        (onData)="data = $event"
    ></wave-csv-upload>
    <wave-csv-config
        *ngIf="!!data"
        [data]="data"
        [cellSpacing]="10"
        [linesToParse]="15"
        (finish)="submit($event)"
    ></wave-csv-config>
</md-dialog-content>
<!-- TODO: DO THIS WITH ALL THE BUTTONS! -->
<!-- Buttons -->

<md-dialog-actions align="end">
    <div class="buttons" *ngIf="!!csvConfig">
            <span *ngIf="(csvConfig.isSpatialProperties$ | async) || (csvConfig.isTemporalProperties$ | async) || (csvConfig.isTypingProperties$ | async)">
              <button md-raised-button (click)="csvConfig.prev()">Prev</button>
            </span>
        <span *ngIf="(csvConfig.isSpatialProperties$ | async) || (csvConfig.isDataProperties$ | async) || (csvConfig.isTemporalProperties$ | async)">
                <button md-raised-button color="primary" (click)="csvConfig.next()"
                        [disabled]="(((csvConfig.isSpatialProperties$ | async) && (csvConfig.xColumn$ | async) === (csvConfig.yColumn$ | async))
                                    || ((csvConfig.isTemporalProperties$ | async) && (((csvConfig.xColumn$ | async) === (csvConfig.yColumn$ | async))
                                    && ((csvConfig.model.intervalType.indexOf('end') >= 0 || csvConfig.model.intervalType.indexOf('duration') >= 0)
                                    && csvConfig.model.intervalType.indexOf('start') >= 0))) && csvConfig.model.header.length > 1)
                                    || !csvConfig.validHeader()"
                >
                    Next
                </button>
            </span>
        <button md-raised-button color="primary" (click)="csvConfig.submit()" *ngIf="csvConfig.isTypingProperties$ | async"
                [disabled]="(csvConfig.xColumn$ | async) === (csvConfig.yColumn$ | async)
                                && ((csvConfig.model.intervalType.indexOf('end') >= 0 || csvConfig.model.intervalType.indexOf('duration') >= 0)
                                && csvConfig.model.intervalType.indexOf('start') >= 0)"
        >
            Submit
        </button>
    </div>
</md-dialog-actions>
