<wave-dialog-header>CSV Upload</wave-dialog-header>
<md-dialog-content>
    <wave-csv-upload
        *ngIf="!data"
        [file_size_limit]="100000000"
        (onData)="data = $event"
    ></wave-csv-upload>
    <div *ngIf="!!data && !(uploading$ | async)">
        <wave-csv-properties
            #csvProperties
            [table]="csvTable"
            [data]="data"
        ></wave-csv-properties>
        <wave-csv-table
            #csvTable
            [properties]="csvProperties"
            [data]="data"
            [cellSpacing]="10"
            [linesToParse]="15"
        ></wave-csv-table>
    </div>

    <!--[data]="data"
        [cellSpacing]="10"
        [linesToParse]="15"
        (finish)="submit($event)"-->
    <md-spinner *ngIf="uploading$ | async"></md-spinner>
</md-dialog-content>

<md-dialog-actions align="end" *ngIf="!(uploading$ | async)">
    <div class="buttons" *ngIf="!!csvProperties">
            <span
                *ngIf="(csvProperties.isSpatialProperties$ | async) || (csvProperties.isTemporalProperties$ | async) || (csvProperties.isTypingProperties$ | async)">
              <button md-raised-button (click)="csvProperties.previousPage()">
                  Prev
              </button>
            </span>
        <span
            *ngIf="(csvProperties.isSpatialProperties$ | async) || (csvProperties.isDataProperties$ | async) || (csvProperties.isTemporalProperties$ | async)">
                <button md-raised-button color="primary" (click)="csvProperties.nextPage()"
                        [disabled]="!(csvProperties.actualPage$ | async).valid || (csvProperties.formStatus$.getValue() === FormStatus.DataProperties && csvProperties.csvTable.header.length < 2)"
                >
                    Next
                </button>
            </span>
        <button md-raised-button color="primary" (click)="csvProperties.submit()"
                *ngIf="csvProperties.isTypingProperties$ | async"
                [disabled]="!csvProperties.valid || (csvProperties.nameIsReserved$ | async) || csvProperties.layerName === ''"
        >
            Submit
        </button>
    </div>
</md-dialog-actions>
