:host {
    display: block;
    // padding: 1rem;
}

mat-selection-list ::ng-deep {
    .mat-line {
        white-space: normal !important;
    }
}

mat-divider {
    margin: 1rem 0;
}

h2 {
    color: var(--wave-foreground-secondary-text-color);
}

wave-dataset-list {
    display: block;
    height: 50vh;
    width: calc(100% + 2 * 24px);
    margin-left: -24px;
}
