<h2 class="mat-title">Select a dataset to display</h2>
<mat-selection-list [multiple]="false" (selectionChange)="selectData($event)">
    <div matSubheader>Biome</div>
    <mat-list-option value="biome">
        <h3 matLine>Biome</h3>
        <p matLine>Here could be some information about the dataset.</p>
    </mat-list-option>
    <mat-divider></mat-divider>
    <div matSubheader>The KK09 Anthropogenic Land Cover Change Scenarios for Europe and neighboring countries</div>
    <mat-list-option value="kk09_land_use_high">
        <h3 matLine>Land Use High</h3>
        <p matLine>Here could be some information about the dataset.</p>
    </mat-list-option>
    <mat-list-option value="kk09_land_use_low">
        <h3 matLine>Land Use Low</h3>
        <p matLine>Here could be some information about the dataset.</p>
    </mat-list-option>
    <mat-list-option value="kk09_land_use_tech">
        <h3 matLine>Land Use Tech</h3>
        <p matLine>Here could be some information about the dataset.</p>
    </mat-list-option>
</mat-selection-list>
