:host {
    display: block;
    padding: 1rem;
}

mat-spinner {
    width: 25%;
    height: auto;
    margin: 1rem auto;
}

button {
    margin-top: 1rem;
    width: 100%;

    &.sso-button {
        height: 4rem;
    }
}

.label {
    color: var(--wave-foreground-secondary-text-color, grey);
    margin-right: 1rem;
}
