<ng-container [ngSwitch]="formStatus$ | async">
    <ng-template [ngSwitchCase]="FormStatus.LoggedOut">
        <wave-sidenav-header>Login</wave-sidenav-header>
        <button mat-raised-button type="button" class="sso-button" (click)="login()">
            <mat-icon svgIcon="nature40:icon"></mat-icon>
            Continue with LOEWE Nature 4.0 Single Sign On
        </button>
    </ng-template>
    <ng-template [ngSwitchCase]="FormStatus.Loading">
        <mat-spinner></mat-spinner>
    </ng-template>
    <ng-template [ngSwitchCase]="FormStatus.LoggedIn">
        <wave-sidenav-header>User Info</wave-sidenav-header>
        <div fxLayout="row">
            <div class="label">
                <p>Username</p>
                <p>Real Name</p>
                <p>E-Mail</p>
            </div>
            <div>
                <p>{{(user | async).name}}</p>
                <p>{{(user | async).realName}}</p>
                <p>{{(user | async).email}}</p>
            </div>
        </div>
        <div fxLayout="row" class="container">
            <button mat-raised-button type="button" (click)="logout()" fxFlex color="primary">Logout</button>
        </div>
    </ng-template>
</ng-container>
