@import '../../../wave-app-theme';

form {
    padding: 1rem;
}

mat-button-toggle-group {
    margin-bottom: 1rem;
}

mat-button-toggle {
    text-align: center;
}

mat-button-toggle img {
    height: 1rem;
}

mat-form-field {
    width: 100% !important;
}

mat-checkbox {
    display: block;
    margin-bottom: 1rem;
}

mat-spinner {
    width: 25%;
    height: auto;
    margin: 1rem auto;
}

.error {
    color: mat-color($wave-app-warn);
}

.container {
    margin: 1rem;
}

mat-input-container {
    width: 100%;
}

button {
    margin-top: 1rem;
    width: 100%;
}

.label {
    color: mat-color(map-get($wave-app-theme, foreground), secondary-text);
    margin-right: 1rem;
}
