<wave-sidenav-header>Box plot</wave-sidenav-header>
<form [formGroup]="form" (ngSubmit)="$event.preventDefault(); add($event)" fxLayout="column">
    <div fxLayout="column" class="container">
        <wave-layer-selection [types]="ResultTypes.VECTOR_TYPES" formControlName="vLayer">
            <mat-hint
                align="end" class="error"
                *ngIf="form.controls['vLayer'].errors?.noNumericalAttributes"
            >
                There must be at least one numerical attribute in this layer.
            </mat-hint>
        </wave-layer-selection>
        <div *ngIf="form.controls['vLayer'].valueChanges | async" fxLayout="column" style="padding-bottom: 1em;">
            <div style="display: block;padding-bottom: 1em;">
                <div fxLayout="row">
                    <wave-dialog-section-heading title="Attributes">
                    </wave-dialog-section-heading>
                    <div fxFlex fxLayout="row" fxLayoutAlign="end">
                        <button mat-button color="primary"
                                (click)="$event.preventDefault();increase()"
                                [disabled]="(selectedLayers | async)?.length >= max || !(hasNumerics | async)"
                        ><mat-icon>add_circle_outline</mat-icon></button>
                        <button mat-button color="primary"
                                (click)="$event.preventDefault();decrease()"
                                [disabled]="(selectedLayers | async)?.length <= 0"
                        ><mat-icon>remove_circle_outline</mat-icon></button>
                    </div>
                </div>
                <div fxLayout="column">
                    <mat-form-field *ngFor="let value of (selectedLayers | async); let i = index" fxFlex>
                        <mat-select
                            placeholder="Attribute {{i+1}}"
                            [ngModel]="value.attr" (ngModelChange)="updateAttribute(i, $event)"
                            [ngModelOptions]="{standalone: true}"
                        >
                            <mat-option
                                *ngFor="let attribute of form.controls['vLayer'].value.operator.attributes | NumericPipe:form.controls['vLayer'].value.operator:attribute"
                                [value]="attribute"
                            >{{attribute}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="column">
                <wave-dialog-section-heading title="Boxplot settings" [subtitle]="'Settings for the resulting box plot of the given attributes.'">
                </wave-dialog-section-heading>
                <mat-checkbox formControlName="notch">Notch</mat-checkbox><br>
                <mat-checkbox formControlName="mean">Mean value</mat-checkbox><br>
                <mat-input-container>
                    <label>Range</label>
                    <input matInput required type="number" step="0.5" formControlName="range" min="0"/>
                </mat-input-container>
                <wave-operator-output-name
                    formControlName="name"
                    [suggestion]="'Box plot of ' + (form.controls['vLayer'].valueChanges | async)?.name"
                >
                    <mat-hint
                        align="end" class="error"
                        *ngIf="form.controls['name'].errors?.required || form.controls['name'].errors?.onlyWhitespace"
                    >
                        The name must be non-empty.
                    </mat-hint>
                </wave-operator-output-name>
            </div>
        </div>
    </div>
    <div class="actions">
        <button type="submit" mat-raised-button color="primary" [disabled]="(form.statusChanges | async) !== 'VALID' || (selectedLayers | async).length === 0">Create</button>
    </div>
</form>
