<wave-sidenav-header>Calculate Expression on Raster</wave-sidenav-header>
<form [formGroup]="form" (ngSubmit)="$event.preventDefault();add($event)" fxLayout="column">
    <div fxFlex class="container">
        <wave-multi-layer-selection
            [types]="[ResultTypes.RASTER]"
            formControlName="rasterLayers"
            [min]="1" [max]="5"
        ></wave-multi-layer-selection>
        <wave-dialog-section-heading
            title="Configuration" subtitle="Specify the operator"
        ></wave-dialog-section-heading>
        <p>Use A to reference the existing pixel of the first raster, B for the second one, etc.</p>
        <mat-form-field>
            <input matInput type="text" formControlName="expression" placeholder="Expression">
        </mat-form-field>
        <mat-form-field>
            <mat-select formControlName="dataType" placeholder="Output Data Type">
                <mat-option *ngFor="let dataType of outputDataTypes$ | async" [value]="dataType">
                    {{dataType[0]}} {{dataType[1]}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div fxLayout="row">
            <mat-form-field fxFlex>
                <input matInput type="number" formControlName="minValue" placeholder="Minimum Value">
            </mat-form-field>
            <div fxFlex="1rem"></div>
            <mat-form-field fxFlex>
                <input matInput type="number" formControlName="maxValue" placeholder="Maximum Value">
            </mat-form-field>
        </div>
        <mat-form-field>
            <mat-select formControlName="unit" placeholder="Output Unit">
                <mat-option *ngFor="let unit of outputUnits$ | async" [value]="unit">
                    {{unit}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <wave-reprojection-selection
            [layers]="form.controls.rasterLayers.valueChanges | async"
            formControlName="projection"
        ></wave-reprojection-selection>
        <wave-operator-output-name formControlName="name">
            <mat-hint align="end" class="error" *ngIf="form.controls.name.errors?.required || form.controls.name.errors?.onlyWhitespace">
                The name must be non-empty.
            </mat-hint>
        </wave-operator-output-name>
    </div>
    <div class="actions">
        <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">
            Create
        </button>
    </div>
</form>
