<md-nav-list>

    <h3 md-subheader>Files</h3>

    <md-list-item *ngFor="let u of tracks; let i = index" (click)="goToTrack(i)">
        <!-- #links [class.playing] = "currentTrack == i" -->
        <!--<md-icon *ngIf="currentAudio == i" class="md-24">play_circle_outline</md-icon>-->
        <md-icon md-list-icon *ngIf="currentTrack == i">radio_button_checked</md-icon>
        <md-icon md-list-icon *ngIf="currentTrack != i">radio_button_unchecked</md-icon>

        <p md-line [class.playing]="currentTrack == i">
            {{u | fileName}}
        </p>

        <a md-icon-button href="{{u}}" target="_blank" title="open in new tab" (click)="$event.stopPropagation()">
            <md-icon>open_in_new</md-icon>
        </a>
    </md-list-item>

</md-nav-list>
