<wave-sidenav-header>Country Selection</wave-sidenav-header>
    <wave-sidenav-search (searchString)="searchString$.next($event)">
    </wave-sidenav-search>

<md-table #table [dataSource]="tableEntries$">

    <!-- Name Column -->
    <ng-container mdColumnDef="name">
        <md-header-cell *mdHeaderCellDef>Country</md-header-cell>
        <md-cell *mdCellDef="let country">
            {{country.name}}
        </md-cell>
    </ng-container>

    <!-- Area Column -->
    <ng-container mdColumnDef="area">
        <md-header-cell *mdHeaderCellDef>Area</md-header-cell>
        <md-cell *mdCellDef="let country">
            {{country.area}}
        </md-cell>
    </ng-container>

    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *mdRowDef="let country; columns: displayedColumns;" (click)="simple_add(country)"></md-row>
</md-table>

