.group-container{
  width:80%;
  margin: 0 auto;
}
.spatialProperties {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.spatialProperties div:nth-child(even) {
  align: right;
}
.spatialProperties div {
  page-break-inside:avoid;
  page-break-after:auto;
  margin-right:30px;
}
.temporalProperties {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.dataProperties {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.selector td:nth-child(even){
  text-align:right;
  padding-left:50px;
}
.selector span{
  white-space: nowrap;
}
