<md-menu #projectionMenu="mdMenu">
    <button *ngFor="let p of projections" (click)="model.spatialRefSys = p">{{p}}</button>
</md-menu>
<md-menu #xColMenu="mdMenu">
    <button *ngFor="let i of range(0,model.header.length)" (click)="model.xCol = i">{{i}} - {{model.header[i]}}</button>
</md-menu>
<md-menu #yColMenu="mdMenu">
    <button *ngFor="let i of range(0,model.header.length)" (click)="model.yCol = i">{{i}} - {{model.header[i]}}</button>
</md-menu>


<md-input-container style="width: 100%;">
    <input mdInput [(ngModel)]="model.layerName" (ngModelChange)="storageName$.next($event)" name="layerName" placeholder="File Name"
           type="input">
    <md-hint class="error" *ngIf="nameIsReserved$ | async">Name is already in use.</md-hint>
</md-input-container>

<div fxLayout="row" fxLayoutAlign="left center">
    <md-slide-toggle *ngIf="isTemporalProperties$ | async" [(ngModel)]="model.isTime" (change)="update(false);"></md-slide-toggle>
    <wave-dialog-section-heading [title]="dialogTitle"></wave-dialog-section-heading>
</div>
<!-- First page -->

<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutAlign="space-around center" style="margin-bottom: 15px;"
     *ngIf="isDataProperties$ | async">
    <div fxLayout="column" fxLayoutGap="20px">
        <md-select placeholder="Delimiter"
                   name="delimitter" (change)="update(true)"
                   [(ngModel)]="model.delimitter">
            <md-option *ngFor="let del of delimitters" [value]="del.value">
                {{del.def}}
            </md-option>
        </md-select>
        <table cellspacing="0" cellpadding="0" style="border-spacing:0px;">
            <tr>
                <td>
                    <md-slide-toggle [(ngModel)]="model.isTextQualifier"
                                     name="isTextQualifier" (change)="update(true); resize();">
                    </md-slide-toggle>
                </td>
                <td style="padding: 0px;">
                    <md-select placeholder="Text qualifier"
                               name="texqual" (change)="update(true)"
                               [(ngModel)]="model.textQualifier"
                               disabled
                    >
                        <!--[disabled]="!model.isTextQualifier"-->
                        <md-option *ngFor="let tq of texqual" [value]="tq">
                            {{tq}}
                        </md-option>
                    </md-select>
                </td>
            </tr>
        </table>
    </div>
    <div fxLayout="column" fxLayout.xs="column" fxLayoutGap="10px">
        <md-select name="decsep" placeholder="Decimal seperator"
                   (change)="update(false)"
                   [(ngModel)]="model.decimalSeperator"
                   disabled
        >
            <md-option *ngFor="let ds of decsep" [value]="ds">
                <!-- TODO: Disable Comma, if comma is already used for delimiting purposes -->
                {{ds}}
            </md-option>
        </md-select>
        <table cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <td>
                </td>
                <td style="display: table-cell;" class="ng-pristine mat-select-disabled mat-select ng-touched">
                    <div style="cursor: default; display: flex; color: rgba(0, 0, 0, 0.38)">
                        <span style="cursor: default; transform: scale(.75); text-align: left; left: -2px;"
                              class="mat-select-placeholder">
                            Header Row
                        </span>
                    </div>
                </td>
            </tr>
            <tr style="max-height: 40px;">
                <td>
                    <md-slide-toggle style="margin: 0px;" [checked]="model.isHeaderRow"
                                     name="isHeaderRow" (change)="changeHeaderMode($event);">
                    </md-slide-toggle>
                </td>
                <td style="padding: 0px;">
                    <input type="number" min="0" value="0" [(ngModel)]="model.headerRow"
                           name="headerRowC"
                           (change)="update(true)"
                           disabled
                    ><!-- TODO: Need to add line count, so you cant expire. -->
                    <!--[disabled]="!model.isHeaderRow"-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Second page -->

<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutAlign="space-around center"
     style="width: 100%; margin-bottom: 15px;" *ngIf="isSpatialProperties$ | async">
    <div fxLayout="column" fxLayoutGap="20px">
        <div class="longitudeSelector">
            <md-select fxFlex="100" placeholder="{{model.spatialRefSys.xCoordinateName}}-Coordinate column"
                       name="xCoord" (change)="update(false)" [(ngModel)]="model.xCol">
                <template ngFor let-i [ngForOf]="range(0,model.header.length)">
                    <md-option [disabled]="i === (yColumn$ | async)" [value]="i">
                        <template [ngIf]="model.header[i] !== ''">
                            {{(i+1) + ' - ' + model.header[i]}}
                        </template>
                        <template [ngIf]="model.header[i] === ''">
                            {{(i+1) + ' - unnamed'}}
                        </template>
                    </md-option>
                </template>
            </md-select>
        </div>
        <div>
            <md-select style="width:100%;" placeholder="Spatial Reference System"
                       name="spatialRefSys" (change)="update(false)"
                       [(ngModel)]="model.spatialRefSys">
                <md-option *ngFor="let projection of Projections.ALL_PROJECTIONS"
                           [value]="projection">
                    {{projection}}
                </md-option>
            </md-select>
        </div>
    </div>
    <div fxLayout="column" fxLayoutGap="20px">
        <div class="latitudeSelector">
            <md-select fxFlex="100" placeholder="{{model.spatialRefSys.yCoordinateName}}-Coordinate column"
                       name="yCoord" (change)="update(false)" [(ngModel)]="model.yCol">
                <template ngFor let-i [ngForOf]="range(0,model.header.length)">
                    <md-option [disabled]="i === (xColumn$ | async)" [value]="i">
                        <template [ngIf]="model.header[i] !== ''">
                            {{(i+1) + ' - ' + model.header[i]}}
                        </template>
                        <template [ngIf]="model.header[i] === ''">
                            {{(i+1) + ' - unnamed'}}
                        </template>
                    </md-option>
                </template>
            </md-select>
        </div>
        <div>
            <md-select style="width:100%;" placeholder="Coordinate format"
                       style="align: right;" name="coordForm"
                       (change)="update(false)" [(ngModel)]="model.coordForm"
                       disabled
            >
                <md-option *ngFor="let i of range(0,coordFormats.length)"
                           [value]="coordFormats[i]">
                    {{coordFormats[i]}}
                </md-option>
            </md-select>
        </div>
    </div>
</div>


<!-- Third page -->
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutAlign="space-around center"
     style="width: 100%; margin-bottom: 15px;" *ngIf="isTemporalProperties$ | async">
    <div fxLayout="column" fxLayout.sm="row" fxLayoutGap="20px" class="temporal_fxElement">
        <md-select fxFlex="80"
                   placeholder="Interval type"
                   (change)="update(false)"
                   [(ngModel)]="model.intervalType"
                   [ngModelOptions]="{standalone: true}"
                   [disabled]="!model.isTime"
        >
            <md-option *ngFor="let intervalType of intervalTypes" [value]="intervalType.value">
                {{intervalType.display}}
            </md-option>
        </md-select>
    </div>
    <div fxLayout="column" fxLayout.xs="row" fxLayoutGap="20px" fxLayoutAlign="center" class="temporal_fxElement">
        <div [ngClass]="{startSelector: model.isTime}">
            <md-select placeholder="Start column"
                       name="startCol" (change)="update(false)"
                       [(ngModel)]="model.startCol"
                       [disabled]="model.intervalType.indexOf('start') < 0 || !model.isTime"
            >
                <template ngFor let-i [ngForOf]="range(0,model.header.length)">
                    <md-option
                        [disabled]="((model.intervalType.indexOf('end') >= 0 || model.intervalType.indexOf('duration') >= 0) && model.isTime && i === (yColumn$ | async)) || i === model.xCol || i === model.yCol"
                        [value]="i">
                        <template [ngIf]="model.header[i] !== ''">
                            {{(i+1) + ' - ' + model.header[i]}}
                        </template>
                        <template [ngIf]="model.header[i] === ''">
                            {{(i+1) + ' - unnamed'}}
                        </template>
                    </md-option>
                </template>
            </md-select>
        </div>
        <div [ngClass]="{endSelector: !(!model.isTime
                                                    || !(model.intervalType.indexOf('end') >= 0
                                                    || model.intervalType.indexOf('duration') >= 0))}"
        >
            <md-select
                [placeholder]="(model.intervalType.indexOf('duration') >= 0) ? 'Duration column' : 'End Column'"
                name="endCol" (change)="update(false)" [(ngModel)]="model.endCol"
                [disabled]="!(model.intervalType.indexOf('end') >= 0 || model.intervalType.indexOf('duration') >= 0) || !model.isTime">
                <template ngFor let-i [ngForOf]="range(0,model.header.length)">
                    <md-option
                        [disabled]="(model.intervalType.indexOf('start') >= 0 && model.isTime && i === (xColumn$ | async)) || i === model.xCol || i === model.yCol"
                        [value]="i">
                        <template [ngIf]="model.header[i] !== ''">
                            {{(i+1) + ' - ' + model.header[i]}}
                        </template>
                        <template [ngIf]="model.header[i] === ''">
                            {{(i+1) + ' - unnamed'}}
                        </template>
                    </md-option>
                </template>
            </md-select>
        </div>
    </div>
    <div fxLayout="column" fxLayout.xs="row" fxLayoutGap="20px" fxLayoutAlign="center" class="temporal_fxElement">
        <div [ngClass]="{startSelector: model.isTime}">
            <md-select placeholder="Start format"
                       (change)="update(false)"
                       [(ngModel)]="model.startFormat" [ngModelOptions]="{standalone: true}"
                       [disabled]="!model.isTime">
                <md-option *ngFor="let timeFormat of timeFormats" [value]="timeFormat.value">
                    {{timeFormat.display}}
                </md-option>
            </md-select>
        </div>
        <div [ngClass]="{endSelector: !(!model.isTime
                                                    || !(model.intervalType.indexOf('end') >= 0
                                                    || model.intervalType.indexOf('duration') >= 0))}"
        >
            <md-select
                [placeholder]="(model.intervalType.indexOf('duration') >= 0) ? 'Duration format' : 'End format'"
                (change)="update(false)"
                [(ngModel)]="model.endFormat" [ngModelOptions]="{standalone: true}"
                [disabled]="!model.isTime
                                                    || !(model.intervalType.indexOf('end') >= 0
                                                    || model.intervalType.indexOf('duration') >= 0)"
            >
                <template [ngIf]="model.intervalType.indexOf('duration') < 0">
                    <md-option *ngFor="let timeFormat of timeFormats" [value]="timeFormat.value">
                        {{timeFormat.display}}
                    </md-option>
                </template>
                <template [ngIf]="model.intervalType.indexOf('duration') >= 0">
                    <md-option *ngFor="let durationFormat of durationFormats"
                               [value]="durationFormat.value">
                        {{durationFormat.display}}
                    </md-option>
                </template>
            </md-select>
        </div>
    </div>
</div>

<!-- Table -->

<div #tableframe class="table-frame" style="width:500px;" (window:resize)="resizeTableFrame()">
    <div #typingdiv class="typingdiv" *ngIf="(isTypingProperties$ | async)">
        <table #typingtable class="resizeTable" cellspacing="0" cellpadding="0">
            <tr>
                <template ngFor let-i [ngForOf]="range(0,model.header.length)">
                    <td class="custom" style="margin-left:0; margin-right:0; padding-bottom: 3px;">
                        <md-select placeholder="Type" style="width: 100%; margin-top: 15px;"
                                   name="isNumber_{{i}}" *ngIf="typedCols.indexOf(i) < 0"
                                   [(ngModel)]="model.isNumberArr[i]">
                            <md-option [value]="true">
                                Number
                            </md-option>
                            <md-option [value]="false">
                                Text
                            </md-option>
                        </md-select>
                        <p *ngIf="i === model.xCol" class="coordinate_orange">
                            Coordinate
                        </p>
                        <p *ngIf="i === model.yCol" class="coordinate_blue">
                            Coordinate
                        </p>
                        <p *ngIf="(i === model.startCol) && model.isTime && model.intervalType.indexOf('start') >= 0"
                           class="time_green">
                            Time
                        </p>
                        <p class="time_violet"
                           *ngIf="(i === model.endCol) && model.isTime && (model.intervalType.indexOf('duration') >= 0 || model.intervalType.indexOf('end') >= 0)">
                            Time
                        </p>
                    </td>
                    <td *ngIf="i !== model.header.length-1" name="spacer"></td>
                </template>
            </tr>
        </table>
    </div>
    <div #headerdiv class="headerdiv">
        <table #headertable class="resizeTable" cellspacing="0" cellpadding="0">
            <tr>
                <!-- header goes here -->
                <template [ngIf]="model.isHeaderRow">
                    <template ngFor let-i [ngForOf]="range(0,model.header.length)">
                        <td style="margin-left:0; margin-right:0; padding-bottom: 3px; white-space: nowrap;"
                            title="{{model.header[i]}}"
                            [ngClass]="{'orangeHead': (isSpatialProperties$ | async) && (i === (xColumn$ | async)), 'blueHead': (isSpatialProperties$ | async) && (i === (yColumn$ | async)), 'greenHead': model.isTime && (isTemporalProperties$ |async) && (i === (xColumn$ | async)) && model.intervalType.indexOf('start') >= 0, 'violetHead': model.isTime && (isTemporalProperties$ | async) && (i === (yColumn$ | async)) && (model.intervalType.indexOf('duration') >= 0 || model.intervalType.indexOf('end') >= 0)}">
                            {{model.header[i]}}
                        </td>
                        <td *ngIf="i !== model.header.length-1" name="spacer"></td>
                    </template>
                </template>
                <template [ngIf]="!model.isHeaderRow">
                    <template ngFor let-i [ngForOf]="range(0,model.header.length)">
                        <td class="custom" style="margin-left:0; margin-right:0;"
                            [ngClass]="{orangeHead: (isSpatialProperties$ | async) && (i === (xColumn$ | async)), blueHead: (isSpatialProperties$ | async) && (i === (yColumn$ | async)), greenHead: model.isTime && (isTemporalProperties$ |async) && (i === (xColumn$ | async)) && model.intervalType.indexOf('start') >= 0, violetHead: model.isTime && (isTemporalProperties$ | async) && (i === (yColumn$ | async)) && (model.intervalType.indexOf('duration') >= 0 || model.intervalType.indexOf('end') >= 0)}">
                            <md-input-container>
                                <input mdInput type="text" placeholder="{{i+1}}{{ending(i+1)}} Column"
                                       [(ngModel)]="model.header[i]" name="header_{{i}}">
                            </md-input-container>
                        </td>
                        <td *ngIf="i !== model.header.length-1" name="spacer"></td>
                    </template>
                </template>
            </tr>
        </table>
    </div>
    <div #bodydiv class="bodydiv" (scroll)="bodyScroll()">
        <table #bodytable class="resizeTable" cellspacing="0" cellpadding="0">
            <!-- body goes here -->
            <tr *ngFor="let i of range(0,elements.length)" style="white-space: nowrap;">
                <template ngFor let-j [ngForOf]="range(0,model.header.length)">
                    <td style="margin-left:0; margin-right:0;"
                        [ngClass]="{orange: (isSpatialProperties$ | async) && (j === (xColumn$ | async)), blue: (isSpatialProperties$ | async) && (j === (yColumn$ | async)), green: model.isTime && (isTemporalProperties$ |async) && (j === (xColumn$ | async)) && model.intervalType.indexOf('start') >= 0, violet: model.isTime && (isTemporalProperties$ | async) && (j === (yColumn$ | async)) && (model.intervalType.indexOf('duration') >= 0 || model.intervalType.indexOf('end') >= 0)}">
                        {{elements[i][j]}}
                    </td>
                    <td *ngIf="j !== model.header.length-1" name="spacer"></td>
                </template>
            </tr>
        </table>
    </div>
</div>
