.frame{
  width:95%;
  margin: 0 auto;
}
.buttons {
  text-align:right;
}
td.orange{
  border-left-style: solid;
  border-right-style: solid;
  border-color:orange;
}
td.blue {
  border-left-style:solid;
  border-right-style:solid;
  border-color:#0039e6;
}
td.green{
  border-left-style: solid;
  border-right-style: solid;
  border-color:darkgreen;
}
td.violet {
  border-left-style:solid;
  border-right-style:solid;
  border-color:darkviolet;
}
.orangeHead {
  border-left-style:solid;
  border-right-style:solid;
  border-top-style:solid;
  border-color:orange;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.blueHead {
  border-left-style:solid;
  border-right-style:solid;
  border-top-style:solid;
  border-color:#0039e6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.greenHead {
  border-left-style:solid;
  border-right-style:solid;
  border-top-style:solid;
  border-color:green;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.violetHead {
  border-left-style:solid;
  border-right-style:solid;
  border-top-style:solid;
  border-color:darkviolet;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
