<wave-sidenav-header>Time Config</wave-sidenav-header>

<md-card>
    <md-card-header>
        <md-card-title><h3>Display Time Configuration</h3></md-card-title>
        <md-card-subtitle>Use this to specify a time selection for the current data.</md-card-subtitle>
    </md-card-header>

    <form [formGroup]="timeForm" (ngSubmit)="$event.preventDefault();applyTime()" fxLayout="column">
        <h4 *ngIf="config.TIME.ALLOW_RANGES">Start</h4>

        <wave-time-input formControlName="start"></wave-time-input>

        <ng-template [ngIf]="config.TIME.ALLOW_RANGES">
            <h4 fxLayout="row" fxLayoutAlign="space-between center">
                End
                <md-slide-toggle #timeAsPoint formControlName="timeAsPoint">same as start</md-slide-toggle>
            </h4>

            <wave-time-input formControlName="end" [disabled]="timeAsPoint.checked"></wave-time-input>
        </ng-template>


        <div class="actions" fxLayout="row" fxLayoutAlign="end">
            <span class="error" *ngIf="!timeForm.valid">Start must be before End.</span>
            <button md-raised-button (click)="reset()">
                Reset
            </button>
            <button md-raised-button color="primary" type="submit" [disabled]="timeForm.invalid">
                Apply
            </button>
        </div>
    </form>
</md-card>

<md-card>
    <md-card-header>
        <md-card-title><h3>Time Step Configuration</h3></md-card-title>
        <md-card-subtitle>Use this to specify a time step for the time component on top of the map.</md-card-subtitle>
    </md-card-header>

    <md-select placeholder="Time step"
               [ngModel]="timeStepDuration$ | async" (ngModelChange)="updateTimeStepDuration($event)"
               [compareWith]="timeStepComparator"
    >
        <md-option *ngFor="let timeStepDuration of timeStepDurations" [value]="timeStepDuration">
            {{ timeStepDuration.durationAmount }} {{ timeStepDuration.durationUnit}}
        </md-option>
    </md-select>

</md-card>
