<geoengine-dialog-header>VAT - The Visualization, Analysis and Transformation System</geoengine-dialog-header>
<mat-dialog-content>
    <h2>Basket Import</h2>
    <p>Here is a summary of the imported datasets from your basket!</p>

    <div class="entry-container">
        <mat-table #table [dataSource]="result.basket.content">
            <!-- Name Column -->
            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef>Dataset</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.title }} </mat-cell>
            </ng-container>

            <!-- Statius Column -->
            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef>Status </mat-header-cell>
                <mat-cell *matCellDef="let element"
                    ><span class="{{ element.status }}">{{ element.status }}</span></mat-cell
                >
            </ng-container>

            <mat-header-row *matHeaderRowDef="['title', 'status']"></mat-header-row>
            <mat-row *matRowDef="let row; columns: ['title', 'status']"></mat-row>
        </mat-table>
    </div>
    <div class="actions">
        <button *ngIf="hasLayers$ | async" mat-raised-button color="primary" (click)="replaceLayers()">Replace Layers</button>
        <button mat-raised-button color="primary" (click)="appendLayers()">Add Layers</button>
    </div>
</mat-dialog-content>
