$nav-width: 6rem;
$sidenav-width: 18rem;

mat-nav-list {
    position: absolute;
    left: 0;
    width: $nav-width;
    height: 100%;
    top: 0;

    padding-top: 0;

    background-color: var(--wave-background-color);

    mat-toolbar {
        padding: 1rem;
        white-space: break-spaces;
        text-align: center;

        height: 5rem;
    }

    a {
        height: 5rem;
    }

    a ::ng-deep .mat-list-item-content {
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }
}

mat-sidenav-container {
    left: $nav-width;
    width: calc(100% - #{$nav-width});
}

#bottom-float-buttons {
    position: fixed;
    z-index: 3;
    left: $nav-width;
    right: 0;
    top: 1rem;
    text-align: center;
}

wave-zoom-handles,
wave-app-time-step-selector {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: 2px;
}

wave-zoom-handles {
    position: absolute;
    right: 1rem;
}

button#analysisButton {
    z-index: 3;
    position: fixed;
    bottom: 1rem;
    left: $nav-width + 1rem;

    mat-icon {
        margin-right: 1rem;
        height: 2.5rem;
    }

    ::ng-deep &.sidenav-opened {
        left: $nav-width + $sidenav-width + 1rem;
    }
}

mat-card#analysisCard {
    z-index: 3;
    position: fixed;
    bottom: 1rem;
    left: $nav-width + 1rem;

    ::ng-deep &.sidenav-opened {
        left: $nav-width + $sidenav-width + 1rem;
    }
}

wave-legend {
    z-index: 4;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: rgba(255, 255, 255, 0.87);
}

.mid-container {
    z-index: 0;
    position: relative;
}

mat-sidenav {
    width: $sidenav-width;
}
