$sidenav-width: 24rem;

.sidenav {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: $sidenav-width;

    z-index: 5;

    background-color: var(--wave-background-color);

    overflow: auto;

    mat-toolbar img {
        width: 60%;
        margin: 0 auto;
    }

    mat-expansion-panel-header {
        mat-panel-title {
            flex: 1;
        }

        mat-panel-description {
            flex: 0;
        }
    }
}

#bottom-float-buttons {
    position: fixed;
    z-index: 3;
    left: $sidenav-width;
    right: 0;
    top: 1rem;
    text-align: center;
}

wave-zoom-handles,
wave-app-time-step-selector {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: 2px;
}

wave-zoom-handles {
    position: absolute;
    right: 1rem;
}

button#analysisButton {
    z-index: 3;
    position: fixed;
    bottom: 1rem;
    left: $sidenav-width + 1rem;

    mat-icon {
        margin-right: 1rem;
        height: 2.5rem;
    }
}

mat-card#analysisCard {
    z-index: 3;
    position: fixed;
    bottom: 1rem;
    left: $sidenav-width + 1rem;
}

wave-legend {
    z-index: 4;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: rgba(255, 255, 255, 0.87);
}

.mid-container {
    z-index: 0;
    position: relative;
    left: $sidenav-width;
    width: calc(100% - 24rem);
}

mat-sidenav {
    width: $sidenav-width;
}
