<div *ngIf="isSelecting$ | async">
    Select file:
    <input type="file" multiple="false" (change)="changeListener($event)" accept=".csv">
</div>
<div *ngIf="isLoading$ | async">
    <p style="text-align: center">
        {{this.data.file.name}}
    </p>
    <md-progress-circle [value]="data.progress">
        {{data.progress}}%
    </md-progress-circle>
</div>

<wave-csv-config *ngIf="isFinished$ | async" [data]="data"
                 [cellSpacing]="10"
                 [linesToParse]="15"
                 [config]="result"
                 (finish)="submit($event)"
></wave-csv-config>
