<form [formGroup]="form">
    <div formArrayName="provenance" *ngFor="let control of form.controls.provenance.controls; let i = index">
        Entry {{ i + 1 }}
        <button mat-icon-button (click)="removeEntry(i)">
            <mat-icon>delete</mat-icon>
        </button>
        <div [formGroupName]="i">
            <mat-form-field appearance="fill">
                <mat-label>Citation</mat-label>
                <textarea matInput formControlName="citation"></textarea>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>License</mat-label>
                <textarea matInput formControlName="license"></textarea>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>URI</mat-label>
                <input matInput formControlName="uri" />
            </mat-form-field>
        </div>
    </div>
    <div class="actions">
        <button mat-raised-button (click)="addEntry()">Add Entry</button>
    </div>
</form>
