<wave-sidenav-header>ABCD Archives</wave-sidenav-header>
<wave-sidenav-search (searchString)="searchString$.next($event)"></wave-sidenav-search>
<mat-nav-list>
    <ng-template ngFor let-group [ngForOf]="groups | async">
        <div mat-subheader class="datagroup" fxLayout="row" fxLayoutAlign="space-between center">
            <span bind-innerHtml="group.name | waveHighlightPipe: (searchString$ | async) | waveSafeHtml"></span>
            <span
                ><a mat-icon-button target="_blank" href="{{ group?.uri }}" *ngIf="!!group.uri"><mat-icon>open_in_new</mat-icon></a></span
            >
        </div>
        <ng-template ngFor let-archive [ngForOf]="group.group">
            <mat-list-item *ngIf="archive.available">
                <a mat-icon-button target="_blank" href="{{ archive.link }}" *ngIf="!!archive.link" matTooltip="landingpage">
                    <mat-icon>open_in_new</mat-icon>
                </a>
                <p mat-line [matTooltip]="archive.dataset" (click)="add(archive)">
                    <span bind-innerHtml="archive.dataset | waveHighlightPipe: (searchString$ | async) | waveSafeHtml"></span>
                </p>
            </mat-list-item>
        </ng-template>
        <mat-divider></mat-divider>
    </ng-template>
</mat-nav-list>
