<geoengine-dialog-header>VAT - The Visualization, Analysis and Transformation System</geoengine-dialog-header>
<mat-dialog-content>
    <h2>Basket Import</h2>
    <p>Here is a summary of the imported datasets from your basket!</p>

    <div class="entry-container">
        <mat-table #table [dataSource]="collection.items">
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Dataset</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef>Status </mat-header-cell>
                <mat-cell *matCellDef="let element"><span class="{{ element.name }}">TODO</span></mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="['name', 'status']"></mat-header-row>
            <mat-row *matRowDef="let row; columns: ['name', 'status']"></mat-row>
        </mat-table>
    </div>
    <div class="actions">
        <button *ngIf="hasLayers$ | async" mat-raised-button color="primary" (click)="replaceLayers()">Replace Layers</button>
        <button mat-raised-button color="primary" (click)="appendLayers()">Add Layers</button>
    </div>
</mat-dialog-content>
