<wave-sidenav-header>Nature 4.0 Catalog</wave-sidenav-header>
<ng-container [ngSwitch]="(catalog$ | async)?.size">
    <div *ngSwitchCase="undefined" class="info">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngSwitchCase="0" class="info mat-typography"><p>The catalog is currently empty.</p></div>
    <mat-list *ngSwitchDefault>
        <ng-template ngFor let-group [ngForOf]="(catalog$ | async) | keyvalue">
            <h3 mat-subheader fxLayout="row">
                <span fxFlex>{{group.key}}</span>
                <a href="{{group.value[0].provider.url}}" title="Open externally" target="_blank">
                    <mat-icon mat-list-icon>open_in_new</mat-icon>
                </a>
            </h3>
            <mat-list-item *ngFor="let entry of group.value">
                <ng-container [ngSwitch]="entry.dataset.type">
                    <img mat-list-icon *ngSwitchCase="'raster'" [src]="RASTER_ICON_URL" alt="Raster">
                    <img mat-list-icon *ngSwitchCase="'vector'" [src]="VECTOR_ICON_URL" alt="Vector">
                    <mat-icon mat-list-icon *ngSwitchDefault>data_usage</mat-icon>
                </ng-container>
                <div class="mat-list-text">
                    <h4 mat-line fxLayout="row">
                        <span fxFlex>{{entry.title}}</span>
                        <a href="{{entry.user_url}}" title="Open externally" target="_blank">
                            <mat-icon mat-list-icon>open_in_new</mat-icon>
                        </a>
                    </h4>
                    <p mat-line>{{entry.description}}</p>
                </div>
            </mat-list-item>
            <mat-divider></mat-divider>
        </ng-template>
    </mat-list>
</ng-container>
