geoengine-navigation {
    z-index: 10;
}

mat-toolbar {
    padding: 0;
    position: relative;
    z-index: 1;

    .box {
        max-height: inherit;
        height: inherit;
        .logo .mat-icon {
            width: 100%;

            ::ng-deep svg {
                border: none;
                border-radius: unset;
            }
        }
        @media (max-width: 550px) {
            display: none;
        }
    }

    .navbar {
        width: 68vw;
        @media (max-width: 550px) {
            width: 100vw;
        }
        display: flex;
        justify-content: center;

        .small-box {
            ::ng-deep .container {
                border-right: none;
                width: 10vw;
                min-width: 70px;
            }
            .logo .mat-icon {
                vertical-align: middle;
                transform: scale(1.3);

                ::ng-deep svg {
                    border: none;
                    border-radius: unset;
                }
            }
            @media (min-width: 550px) {
                display: none;
            }
        }
        .navbar-element {
            @media (max-width: 550px) {
                padding-top: 0.4rem;
            }
        }

        .space {
            width: 2rem;
        }
    }
}

geoengine-layer-list {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 4rem;
    background-color: rgba(255, 255, 255, 0.87);
    border-bottom-right-radius: 2px;

    @media (max-width: 600px) {
        top: 3.5rem;
    }

    ::ng-deep svg {
        border: none;
        border-radius: unset;
    }
}

:host ::ng-deep .mat-sidenav-content {
    overflow: hidden;
}

.mat-sidenav {
    border: none;
}

.top-container {
    z-index: 1;
}

.mid-container {
    z-index: 0;
    position: relative;
}

.bottom-container {
    position: relative;
    z-index: 1;

    min-height: 3rem;
    @media (max-width: 600px) and (orientation: portrait) {
        min-height: 2.5rem;
    }
    @media (max-width: 960px) and (orientation: landscape) {
        min-height: 2rem;
    }

    .toggle {
        position: absolute;
        z-index: 1;
        padding: 0;
        min-width: 3rem;
        width: 3rem;
        height: 3rem;
        @media (max-width: 600px) and (orientation: portrait) {
            min-width: 2.5rem;
            width: 2.5rem;
            height: 2.5rem;
        }
        @media (max-width: 960px) and (orientation: landscape) {
            min-width: 2rem;
            width: 2rem;
            height: 2rem;
        }
    }

    ::ng-deep .mat-tab-label-container {
        margin-left: 3rem;
        @media (max-width: 600px) and (orientation: portrait) {
            margin-left: 2.5rem;
        }
        @media (max-width: 960px) and (orientation: landscape) {
            margin-left: 2rem;
        }
    }

    @media (max-width: 960px) and (orientation: landscape) {
        ::ng-deep mat-tab-header {
            height: 2rem;
        }
        ::ng-deep .mat-tab-label {
            line-height: 2rem;
        }
    }
    @media (max-width: 600px) and (orientation: portrait) {
        ::ng-deep mat-tab-header {
            height: 2.5rem;
        }
        ::ng-deep .mat-tab-label {
            line-height: 2.5rem;
        }
    }
}

.bottom-container.small {
    max-height: 3rem !important;
    @media (max-width: 600px) and (orientation: portrait) {
        max-height: 2.5rem !important;
    }
    @media (max-width: 960px) and (orientation: landscape) {
        max-height: 2rem !important;
    }

    ::ng-deep mat-tab-header {
        border: 0;
    }
}
