<wave-sidenav-header>Country Selection</wave-sidenav-header>
    <wave-sidenav-search (searchString)="searchString$.next($event)">
</wave-sidenav-search>

<ng-template #table>
    <mat-table [dataSource]="tableEntries">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Country Name</mat-header-cell>
            <mat-cell
                *matCellDef="let entry"
                bind-innerHtml="entry[sourceIdColumn] | waveHighlightPipe:(searchString$ | async) | waveSafeHtml"
            ></mat-cell>
        </ng-container>

        <!-- Area Column -->
        <ng-container matColumnDef="area">
            <mat-header-cell *matHeaderCellDef>Area</mat-header-cell>
            <mat-cell *matCellDef="let entry">{{entry[sourceAreaColumn] * 10}} km²</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row
            *matRowDef="let entry; columns: displayedColumns;"
            (click)="addLayer(entry[sourceIdColumn], createFilterOperator(entry[sourceIdColumn]))"
        ></mat-row>
    </mat-table>
</ng-template>

<div *ngIf="(isLoading$ | async); else table" class="loading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
