@import '../../../../wave-app-theme';

mat-toolbar ::ng-deep mat-toolbar-row:first-child {
    display: none;
}

p {
    color: mat-color(map-get($wave-app-theme, foreground), secondary-text);
}

mat-row {
    cursor: pointer;
}

mat-row:hover {
    background-color: mat-color(map-get($wave-app-theme, background), hover);
}

mat-cell ::ng-deep .highlight {
    color: mat-color($wave-app-accent);
}

mat-progress-spinner {
    width: 25%;
    height: auto;
    margin: 2rem auto;
}
