<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="container" fxLayout="column" fxLayoutAlign="space-around">
        <mat-card class="login">
            <mat-card-header>
                <mat-icon matCardTitle svgIcon="geoengine:logo-alt" aria-label="Geo Engine" [inline]="true"></mat-icon>
                <mat-card-subtitle [ngSwitch]="formStatus$ | async">
                    <ng-template [ngSwitchCase]="FormStatus.LoggedOut">Login to this Geo Engine instance</ng-template>
                    <ng-template [ngSwitchCase]="FormStatus.LoggedIn">User Info</ng-template>
                </mat-card-subtitle>
            </mat-card-header>

            <mat-card-content [ngSwitch]="formStatus$ | async">
                <ng-template [ngSwitchCase]="FormStatus.LoggedOut">
                    <mat-form-field>
                        <input matInput type="text" placeholder="E-Mail" formControlName="email" />
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="password" placeholder="Password" formControlName="password" />
                    </mat-form-field>
                    <p class="error" *ngIf="invalidCredentials$ | async">Invalid Credentials</p>
                </ng-template>
                <ng-template [ngSwitchCase]="FormStatus.Loading">
                    <mat-spinner></mat-spinner>
                </ng-template>
                <ng-template [ngSwitchCase]="FormStatus.LoggedIn">
                    <table *ngIf="user">
                        <tr>
                            <th>E-Mail</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th>Real Name</th>
                            <td>{{ user.realName }}</td>
                        </tr>
                    </table>
                </ng-template>
            </mat-card-content>
            <mat-card-actions [ngSwitch]="formStatus$ | async" fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="space-between center">
                <ng-template [ngSwitchCase]="FormStatus.LoggedOut">
                    <button
                        mat-raised-button
                        type="submit"
                        [disabled]="(loginForm.statusChanges | async) !== 'VALID'"
                        color="primary"
                        fxFlex
                    >
                        Login
                    </button>
                    <a routerLink="/register" *ngIf="canRegister">Register</a>
                </ng-template>
                <ng-template [ngSwitchCase]="FormStatus.LoggedIn">
                    <button mat-raised-button (click)="$event.preventDefault(); redirectToMainView()" fxFlex>To Map</button>
                    <button mat-raised-button (click)="$event.preventDefault(); logout()" fxFlex color="primary">Logout</button>
                </ng-template>
            </mat-card-actions>
        </mat-card>
    </div>
</form>
