<wave-sidenav-header>Time plot</wave-sidenav-header>
<form [formGroup]="form" (ngSubmit)="$event.preventDefault(); add($event)" fxLayout="column">
    <div fxFlex class="container">
        <wave-layer-selection [types]="ResultTypes.VECTOR_TYPES" formControlName="layer"></wave-layer-selection>
        <div *ngIf="form.controls['layer'].valueChanges | async">
            <wave-dialog-section-heading title="Attribute"
                                         [subtitle]="'Select an attribute of layer ' + form.controls['layer'].value.name">
            </wave-dialog-section-heading>
            <mat-form-field>
                <mat-select placeholder="Attribute" formControlName="attribute">
                    <mat-option
                        *ngFor="let attribute of form.controls['layer'].value.operator.attributes.sort()"
                        [value]="attribute"
                    >{{attribute}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-slide-toggle formControlName="isGrouping">
                <wave-dialog-section-heading title="Grouping"
                                             [subtitle]="'Select an grouping attribute'">
                </wave-dialog-section-heading>
            </mat-slide-toggle>
            <mat-form-field>
                <mat-select placeholder="Grouping" formControlName="grouping" [disabled]="!form.controls['isGrouping'].value">
                    <mat-option
                        *ngFor="let attribute of form.controls['layer'].value.operator.attributes.sort()"
                        [value]="attribute"
                    >{{attribute}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <wave-operator-output-name
            formControlName="name"
            [suggestion]="'Time plot of ' + (form.controls['layer'].valueChanges | async)?.name"
        >
            <mat-hint
                align="end" class="error"
                *ngIf="form.controls['name'].errors?.required || form.controls['name'].errors?.onlyWhitespace"
            >
                The name must be non-empty.
            </mat-hint>
        </wave-operator-output-name>
    </div>
    <div class="actions">
        <button type="submit" mat-raised-button color="primary" [disabled]="(form.statusChanges | async) !== 'VALID'">
            Create
        </button>
    </div>
</form>
