<wave-sidenav-header>GFBio Terminology Lookup</wave-sidenav-header>
<form [formGroup]="form" (ngSubmit)="add()" fxLayout="column">
    <div fxFlex class="container">
        <wave-layer-selection [types]="ResultTypes.VECTOR_TYPES" formControlName="vectorLayer"></wave-layer-selection>
        <wave-dialog-section-heading title="Lookup settings" subtitle="Select the attribute to lookup."></wave-dialog-section-heading>
        <mat-form-field>
            <mat-select placeholder="Attribute" formControlName="attribute">
                <mat-option *ngFor="let attribute of attributes$ | async" [value]="attribute">{{ attribute }} </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Terminology" formControlName="terminology">
                <mat-option *ngFor="let terminology of TERMINOLOGIES" [value]="terminology.acronym">
                    [{{ terminology.acronym }}] {{ terminology.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="terminology_key" placeholder="Terminology Key" />
            <mat-hint
                align="end"
                class="error"
                *ngIf="form.controls.terminology_key.errors?.required || form.controls.terminology_key.errors?.onlyWhitespace"
            >
                The terminology_key must be non-empty.
            </mat-hint>
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="resolved_attribute_name" placeholder="Resolved Attribute Name" />
            <mat-hint
                align="end"
                class="error"
                *ngIf="
                    form.controls.resolved_attribute_name.errors?.required || form.controls.resolved_attribute_name.errors?.onlyWhitespace
                "
            >
                The resolved attribute name must be non-empty.
            </mat-hint>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Unresolvable" formControlName="on_not_resolvable">
                <mat-option [value]="TerminologyLookupOnNotResolvable.KEEP">{{ TerminologyLookupOnNotResolvable.KEEP }}</mat-option>
                <mat-option [value]="TerminologyLookupOnNotResolvable.EMPTY">{{ TerminologyLookupOnNotResolvable.EMPTY }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Match type" formControlName="matchType">
                <mat-option [value]="TerminologyLookupMatchType.EXACT">{{ TerminologyLookupMatchType.EXACT }}</mat-option>
                <mat-option [value]="TerminologyLookupMatchType.INCLUDED">{{ TerminologyLookupMatchType.INCLUDED }}</mat-option>
                <mat-option [value]="TerminologyLookupMatchType.REGEX">{{ TerminologyLookupMatchType.REGEX }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-slide-toggle formControlName="first_hit"> Use first hit </mat-slide-toggle>

        <wave-operator-output-name
            formControlName="name"
            [suggestion]="'Filtered ' + (form.controls.vectorLayer.valueChanges | async)?.name"
        >
            <mat-hint align="end" class="error" *ngIf="form.controls.name.errors?.required || form.controls.name.errors?.onlyWhitespace">
                The name must be non-empty.
            </mat-hint>
        </wave-operator-output-name>
    </div>
    <div class="actions">
        <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Create</button>
    </div>
</form>
