<div class="audioContainer">
    <div>
        <p class="pull-left">{{audioURLs[currentAudio] | fileName}}</p>
        <p class="pull-right">Audio {{currentAudio + 1}} of {{audioURLs.length}}</p>
    </div>

    <audio [src]="audioURLs[currentAudio]" [controls]="true" [autoplay]="autoPlay" (ended)="playNext()"></audio>

    <wave-dialog-playlist [tracks]="audioURLs" [currentTrack]="currentAudio" (gotoTrack)="goToAudio($event)"></wave-dialog-playlist>
</div>

<button md-mini-fab color="primary" (click)="dialogRef.close()" class="close" [title]="'close popup'">
    <md-icon class="md-24">close</md-icon>
</button>

<a md-mini-fab color="primary" [href]="audioURLs[currentAudio]" target="_blank" class="externalLink" [title]="'open in new tab'">
    <md-icon class="md-24">open_in_new</md-icon>
</a>
