@import '~@angular/material/theming';

// Material Base Styles
@include mat-core();

// Define Colors
$geoengine-dark-green: (
    50: #e7f1e8,
    100: #c3ddc5,
    200: #9cc79e,
    300: #74b077,
    400: #569f59,
    500: #388e3c,
    600: #328636,
    700: #2b7b2e,
    800: #247127,
    900: #175f1a,
    A100: #9aff9d,
    A200: #67ff6b,
    A400: #34ff3a,
    A700: #1aff21,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$geoengine-light-green: (
    50: #edf7ed,
    100: #d2ecd2,
    200: #b5dfb4,
    300: #97d296,
    400: #80c980,
    500: #6abf69,
    600: #62b961,
    700: #57b156,
    800: #4da94c,
    900: #3c9b3b,
    A100: #ebffeb,
    A200: #b8ffb8,
    A400: #86ff85,
    A700: #6dff6b,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

// Define App Theme
$wave-app-primary: mat-palette($geoengine-dark-green);
$wave-app-accent: mat-palette($geoengine-light-green, A200, A100, A400);
$wave-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$wave-app-theme: mat-light-theme($wave-app-primary, $wave-app-accent, $wave-app-warn);

// Apply Angular Material Mixin to Color Theme
@include angular-material-theme($wave-app-theme);
