table {
    width: 100%;
    font-size: 0.8em;
}

mat-divider {
    padding-bottom: 1rem;
}

.color_cell {
    text-align: center;
    min-width: 2rem;
    min-height: 2rem;
    color: black !important;
    text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff !important;
}

td:first-child, td:last-child {
    width: 1%;
    white-space: nowrap;
}

mat-slider {
    min-width: unset;
    width: 100%;
}
