<div>Layer Properties</div>
<div>
    <table>
        <tr>
            <td><span>Opacity</span></td>
            <td>
                <mat-slider #slo (change)="updateOpacity($event)" [value]="symbology?.opacity*100" max="100" min="1" step="1"
                            thumbLabel>
                </mat-slider>
            </td>
            <td>{{slo.displayValue}} %</td>
        </tr>
    </table>
</div>
<mat-divider></mat-divider>
<div>
    <wave-color-breakpoint [ngModel]="symbology.noDataColor" attributePlaceholder="NoData color" disabledAttribute="true"
                           (ngModelChange)="updateNoDataColor($event)">
    </wave-color-breakpoint>
    <wave-color-breakpoint [ngModel]="symbology.overflowColor" attributePlaceholder="Overflow color" disabledAttribute="true"
                           (ngModelChange)="updateOverflowColor($event)">
    </wave-color-breakpoint>
</div>

<div>
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>color_lens</mat-icon>
                color table
            </ng-template>
            <wave-colorizer-editor [ngModel]="symbology.colorizer" (ngModelChange)="updateColorizer($event)"></wave-colorizer-editor>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>looks</mat-icon>
                color maps
            </ng-template>
            <wave-colormap-colorizer (colormapColorizerData)="updateColorizer($event)">
            </wave-colormap-colorizer>
        </mat-tab>
    </mat-tab-group>
</div>


