<div>
    <button md-raised-button
            [color]="loginColor$ | async"
            (click)="layoutService.setSidenavContentComponent({component: LoginComponent})"
            [mdTooltip]="(userService.isGuestUserStream() | async) ? 'Login' : 'User Account'" mdTooltipPosition="before"
    >
        <md-icon *waveIfLoggedIn>person</md-icon>
        <md-icon *waveIfGuest>person_outline</md-icon>
    </button>
    <button md-raised-button
            [color]="buttonColor(layoutService.getSidenavContentComponentStream() | async, SourceOperatorListComponent)"
            (click)="layoutService.setSidenavContentComponent({component: SourceOperatorListComponent})"
            mdTooltip="Add Data" mdTooltipPosition="before"
    >
        <md-icon>add</md-icon>
    </button>
    <button md-raised-button
            [color]="buttonColor(layoutService.getSidenavContentComponentStream() | async, OperatorListComponent)"
            (click)="layoutService.setSidenavContentComponent({component: OperatorListComponent})"
            mdTooltip="Operators" mdTooltipPosition="before"
    >
        <span class="icon-cogs"></span>
    </button>
    <button md-raised-button
            [color]="buttonColor(layoutService.getSidenavContentComponentStream() | async, PlotListComponent)"
            (click)="layoutService.setSidenavContentComponent({component: PlotListComponent})"
            mdTooltip="Plots" mdTooltipPosition="before"
    >
        <md-icon>equalizer</md-icon>
    </button>
    <button md-raised-button
            [color]="buttonColor(layoutService.getSidenavContentComponentStream() | async, TimeConfigComponent)"
            (click)="layoutService.setSidenavContentComponent({component: TimeConfigComponent})"
            mdTooltip="Time" mdTooltipPosition="before"
    >
        <md-icon>access_time</md-icon>
    </button>
    <button md-raised-button
            [color]="buttonColor(layoutService.getSidenavContentComponentStream() | async, WorkspaceSettingsComponent)"
            (click)="layoutService.setSidenavContentComponent({component: WorkspaceSettingsComponent})"
            mdTooltip="Workspace" mdTooltipPosition="before"
    >
        <md-icon>settings</md-icon>
    </button>
    <button md-raised-button
            [color]="buttonColor(layoutService.getSidenavContentComponentStream() | async, HelpComponent)"
            (click)="layoutService.setSidenavContentComponent({component: HelpComponent})"
            mdTooltip="Help" mdTooltipPosition="before"
    >
        <md-icon>help</md-icon>
    </button>
</div>
