:host {
    position: absolute;
    display: block;
    right: 0;

    top: 5rem;
    @media (max-width: 600px) and (orientation: portrait) {
        top: 4.5rem;
    }
    @media (max-width: 960px) and (orientation: landscape) {
        top: 4rem;
    }
}

button {
    display: block;
    padding: 0;
    line-height: 100%;

    min-width: 3rem;
    width: 3rem;
    min-height: 3rem;
    height: 3rem;

    @media (max-width: 600px) and (orientation: portrait) {
        min-width: 2.5rem;
        width: 2.5rem;
        min-height: 2.5rem;
        height: 2.5rem;
    }
    @media (max-width: 960px) and (orientation: landscape) {
        min-width: 2rem;
        width: 2rem;
        min-height: 2rem;
        height: 2rem;
    }

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

button:not(:last-child) {
    margin-bottom: 1rem;
}
