<div>
    <button md-raised-button
            [color]="buttonColor(layoutService.getSidenavContentComponentStream() | async, HelpComponent)"
            (click)="layoutService.setSidenavContentComponent(HelpComponent)"
    >
        <md-icon>help</md-icon>
    </button>
    <button md-raised-button
            [color]="buttonColor(layoutService.getSidenavContentComponentStream() | async, SourceOperatorListComponent)"
            (click)="layoutService.setSidenavContentComponent(SourceOperatorListComponent)"
    >
        <md-icon>add</md-icon>
    </button>
    <button md-raised-button
            [color]="buttonColor(layoutService.getSidenavContentComponentStream() | async, OperatorRepositoryComponent)"
            (click)="layoutService.setSidenavContentComponent(OperatorRepositoryComponent)"
    >
        <md-icon>build</md-icon>
    </button>
    <button md-raised-button
            [color]="buttonColor(layoutService.getSidenavContentComponentStream() | async, LoginComponent)"
            (click)="layoutService.setSidenavContentComponent(LoginComponent)"
    >
        <md-icon *waveIfLoggedIn>person</md-icon>
        <md-icon *waveIfGuest>person_outline</md-icon>
    </button>
</div>
