<wave-dialog-header>VAT - The Visualization, Analysis and Transformation System</wave-dialog-header>
<mat-dialog-content>
    <h2>Biodiversity Data Easily Explored Online</h2>
    <p>Visualize, analyze and transform your biodiversity data in a comfortable online GIS environment! Save and share your workflows!</p>
    <p>
        Have access to collections and biodiversity data centers, international data aggregators and environmental data, and integrate your
        own data!
    </p>
    <p>For a detailed introduction, please have a look at our help section!</p>
    <br />
    <img src="assets/logo_gfbio.png" alt="GFBio" />
    <p>
        <em>VAT</em> is part of the German Federation for Biological Data (<em>GFBio</em>,
        <a href="https://www.gfbio.org">www.gfbio.org</a>), a sustainable, service oriented, national data infrastructure facilitating data
        sharing for biological and environmental research.
    </p>
    <br />
    <mat-card class="info"
        >If you want to learn how to integrate data from GFBio's data search in the VAT tool, have a look at our
        <a href="https://www.gfbio.org/how-to-integrate-search-data-in-the-vat-tool">How-To</a>.
    </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <mat-checkbox (change)="changeTick($event)">Don't show this message again</mat-checkbox>
</mat-dialog-actions>
