<wave-sidenav-header>Draw Features</wave-sidenav-header>

<mat-select placeholder="Feature type" [(value)]="selectedFeatureType">
    <mat-option *ngFor="let featureType of featureTypes" [value]="featureType">
        {{ featureType }}
    </mat-option>
</mat-select>

<button mat-raised-button [disabled]="isDrawingActive || !selectedFeatureType" (click)="startDrawing()">Start</button>

<button mat-raised-button color="accent" [disabled]="!isDrawingActive" (click)="endDrawing()">End</button>

<button mat-raised-button color="warn" [disabled]="!isDrawingActive" (click)="cancelDrawing()">Cancel</button>
