<wave-sidenav-header>Draw Features</wave-sidenav-header>

<p class="mat-subheader">Draw in the map the area you want to analyze to</p>

<md-select class="mat-subheader" placeholder="Feature type" [(value)]="selectedFeatureType">
    <md-option *ngFor="let featureType of featureTypes" [value]="featureType">
        {{ featureType }}
    </md-option>
</md-select>

<div class="mat-subheader">

<button md-raised-button [disabled]="isDrawingActive || !selectedFeatureType" (click)="startDrawing()">Start</button>

<button md-raised-button color="accent" [disabled]="!isDrawingActive" (click)="endDrawing()">Finish</button>

<button md-raised-button color="warn" [disabled]="!isDrawingActive" (click)="cancelDrawing()">Cancel</button>

</div>
