<mat-horizontal-stepper #stepper (selectionChange)="next($event)" linear>
    <mat-step [stepControl]="dataProperties">
        <!-- Label goes here -->
        <ng-template matStepLabel>
            Data
        </ng-template>
        <wave-dialog-section-heading [title]="'CSV Settings'" [subtitle]="'Please specify the properties of your CSV file, e.g. the delimiter.'" style="text-align: left"></wave-dialog-section-heading>
        <form [formGroup]="dataProperties"
              fxLayout="row" fxLayout.xs="column" fxLayoutGap="1rem" fxLayoutAlign="space-around center"
              style="margin-bottom: 1rem;">

            <div fxLayout="column" fxLayoutGap="1rem">
                <mat-select placeholder="Delimiter" formControlName="delimiter">
                    <mat-option *ngFor="let delimiter of delimiters" [value]="delimiter.value">
                        {{delimiter.def}}
                    </mat-option>
                </mat-select>
                <table cellspacing="0" cellpadding="0" style="border-spacing: 0;">
                    <tr>
                        <td>
                            <mat-slide-toggle formControlName="isTextQualifier"></mat-slide-toggle>
                        </td>
                        <td style="padding: 0;">
                            <mat-select placeholder="Text qualifier" formControlName="textQualifier">
                                <mat-option *ngFor="let textQualifier of textQualifiers" [value]="textQualifier">
                                    {{textQualifier}}
                                </mat-option>
                            </mat-select>
                        </td>
                    </tr>
                </table>
            </div>
            <div fxLayout="column" fxLayout.xs="column" fxLayoutGap="1rem">
                <mat-select placeholder="Decimal separator" formControlName="decimalSeparator">
                    <mat-option *ngFor="let decimalSeparator of decimalSeparators" [value]="decimalSeparator">
                        {{decimalSeparator}}
                    </mat-option>
                </mat-select>
                <table cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td>
                        </td>
                        <td style="display: table-cell;" class="ng-pristine mat-select-disabled mat-select ng-touched">
                            <div style="cursor: default; display: flex; color: rgba(0, 0, 0, 0.38)">
                        <span style="cursor: default; transform: scale(.75); text-align: left; left: -2px;"
                              class="mat-select-placeholder">
                            Header Row
                        </span>
                            </div>
                        </td>
                    </tr>
                    <tr style="max-height: 40px;">
                        <td>
                            <mat-slide-toggle style="margin:0;" formControlName="isHeaderRow"></mat-slide-toggle>
                        </td>
                        <td style="padding: 0;">
                            <input type="number" min="0" formControlName="headerRow">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="spatialProperties">
        <ng-template matStepLabel>
            Spatial
        </ng-template>
        <wave-dialog-section-heading [title]="'Spatial Properties'" [subtitle]="'In this step you can specify the spatial columns of your CSV file.'" style="text-align: left"></wave-dialog-section-heading>
        <form fxLayout="row" fxLayout.xs="column" fxLayoutGap="1rem" fxLayoutAlign="space-around center"
              style="width: 100%; margin-bottom: 1rem;" [formGroup]="spatialProperties">
            <div fxLayout="column" fxLayoutGap="1rem">
                <div class="longitudeSelector">
                    <mat-select fxFlex="100"
                               placeholder="{{spatialProperties.controls['spatialReferenceSystem'].value.xCoordinateName}}-Coordinate column"
                               formControlName="xColumn">
                        <ng-template ngFor let-h [ngForOf]="csvTable.header" let-i="index">
                            <mat-option [value]="i">
                                <ng-template [ngIf]="h.value !== ''">
                                    {{h.value}}
                                </ng-template>
                                <ng-template [ngIf]="h.value === ''">
                                    {{'unnamed'}}
                                </ng-template>
                            </mat-option>
                        </ng-template>
                    </mat-select>
                </div>
                <div>
                    <mat-select style="width:100%;" placeholder="Spatial Reference System"
                               formControlName="spatialReferenceSystem">
                        <mat-option *ngFor="let projection of [Projections.WGS_84]"
                                   [value]="projection">
                            {{projection}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div fxLayout="column" fxLayoutGap="1rem">
                <div class="latitudeSelector">
                    <mat-select fxFlex="100"
                               placeholder="{{spatialProperties.controls['spatialReferenceSystem'].value.yCoordinateName}}-Coordinate column"
                               formControlName="yColumn">
                        <ng-template ngFor let-h [ngForOf]="csvTable.header" let-i="index">
                            <mat-option [value]="i">
                                <ng-template [ngIf]="h.value !== ''">
                                    {{h.value}}
                                </ng-template>
                                <ng-template [ngIf]="h.value === ''">
                                    {{'unnamed'}}
                                </ng-template>
                            </mat-option>
                        </ng-template>
                    </mat-select>
                </div>
                <div>
                    <mat-select style="width:100%;" placeholder="Coordinate format"
                               style="align: right;" formControlName="coordinateFormat"
                    >
                        <mat-option *ngFor="let c of coordinateFormats"
                                   [value]="c">
                            {{c}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="temporalProperties">
        <ng-template matStepLabel>
            <div fxLayout="row" fxLayoutAlign="left center">
                <form [formGroup]="temporalProperties" style="margin-top: 6px">
                    <mat-slide-toggle formControlName="isTime">
                    </mat-slide-toggle>
                </form>
                Temporal
            </div>
        </ng-template>
        <wave-dialog-section-heading [title]="'Temporal Properties'" [subtitle]="'This step allows you to specify temporal columns of your CSV file.'" style="text-align: left"></wave-dialog-section-heading>
        <form fxLayout="row" fxLayout.xs="column" fxLayoutGap="1rem" fxLayoutAlign="space-around center"
              style="width: 100%; margin-bottom: 1rem;" [formGroup]="temporalProperties">
            <div fxLayout="column" fxLayout.sm="row" fxLayoutGap="1rem" class="temporal_fxElement">
                <mat-select fxFlex="80"
                           placeholder="Interval type"
                           formControlName="intervalType"
                >
                    <mat-option *ngFor="let intervalType of intervalTypes" [value]="intervalType.value" [disabled]="([intervalTypes[1], intervalTypes[2]].indexOf(intervalType) >= 0) && csvTable.header.length <= 3">
                        {{intervalType.display}}
                    </mat-option>
                </mat-select>
            </div>
            <div fxLayout="column" fxLayout.xs="row" fxLayoutGap="1rem" fxLayoutAlign="center" class="temporal_fxElement">
                <div [ngClass]="{startSelector: temporalProperties.controls['isTime'].value}">
                    <mat-select placeholder="Start column"
                               name="startCol"
                               formControlName="startColumn"
                    >
                        <ng-template ngFor let-h [ngForOf]="csvTable.header" let-i="index">
                            <mat-option
                                [value]="i"
                                [disabled]="[spatialProperties.controls['xColumn'].value, spatialProperties.controls['yColumn'].value].indexOf(i) >= 0">
                                <ng-template [ngIf]="h.value !== ''">
                                    {{h.value}}
                                </ng-template>
                                <ng-template [ngIf]="h.value === ''">
                                    {{'unnamed'}}
                                </ng-template>
                            </mat-option>
                        </ng-template>
                    </mat-select>
                </div>
                <div [ngClass]="{endSelector: !(!temporalProperties.controls['isTime'].value
                                           || !(temporalProperties.controls['intervalType'].value === IntervalFormat.StartEnd
                                           || temporalProperties.controls['intervalType'].value === IntervalFormat.StartDur))}"
                >
                    <mat-select *ngIf="temporalProperties.controls['intervalType'].value !== IntervalFormat.StartConst"
                               [placeholder]="(temporalProperties.controls['intervalType'].value === IntervalFormat.StartDur) ? 'Duration column' : 'End Column'"
                               name="endCol" formControlName="endColumn">
                        <ng-template ngFor let-h [ngForOf]="csvTable.header" let-i="index">
                            <mat-option
                                [value]="i"
                                [disabled]="[spatialProperties.controls['xColumn'].value, spatialProperties.controls['yColumn'].value].indexOf(i) >= 0">
                                <ng-template [ngIf]="h.value !== ''">
                                    {{h.value}}
                                </ng-template>
                                <ng-template [ngIf]="h.value === ''">
                                    {{'unnamed'}}
                                </ng-template>
                            </mat-option>
                        </ng-template>
                    </mat-select>
                    <mat-input-container *ngIf="temporalProperties.controls['intervalType'].value === IntervalFormat.StartConst">
                        <input matInput formControlName="constantDuration" placeholder="Constant duration"
                               type="input">
                        <span mat-suffix>{{temporalProperties.controls['endFormat'].value}}</span>
                    </mat-input-container>
                </div>
            </div>
            <div fxLayout="column" fxLayout.xs="row" fxLayoutGap="1rem" fxLayoutAlign="center" class="temporal_fxElement">
                <div [ngClass]="{startSelector: temporalProperties.controls['isTime'].value}">
                    <mat-select placeholder="Start format"
                               formControlName="startFormat">
                        <mat-option *ngFor="let timeFormat of timeFormats" [value]="timeFormat.value">
                            {{timeFormat.display}}
                        </mat-option>
                    </mat-select>
                </div>
                <div [ngClass]="{endSelector: !(!temporalProperties.controls['isTime'].value
                                                    || !(temporalProperties.controls['intervalType'].value === IntervalFormat.StartEnd
                                                    || temporalProperties.controls['intervalType'].value === IntervalFormat.StartDur))}"
                >
                    <mat-select
                        [placeholder]="(temporalProperties.controls['intervalType'].value === IntervalFormat.StartDur) ? 'Duration format' : 'End format'"
                        formControlName="endFormat"
                    >
                        <ng-template [ngIf]="temporalProperties.controls['intervalType'].value !== IntervalFormat.StartDur
                    && temporalProperties.controls['intervalType'].value !== IntervalFormat.StartConst">
                            <mat-option *ngFor="let timeFormat of timeFormats" [value]="timeFormat.value">
                                {{timeFormat.display}}
                            </mat-option>
                        </ng-template>
                        <ng-template
                            [ngIf]="temporalProperties.controls['intervalType'].value === IntervalFormat.StartDur || temporalProperties.controls['intervalType'].value === IntervalFormat.StartConst">
                            <mat-option *ngFor="let durationFormat of durationFormats"
                                       [value]="durationFormat.value">
                                {{durationFormat.display}}
                            </mat-option>
                        </ng-template>
                    </mat-select>
                </div>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="typingProperties">
        <ng-template matStepLabel>
            Layer
        </ng-template>
        <wave-dialog-section-heading [title]="'Layer Properties'" [subtitle]="'You can specify the data types of the remaining columns and the layer name here.'" style="text-align: left"></wave-dialog-section-heading>
        <form [formGroup]="typingProperties" style="width: 100%">
            <mat-input-container style="width: 100%;">
                <input matInput formControlName="layerName" placeholder="Layer Name"
                       type="input" #layerNameComponent>
                <mat-hint class="error" *ngIf="layerNameComponent?.errors?.layerNameNoDuplicate">Name is already in use.</mat-hint>
            </mat-input-container>
        </form>
    </mat-step>
</mat-horizontal-stepper>
