<wave-sidenav-header>Raster Repository</wave-sidenav-header>
<md-toolbar>
    <md-icon>search</md-icon>
    <md-input-container>
        <input mdInput placeholder="Dataset or Provider" type="text" [(ngModel)]="_searchTerm">
    </md-input-container>
</md-toolbar>
<md-list>
    <template
        ngFor let-source
        [ngForOf]="sources | async | waveMappingDataSourceFilter:_searchTerm"
    >
        <div md-subheader class="datagroup" fxLayout="row" fxLayoutAlign="space-between center">
            <span bind-innerHtml = "source.name | waveHighlightPipe:_searchTerm | waveSafeHtml"></span>
            <span><a [href]="source?.uri" target="_blank"><md-icon>open_in_new</md-icon></a></span>
        </div>
        <template ngFor let-channel [ngForOf]="source.channels">
            <md-list-item>
                <template [ngIf]="channel.isSwitchable">
                    <!--
                    <md-slide-toggle #t
                                     [checked]="channel.hasTransform"
                                     aria-label="transform raw data"
                                     [disabled]="!channel.hasTransform">
                    </md-slide-toggle>
                    -->
                    <div (click)="add(source, channel, t.checked)">
                        <p md-line bind-innerHtml = "channel.name | waveHighlightPipe:_searchTerm | waveSafeHtml"></p>
                        <template [ngIf]="true || t.checked">
                            <p md-line >measurement: {{channel?.transform?.unit?.measurement}}</p>
                            <p md-line >unit: {{channel?.transform?.unit?.unit}}</p>
                        </template>
                        <template [ngIf]="false && !t.checked">
                            <p md-line >measurement: {{channel?.unit?.measurement}}</p>
                            <p md-line >unit: {{channel?.unit?.unit}}</p>
                        </template>
                    </div>
                </template>
                <template [ngIf]="!channel.isSwitchable">
                    <div (click)="add(source, channel, channel.hasTransform)">
                        <p md-line  bind-innerHtml = "channel.name | waveHighlightPipe:_searchTerm | waveSafeHtml"></p>
                        <template [ngIf]="!channel.hasTransform">
                            <p md-line >measurement: {{channel?.unit?.measurement}}</p>
                            <p md-line >unit: {{channel?.unit?.unit}}</p>
                        </template>
                        <template [ngIf]="channel.hasTransform">
                            <p md-line >measurement: {{channel?.transform?.unit?.measurement}}</p>
                            <p md-line >unit: {{channel?.transform?.unit?.unit}}</p>
                        </template>
                    </div>
                </template>
            </md-list-item>
            <md-divider></md-divider>
        </template>
    </template>
</md-list>
