@import '../../../../wave-app-theme';

$mat-button-focus-transition: opacity 200ms $swift-ease-in-out-timing-function,
background-color 200ms $swift-ease-in-out-timing-function !default;


.dataset-name {
    color: mat-color($wave-app-primary) !important;
}

.dataset-uri {
    overflow: hidden;
    text-overflow: ellipsis;
}

.secondary_action {
    float: right;
}

md-list-item {
    font-size: 12px;
}

.mat-row {
    color: mat-color($wave-app-primary) !important;
    text-decoration: underline;
    cursor: pointer;

    min-height: 40px !important;
}

.mat-cell {
    font-size: 12px;
}

// Element that overlays the button to show focus and hover effects.
.mat-row:hover {
    // The button spec calls for focus on raised buttons (and FABs) to be indicated with a
    // black, 12% opacity shade over the normal color (for both light and dark themes).
    background-color: rgba(black, 0.12);
    border-radius: inherit;
    opacity: 1;

    transition: $mat-button-focus-transition;

    @include cdk-high-contrast {
        // Note that IE will render this in the same way, no
        // matter whether the theme is light or dark. This helps
        // with the readability of focused buttons.
        background-color: rgba(white, 0.5);
    }
}
