<wave-sidenav-header>Create RGB Raster</wave-sidenav-header>
<form [formGroup]="form" (ngSubmit)="add()" fxLayout="column">
    <div class="container mat-typography">
        <wave-multi-layer-selection [types]="inputTypes" formControlName="inputLayers"
                                    [min]="numberOfRasters" [max]="numberOfRasters"></wave-multi-layer-selection>
        <button type="button" mat-raised-button [disabled]="notAllLayersSet$ | async"
                (click)="retrieveRasterStatsFromUnit()">
            Set channel min/max values from metadata
        </button>
        <br>
        <button type="button" mat-raised-button [disabled]="notAllLayersSet$ | async"
                *ngIf="!(isRasterStatsLoading$ | async); else rasterStatsLoadingAnimation"
                (click)="calculateRasterStats()">
            Calculate channel min/max values
        </button>
        <ng-template #rasterStatsLoadingAnimation>
            <mat-spinner [diameter]="loadingSpinnerDiameter"></mat-spinner>
        </ng-template>
        <h3>Red Channel (A)</h3>
        <div>
            <mat-form-field>
                <input matInput type="number" placeholder="Min" formControlName="redMin">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="number" placeholder="Max" formControlName="redMax">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="number" placeholder="Scaling Factor" formControlName="redScale" min="0" max="1" step="0.1">
            </mat-form-field>
        </div>
        <h3>Green Channel (B)</h3>
        <div>
            <mat-form-field>
                <input matInput type="number" placeholder="Min" formControlName="greenMin">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="number" placeholder="Max" formControlName="greenMax">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="number" placeholder="Scaling Factor" formControlName="greenScale" min="0" max="1" step="0.1">
            </mat-form-field>
        </div>
        <h3>Blue Channel (C)</h3>
        <div>
            <mat-form-field>
                <input matInput type="number" placeholder="Min" formControlName="blueMin">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="number" placeholder="Max" formControlName="blueMax">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="number" placeholder="Scaling Factor" formControlName="blueScale" min="0" max="1" step="0.1">
            </mat-form-field>
        </div>
    </div>
    <div class="actions">
        <button type="submit" mat-raised-button color="primary" [disabled]="formIsInvalid$ | async">
            Create
        </button>
    </div>
</form>
