$sidenav-width: 33vw;

.sidenav {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: $sidenav-width;

    z-index: 5;

    background-color: var(--ge-background-color);

    overflow: auto;

    mat-toolbar {
        a {
            display: block;
            height: 75%;
            margin: 0 auto;
        }
        img {
            background: white;
            height: 100%;
            margin: 0 auto;
            margin-right: 0.5rem;
        }
        p {
            background: white;
            margin: 0 auto;
            color: rgba(0, 0, 0, 0.73);
            margin-left: 0.5rem;
        }
    }

    mat-expansion-panel-header {
        mat-panel-title {
            flex: 1;
        }

        mat-panel-description {
            flex: 0;
        }
    }
}

#top-float-buttons {
    position: fixed;
    z-index: 3;
    right: 0;
    left: $sidenav-width;
    top: 1rem;
    text-align: center;
}

ge-zoom-handles,
ge-app-time-step-selector {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: 2px;
}

ge-zoom-handles {
    position: absolute;
    left: 1rem;
}

#back-button {
    position: absolute;
    right: 1rem;

    img {
        height: 1rem;
        vertical-align: text-top;
        margin-left: 0.25rem;
    }
}

ge-legend {
    z-index: 4;
    position: absolute;
    bottom: 1rem;
    left: calc($sidenav-width + 1rem);
    background-color: rgba(255, 255, 255, 0.87);
}

.mid-container {
    z-index: 0;
    position: absolute;
    left: $sidenav-width;
    width: calc(100% - $sidenav-width);
}

mat-sidenav {
    width: $sidenav-width;
}
