<div class="container mat-typography" #container>
    <wave-layer-collection-dropdown
        [root]="rootCollectionId"
        rootLabel="EBV Class"
        (layerSelected)="layerSelected($event)"
        [preselectedPath]="preselectedPath"
    ></wave-layer-collection-dropdown>

    <div fxLayout="row" fxLayoutGap="1rem">
        <button mat-raised-button class="show" color="primary" *ngIf="layerId" (click)="showEbv()">Show</button>
        <button mat-raised-button class="show" color="primary" *ngIf="layer" (click)="editSymbology()" fxFlex>
            <mat-icon>palette</mat-icon>
        </button>
    </div>

    <mat-divider></mat-divider>

    <div *ngIf="layer" fxLayout="row" fxLayoutAlign="space-between start">
        <wave-ebv-country-selector fxFlex=""></wave-ebv-country-selector>
        <span fxFlex="1rem"></span>
        <button mat-raised-button color="primary" [disabled]="isPlotButtonDisabled$ | async" (click)="plot()">Calculate</button>
    </div>

    <wave-vega-viewer *ngIf="plotData | async as plot" [chartData]="plot"></wave-vega-viewer>

    <mat-spinner color="accent" *ngIf="plotLoading | async"></mat-spinner>

    <div class="spacer"></div>
    <mat-divider></mat-divider>

    <wave-ebv-attributions></wave-ebv-attributions>

    <div class="spacer"></div>
</div>
