<wave-sidenav-header>Save As</wave-sidenav-header>
<ng-template [ngIf]="!(created$ | async)">
    <p>
        Save the current project under a different name.
    </p>
    <form [formGroup]="form" (ngSubmit)="$event.preventDefault();create()">
        <div fxLayout="row">
            <mat-input-container fxFlex>
                <input matInput type="text" placeholder="Project Name" formControlName="name">
                <mat-hint
                    align="end" class="error"
                    *ngIf="form.controls.name.errors?.nameInUsage"
                >
                    The name is already in usage.
                </mat-hint>
                <mat-hint
                    align="end" class="error"
                    *ngIf="form.controls.name.errors?.required || form.controls.name.errors?.onlyWhitespace"
                >
                    The name must be non-empty.
                </mat-hint>
            </mat-input-container>
        </div>
        <button mat-raised-button color="primary" type="submit" [disabled]="(form.statusChanges | async) !== 'VALID'">Create</button>
    </form>
</ng-template>
<ng-template [ngIf]="created$ | async">
    <p class="finished">
        Saved project under <em>{{form.controls['name'].value}}</em> and switched to it.
        <br><br>
        You are ready to go!
    </p>
</ng-template>
