@use '@angular/material' as mat;
@import 'app-theme';

:root {
    --geoengine-primary-color: #{mat.m2-get-color-from-palette($geoengine-primary)};
    --geoengine-accent-color: #{mat.m2-get-color-from-palette($geoengine-accent)};
    --geoengine-warn-color: #{mat.m2-get-color-from-palette($geoengine-warn)};

    --geoengine-faded-accent-color: #{mat.m2-get-color-from-palette($geoengine-accent, 0.32)};

    --geoengine-foreground-text-color: #{mat.m2-get-color-from-palette(map-get($geoengine-theme, foreground), text)};
    --geoengine-foreground-secondary-text-color: #{mat.m2-get-color-from-palette(map-get($geoengine-theme, foreground), secondary-text)};

    --geoengine-background-color: #{map-get(map-get($geoengine-theme, background), background)};
    --geoengine-background-hover-color: #{mat.m2-get-color-from-palette(map-get($geoengine-theme, background), hover)};
    --geoengine-card-background-color: #{map-get(map-get($geoengine-theme, background), card)};

    --geoengine-divider-color: #{mat.m2-get-color-from-palette(map-get($geoengine-theme, foreground), dividers)};

    font-family: Poppins, sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

a {
    color: mat.m2-get-color-from-palette(map-get($geoengine-theme, foreground), secondary-text);
}
