@import "../../../wave-app-theme";

.container {
    //width: 200px;
    background-color: white;
}

md-toolbar /deep/ md-toolbar-row:first-child {
    display: none !important;
}

.container {
    //width: 200px;
}

md-list {
    padding-top: 0;
    overflow: auto;
}

md-list-item /deep/ .mat-list-item {
}

md-list-item /deep/ .mat-list-item-content {
    padding: 0 1rem !important;
}

.list-item-extended /deep/ .mat-list-item-content {
    height: unset !important;
    min-height: 48px;
}

md-list-item /deep/ .mat-list-item-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.list-element-inner-container{
    width: 100%;
}

mat-progress-bar {
    width: 100% !important;
    height: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
}

md-progress-bar {
    height: 2px;
}

button.error-button {
    position: absolute;
    left: calc(50% - 40px/2);
}

.active-layer {
    background: whitesmoke;//${Config.COLORS.DEFAULT};
}
