<mat-tab-group #tabs (selectedTabChange)="onTabChange($event)">
  @if (providerType() !== ProviderType.OTHER) {
    <mat-tab label="Form">
      @switch (providerType()) {
        @case (ProviderType.ARUNA) {
          <geoengine-manager-aruna-editor-form
            [createNew]="createNew()"
            [provider]="provider()"
            [visible]="!jsonInputVisible"
            [readonly]="readonly()"
            (changed)="setChangedFormDefinition($event)"
          ></geoengine-manager-aruna-editor-form>
        }
      }
    </mat-tab>
  }
  <mat-tab label="JSON">
    <geoengine-manager-provider-json-input
      [provider]="provider()"
      [readonly]="readonly()"
      (changed)="setChangedJSONDefinition($event)"
      [visible]="jsonInputVisible"
    ></geoengine-manager-provider-json-input>
  </mat-tab>
</mat-tab-group>
