@import '~@angular/material/core/theming/all-theme';



wave-layer-list .no-layer >>> .md-list-item-inner {
  height: 24px;
  min-height: 24px;
  color: md-color($black-87-opacity); //${Config.COLORS.TEXT.DEFAULT};
  opacity: 0.5;
  justify-content: center;
  font-style: oblique;
}

wave-layer-list .active-layer {
  background: md-color($md-background)//${Config.COLORS.DEFAULT};
}

wave-layer-list md-divider.md-active {
  border-top-color: md-color($md-primary);//${Config.COLORS.PRIMARY};
}
