:host {
    display: block;
    padding: 1rem;

    p {
        text-align: justify;
    }

    .vat {
        font-variant: small-caps;
    }

    img {
        max-width: calc(100% - 2rem);
    }

    img.extern {
        height: 40px;
        padding-right: 5px;
    }
}
