<md-toolbar>
    <md-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayoutAlign="start center">
            <button md-button (click)="layoutService.setSidenavContentComponent(RRC)">
                <md-icon>layers</md-icon>
                <span>Environmental</span>
            </button>
            <button md-button (click)="layoutService.setSidenavContentComponent(ARC)">
                <md-icon>storage</md-icon>
                <span>ABCD Archives</span>
            </button>
            <button md-button (click)="layoutService.setSidenavContentComponent(CSV)">
                <md-icon>grid_on</md-icon>
                <span>CSV Data/Import</span>
            </button>
            <button md-button *ngIf="Config.PROJECT === 'GFBio' && (userService.getUserStream() | async).hasExternalIdPrefix('GFBIO')" (click)="layoutService.setSidenavContentComponent(GBC)">
                <md-icon>add_shopping_cart</md-icon>
                <span>GFBio Baskets</span>
            </button>
            <button md-button *ngIf="false" disabled>
                <md-icon>file_upload</md-icon>
                <span>Upload</span>
            </button>
            <button md-button disabled>
                <md-icon>search</md-icon>
                <span>Species Distribution</span>
            </button>
            <button md-button (click)="layoutService.setSidenavContentComponent(ORC)">
                <md-icon>sentiment_very_dissatisfied</md-icon>
                <span>Operators</span>
            </button>
            <button md-button *ngIf="false" disabled>
                <md-icon>brush</md-icon>
                <span>Draw</span>
            </button>
        </div>

        <wave-small-time-interaction fxLayoutAlign="center center"></wave-small-time-interaction>

        <div fxLayoutAlign="end center">
            <button md-button aria-label="User" (click)="openUserDialog()">
                <md-icon>person</md-icon>
                {{username$ | async}}
            </button>
            <button md-icon-button class="md-icon-button" aria-label="Help" disabled>
                <md-icon>help</md-icon>
            </button>
        </div>
    </md-toolbar-row>
</md-toolbar>
