@import "../../../../../wave-app-theme";

mat-input-container, input, button {
    width: 100%;
}

button {
    margin-top: 1rem;
}

.error {
    color: mat-color($wave-app-warn);
}

mat-progress-spinner {
    width: 50%;
    height: auto;
    margin: 0 auto;
}
