@import '~@angular/material/theming';

// Material Base Styles
@include mat-core();

// Define Colors
$nature40-green: (
    50 : #e1ede8,
    100 : #b4d2c5,
    200 : #82b59e,
    300 : #4f9777,
    400 : #2a8059,
    500 : #046a3c,
    600 : #036236,
    700 : #03572e,
    800 : #024d27,
    900 : #013c1a,
    A100 : #72ff9f,
    A200 : #3fff7c,
    A400 : #0cff59,
    A700 : #00f14d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$nature40-orange: (
    50 : #fef3e1,
    100 : #fce2b4,
    200 : #facf82,
    300 : #f7bb4f,
    400 : #f6ad2a,
    500 : #f49e04,
    600 : #f39603,
    700 : #f18c03,
    800 : #ef8202,
    900 : #ec7001,
    A100 : #ffffff,
    A200 : #ffede0,
    A400 : #ffcfad,
    A700 : #ffc093,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$nature40-blue: (
    50 : #e1e2f1,
    100 : #b4b7dd,
    200 : #8287c6,
    300 : #4f56af,
    400 : #2a329d,
    500 : #040e8c,
    600 : #030c84,
    700 : #030a79,
    800 : #02086f,
    900 : #01045c,
    A100 : #8d8dff,
    A200 : #5a5aff,
    A400 : #2727ff,
    A700 : #0e0eff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$nature40-lightgreen: (
    50 : #f4f9f1,
    100 : #e4f0dd,
    200 : #d2e7c6,
    300 : #bfddaf,
    400 : #b2d59d,
    500 : #a4ce8c,
    600 : #9cc984,
    700 : #92c279,
    800 : #89bc6f,
    900 : #78b05c,
    A100 : #ffffff,
    A200 : #efffe7,
    A400 : #ccffb4,
    A700 : #bbff9b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$nature40-gray: (
    50 : #efefef,
    100 : #d8d8d8,
    200 : #bebebe,
    300 : #a3a3a3,
    400 : #909090,
    500 : #7c7c7c,
    600 : #747474,
    700 : #696969,
    800 : #5f5f5f,
    900 : #4c4c4c,
    A100 : #bababa,
    A200 : #8c8c8c,
    A400 : #4d4d4d,
    A700 : #333333,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

// Define App Theme
$wave-app-primary: mat-palette($nature40-green);
$wave-app-accent: mat-palette($nature40-orange, A200, A100, A400);
$wave-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$wave-app-theme: mat-light-theme($wave-app-primary, $wave-app-accent, $wave-app-warn);

// Apply Angular Material Mixin to Color Theme
@include angular-material-theme($wave-app-theme);
