@import '../../wave-app-theme';

:host {
    display: block;
    padding: 1rem;
}

.container {
    padding: 1rem 1rem;
}

.error {
    color: mat-color($wave-app-warn);
}

md-card-header /deep/ .mat-card-header-text {
    margin: 0;
}

.actions button {
    margin-left: 1rem;
}

md-card {
    margin-bottom: 1rem;
}
