<wave-dialog-header>Workflow URL Parameter</wave-dialog-header>
<md-dialog-content>
    <p>
        There
        <span *ngIf="config?.layers?.length === 1; else numberOfLayers">is a layer</span>
        <ng-template #numberOfLayers>are {{config?.layers?.length}} layers</ng-template>
        available from the URL parameters.
        You have the following options:
    </p>
</md-dialog-content>
<md-dialog-actions align="end">
    <button md-raised-button color="primary" (click)="append()">Append to layers</button>
    <button md-raised-button color="primary" (click)="replace()">Replace current layers</button>
    <span fxFlex></span>
    <button md-raised-button color="default" (click)="ignore()">Ignore</button>
</md-dialog-actions>
