<wave-sidenav-header>Numeric Attribute Filter</wave-sidenav-header>
<form [formGroup]="form" (ngSubmit)="$event.preventDefault();add($event)" fxLayout="column">
    <div fxFlex class="container">
        <wave-layer-selection
            [types]="[ResultTypes.POINTS]"
            formControlName="pointLayer">
        </wave-layer-selection>
        <wave-dialog-section-heading title="Filter" subtitle="Select the value range."></wave-dialog-section-heading>
        <div class="downward-margin">
            <mat-form-field>
                <mat-select placeholder="Attribute" formControlName="attribute">
                    <mat-option
                        *ngFor="let attribute of (attributes$ | async)"
                        [value]="attribute"
                    >{{attribute}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <mat-progress-spinner mode="indeterminate" *ngIf="dataLoading$ | async"></mat-progress-spinner>
        <wave-histogram [height]="histogramHeight" [width]="histogramWidth"
                        [selectable]="true" [interactable]="false"
                        *ngIf="data$ | async" [data]="data$ | async"
                        [minRange]="form.controls.bounds.value.min"
                        [maxRange]="form.controls.bounds.value.max"
                        (minRangeChange)="form.controls.bounds.controls.min.setValue($event)"
                        (maxRangeChange)="form.controls.bounds.controls.max.setValue($event)"
        ></wave-histogram>
        <div
            formGroupName="bounds"
            class="flex-container"
            fxLayout="row" fxLayoutAlign="space-between center"
            fxLayout.xs="column" fxLayoutAlign.xs="start"
            *ngIf="!!form.controls.attribute.value"
        >
            <mat-input-container class="flex-item" fxFlex>
                <input matInput type="number" step="any" placeholder="Min" formControlName="min">
                <span matSuffix>{{attributeUnit$ | async}}</span>
                <mat-hint class="error" *ngIf="form.controls.bounds.errors?.noFilter">
                    Specify at least minimum or maximum.
                </mat-hint>
            </mat-input-container>
            <mat-input-container class="flex-item" fxFlex>
                <input matInput type="number" step="any" placeholder="Max" formControlName="max">
                <span matSuffix>{{attributeUnit$ | async}}</span>
                <mat-hint class="error" *ngIf="form.controls.bounds.errors?.minOverMax">
                    The maximum must be greater or equal to the minimum.
                </mat-hint>
            </mat-input-container>
        </div>
        <mat-checkbox formControlName="noData">Keep NoData values?</mat-checkbox>

        <wave-operator-output-name
            formControlName="name"
            [suggestion]="'Filtered ' + (form.controls.pointLayer.valueChanges | async)?.name"
        >
            <mat-hint
                align="end" class="error"
                *ngIf="form.controls.name.errors?.required || form.controls.name.errors?.onlyWhitespace"
            >
                The name must be non-empty.
            </mat-hint>
        </wave-operator-output-name>
    </div>
    <div class="actions">
        <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">
            Create
        </button>
    </div>
</form>
