@import "../../../../wave-app-theme";

$circle-width: 100px;

form {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.container {
    overflow-y: auto;
    padding: 0 1rem 1rem 1rem;
}

.actions {
    text-align: right;
    padding: 1rem;
}

mat-progress-spinner {
    position: relative;
    left: calc(50% - #{$circle-width / 2});
    width: $circle-width;
}

mat-form-field {
    width: 100%;
    margin: 1rem 0;
}

mat-input-container {
    margin-bottom: 1rem;
}

mat-input-container:not(:last-child) {
    margin-right: 1rem;
}

.downward-margin {
    margin-bottom: 1rem;
}

.error {
    color: mat-color($wave-app-warn);
}
