<div class='container' [style.height.px]='height'>
    <template [ngIf]="layerService.getIsAnyLayerSelectedStream() | async">
        <md-list dense>
            <md-list-item *ngFor="let p of provenance$ | async; let last = last">
                <dl>
                    <dt>Citation</dt>
                    <dd [innerHtml]="p.citation | waveNbsp"></dd>
                    <dt>License</dt>
                    <dd [innerHtml]="p.license | waveNbsp"></dd>
                    <dt>URI</dt>
                    <dd><a [href]="p.uri" [innerHtml]="p.uri | waveNbsp"></a></dd>
                </dl>
                <md-divider *ngIf="!last"></md-divider>
            </md-list-item>
        </md-list>
    </template>
    <template [ngIf]="!(layerService.getIsAnyLayerSelectedStream() | async)">
        <div class="no-layer">
            <span>no layer selected</span>
        </div>
    </template>
</div>
