<wave-sidenav-header>Pie chart plot</wave-sidenav-header>
<form [formGroup]="form" (ngSubmit)="$event.preventDefault(); add($event)" fxLayout="column">
    <div fxFlex class="container">
        <wave-layer-selection [types]="ResultTypes.VECTOR_TYPES" formControlName="layer"></wave-layer-selection>
        <div *ngIf="form.controls['layer'].valueChanges | async">
            <wave-dialog-section-heading title="Attribute" [subtitle]="'Select an attribute of layer ' + form.controls['layer'].value.name">
            </wave-dialog-section-heading>
            <md-select placeholder="Attribute" formControlName="attribute">
                <md-option
                    *ngFor="let attribute of form.controls['layer'].value.operator.attributes.sort()"
                    [value]="attribute"
                >{{attribute}}
                </md-option>
            </md-select>
        </div>
        <wave-operator-output-name
            formControlName="name"
            [suggestion]="'Pie chart plot of ' + (form.controls['layer'].valueChanges | async)?.name"
        >
            <md-hint
                align="end" class="error"
                *ngIf="form.controls['name'].errors?.required || form.controls['name'].errors?.onlyWhitespace"
            >
                The name must be non-empty.
            </md-hint>
        </wave-operator-output-name>
    </div>
    <div class="actions">
        <button type="submit" md-raised-button color="primary" [disabled]="(form.statusChanges | async) !== 'VALID'">Create</button>
    </div>
</form>
