$mat-dialog-padding: 24px !default; // TODO: import when this is possible again

mat-toolbar.mat-dialog-title {
    margin: #{-$mat-dialog-padding} #{-$mat-dialog-padding} 0 #{-$mat-dialog-padding};
    width: calc(100% + #{2 * $mat-dialog-padding});
}

mat-toolbar button {
    padding: 0;
    min-width: 2.25rem;
}
