@import '../../../../node_modules/@angular/material/dialog/dialog';

md-toolbar[md-dialog-title] {
    margin: #{-$md-dialog-padding} #{-$md-dialog-padding} 0 #{-$md-dialog-padding};
    width: calc(100% + #{2 * $md-dialog-padding});
}

md-toolbar[md-dialog-title] span {
    flex-grow: 1;
}

md-toolbar button {
    background-color: transparent;
    box-shadow: none;
}
