@import '../../../../node_modules/@angular/material/dialog/dialog';

md-toolbar[md-dialog-title] {
    margin: #{-$mat-dialog-padding} #{-$mat-dialog-padding} 0 #{-$mat-dialog-padding};
    width: calc(100% + #{2 * $mat-dialog-padding});
}

md-toolbar[md-dialog-title] span {
    flex-grow: 1;
}

md-toolbar button {
    background-color: transparent;
    box-shadow: none;
}
