form {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.container {
    overflow-y: auto;
    padding: 0 1rem 1rem 1rem;

    mat-form-field {
        width: 100%;
    }

    ::ng-deep {
        .mat-form-field-wrapper, .mat-form-field-flex, .mat-form-field-infix, textarea {
            height: calc(100% - 1rem);
        }
    }
}

.actions {
    padding: 1rem;

    button {
        width: 100%;
    }
}
