<wave-sidenav-header>Extract a Raster Value and Add it to the Vector Layer</wave-sidenav-header>
<form [formGroup]="form" (ngSubmit)="$event.preventDefault();add($event)" fxLayout="column">
    <div fxFlex class="container">
        <wave-layer-selection
            [types]="[ResultTypes.POINTS]"
            formControlName="pointLayer"
        ></wave-layer-selection>
        <wave-multi-layer-selection
            [types]="[ResultTypes.RASTER]"
            formControlName="rasterLayers"
            [min]="1" [max]="5"
        ></wave-multi-layer-selection>
        <wave-dialog-section-heading
            title="Configuration" subtitle="Specify the operator"
        ></wave-dialog-section-heading>
        <div formArrayName="valueNames" fxLayout="column" fxLayoutAlign="start stretch">
            <md-input-container
                *ngFor="let control of form.controls.valueNames.controls; let i = index"
                [dividerColor]="form.controls.valueNames.controls[i].errors? 'warn' : 'default'"
            >
                <input
                    [formControl]="control"
                    mdInput type="text"
                    placeholder="Value Name for Raster {{LetterNumberConverter.toLetters(i+1)}}"
                >
                <md-hint *ngIf="form.controls.valueNames.controls[i].errors?.duplicateName" class="error">
                    Duplicate Value
                </md-hint>
            </md-input-container>
        </div>
        <wave-operator-output-name formControlName="name"></wave-operator-output-name>
    </div>
    <div class="actions">
        <button md-raised-button color="primary" type="submit" [disabled]="form.invalid">
            Create
        </button>
    </div>
</form>
