@import '../../../../wave-app-theme';

mat-toolbar /deep/ mat-toolbar-row:first-child {
    display: none;
}

mat-list-item {
    cursor: pointer;
}

p {
    color: mat-color(map-get($wave-app-theme, foreground), secondary-text);
}

mat-list-item /deep/ .highlight {
    color: mat-color($wave-app-accent);
}
