<div class="container">
    <md-menu #layerListMenu="mdMenu">
        <button md-menu-item aria-label="Toggle Layer List Visibility"
                (click)="layoutService.toggleLayerListVisibility()"
                [ngSwitch]="layerListVisibility$ | async">
            <md-icon *ngSwitchCase="true">expand_less</md-icon>
            <md-icon *ngSwitchCase="false">expand_more</md-icon>
            <span>Show/Hide Layerlist</span>
        </button>
        <button md-menu-item (click)="dialog.open(LineageGraphComponent)">
            <md-icon>merge_type</md-icon>
            <span>Lineage</span>
        </button>
        <!--
        <button md-menu-item [disabled]="true">
            <md-icon>fullscreen</md-icon>
            <span>Zoom to All</span>
        </button>
        -->
        <button md-menu-item (click)="projectService.clearLayers()">
            <md-icon>delete_sweep</md-icon>
            <span>Remove All Layers</span>
        </button>
    </md-menu>

    <md-toolbar color="primary">
        <span fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <div class="only-large"></div>

            <div class="logo" *waveIfGfbio>
                <md-icon md-list-icon svgIcon="vat:logo" alt="VAT"></md-icon>
                <span class="title">VAT</span>
            </div>

            <div class="geobon-logo" *waveIfGeoBon>
                <span class="title">VAT <span class="up">@</span></span>
                <md-icon md-list-icon svgIcon="geobon:logo" alt="GeoBon"></md-icon>
            </div>

            <button md-icon-button
                    [mdMenuTriggerFor]="layerListMenu"
                    mdTooltip="Actions for all layers" mdTooltipPosition="after" [mdTooltipShowDelay]="config.DELAYS.TOOLTIP"
            >
                <md-icon>more_vert</md-icon>
            </button>
        </span>
    </md-toolbar>

    <div class="layer-list" [style.max-height.px] = "height-LayoutService.getToolbarHeightPx()">
        <md-list [dragula]="layer-bag" [dragulaOptions]="dragOptions"
                 *ngIf="layoutService.getLayerListVisibilityStream() | async">

            <md-list-item *ngIf="(projectService.getLayerStream() | async)?.length === 0">
                <button md-button class="no-layer"
                        (click)="layoutService.setSidenavContentComponent({component: SourceOperatorListComponent})"
                        mdTooltip="Add New Data" mdTooltipPosition="after" [mdTooltipShowDelay]="config.DELAYS.TOOLTIP"
                >
                    <md-icon>add</md-icon> add a first layer
                </button>
            </md-list-item>

            <ng-template ngFor let-layer [ngForOf]="projectService.getLayerStream() | async">
                <md-list-item
                              [class.active-layer]="layer === (layerService.getSelectedLayerStream() | async)"
                              [class.list-item-extended]="layer.expanded || layer.editSymbology"
                >
                    <md-menu #layerMenu="mdMenu">

                        <button md-menu-item *ngIf="layer.visible" (click)="projectService.changeLayer(layer, {visible: false})">
                            <md-icon >visibility_off</md-icon>
                            <span>Hide Layer</span>
                        </button>
                        <button md-menu-item *ngIf="!layer.visible" (click)="projectService.changeLayer(layer, {visible: true})">
                            <md-icon >visibility</md-icon>
                            <span>Show Layer</span>
                        </button>

                        <button md-menu-item *ngIf="!layer.expanded" (click)="toggleLayer(layer)">
                            <md-icon >expand_more</md-icon>
                            <span>Show Legend</span>
                        </button>
                        <button md-menu-item *ngIf="layer.expanded" (click)="toggleLayer(layer)">
                            <md-icon >expand_less</md-icon>
                            <span>Hide Legend</span>
                        </button>
                        <button md-menu-item (click)="dialog.open(LineageGraphComponent, {data: { layer: layer }})">
                            <md-icon>merge_type</md-icon>
                            <span>Lineage</span>
                        </button>
                        <button md-menu-item (click)="projectService.removeLayer(layer)">
                            <md-icon>delete</md-icon>
                            <span>Remove</span>
                        </button>
                        <button md-menu-item (click)="dialog.open(RenameLayerComponent, {data: {layer: layer}})">
                            <md-icon>mode_edit</md-icon>
                            <span>Rename</span>
                        </button>
                        <button md-menu-item (click)="projectService.toggleEditSymbology(layer)">
                            <md-icon>color_lens</md-icon>
                            <span>Edit Symbology</span>
                        </button>
                        <button md-menu-item (click)="dialog.open(LayerExportComponent, {data: {layer: layer}})">
                            <md-icon>file_download</md-icon>
                            <span>Export</span>
                        </button>
                        <button md-menu-item (click)="dialog.open(LayerShareComponent, {data: {layer: layer}})">
                            <md-icon>cloud</md-icon>
                            <span>Share</span>
                        </button>
                    </md-menu>

                    <div class="list-element-inner-container" fxLayout="column" fxLayoutAlign="space-between none">
                        <div fxLayout="row" fxLayoutAlign="space-between center" >

                            <button md-icon-button class="mat-warn error-button" aria-label="Reload"
                                    *ngIf="(projectService.getLayerCombinedStatusStream(layer)| async) === LoadingState.ERROR"
                                    (click)="projectService.reloadLayer(layer)"
                            >
                                <md-icon>replay</md-icon>
                            </button>

                            <button md-icon-button
                                    *ngIf="(projectService.getLayerCombinedStatusStream(layer)| async) !== LoadingState.ERROR"
                                    (click)="toggleLayer(layer)"
                                    mdTooltip="{{layer.expanded ? 'Hide' : 'Show'}} Legend" mdTooltipPosition="after"
                                    [mdTooltipShowDelay]="config.DELAYS.TOOLTIP"
                            >
                                <ng-template [ngIf]="layer.symbology.getSymbologyType() === ST.CLUSTERED_POINT
                                    || layer.symbology.getSymbologyType() === ST.SIMPLE_POINT">
                                    <md-icon md-list-icon svgIcon="symbology:point"
                                             [style.stroke-width.px]='2'
                                             [style.stroke]='layer.symbology.strokeRGBA | rgbaToCssStringPipe'
                                             [style.fill]='layer.symbology.fillRGBA | rgbaToCssStringPipe'
                                    ></md-icon>
                                </ng-template>
                                <ng-template [ngIf]="false">
                                    <md-icon md-list-icon svgIcon="symbology:line"></md-icon>
                                </ng-template>
                                <ng-template [ngIf]="layer.symbology.getSymbologyType() === ST.SIMPLE_VECTOR">
                                    <md-icon md-list-icon svgIcon="symbology:polygon"
                                             [style.stroke-width.px]='2'
                                             [style.stroke]='layer.symbology.strokeRGBA | rgbaToCssStringPipe'
                                             [style.fill]='layer.symbology.fillRGBA | rgbaToCssStringPipe'
                                    ></md-icon>
                                </ng-template>
                                <ng-template [ngIf]="layer.symbology.getSymbologyType() === ST.MAPPING_COLORIZER_RASTER
                                    || layer.symbology.getSymbologyType() === ST.RASTER">
                                    <md-icon md-list-icon>
                                        <wave-raster-icon [colorizer]="layer.symbology.colorizer" [xCells]="6" [yCells]="6">
                                        </wave-raster-icon>
                                    </md-icon>
                                </ng-template>
                            </button>


                            <div #layerName
                                 class="mat-list-item-text grabbable"
                                 fxFlex="grow"
                                 (click)="layerService.setSelectedLayer(layer)"
                                 [mdTooltip]="layer.name" mdTooltipPosition="after" [mdTooltipShowDelay]="config.DELAYS.TOOLTIP"
                            >
                                {{layer.name}}
                            </div>

                            <button #menuTrigger
                                    md-icon-button class="secondary_action"
                                    [mdMenuTriggerFor]="layerMenu"
                                    mdTooltip="Layer Actions" mdTooltipPosition="after" [mdTooltipShowDelay]="config.DELAYS.TOOLTIP"
                            >
                                <md-icon>more_vert</md-icon>
                            </button>
                        </div>

                        <div *ngIf="layer.expanded" [ngSwitch]="layer.symbology.getSymbologyType()"
                             fxLayoutAlign="space-between stretch"
                             fxLayout="row"
                             class="legendary no-drag">

                            <ng-template [ngSwitchCase]="ST.SIMPLE_POINT" >
                                <wave-legendary-points fxFlex="grow" [symbology]="layer.symbology">
                                </wave-legendary-points>
                            </ng-template>

                            <ng-template [ngSwitchCase]="ST.CLUSTERED_POINT">
                                <wave-legendary-clustered-points fxFlex="grow" [symbology]="layer.symbology">
                                </wave-legendary-clustered-points>
                            </ng-template>

                            <ng-template [ngSwitchCase]="ST.SIMPLE_VECTOR">
                                <wave-legendary-vector fxFlex="grow" [symbology]="layer.symbology">
                                </wave-legendary-vector>
                            </ng-template>

                            <ng-template [ngSwitchCase]="ST.RASTER">
                                <wave-legendary-raster fxFlex="grow" [symbology]="layer.symbology">
                                </wave-legendary-raster>
                            </ng-template>

                            <ng-template [ngSwitchCase]="ST.MAPPING_COLORIZER_RASTER">
                                <wave-legendary-mapping-colorizer-raster
                                    fxFlex="grow"
                                    *ngIf="projectService.getLayerSymbologyDataStream(layer) | async"
                                    [symbology]="layer.symbology"
                                    [symbologyData]="projectService.getLayerSymbologyDataStream(layer) | async">
                                </wave-legendary-mapping-colorizer-raster>
                            </ng-template>

                            <wave-legendary *ngSwitchDefault fxFlex="grow" [symbology]="layer.symbology">
                            </wave-legendary>

                            <button md-icon-button (click)="toggleLayer(layer)">
                                <md-icon>expand_less</md-icon>
                            </button>

                        </div>

                        <div *ngIf="layer.editSymbology" [ngSwitch]="layer.symbology.getSymbologyType()"
                             fxLayoutAlign="space-between stretch"
                             fxLayout="row"
                             class="symbology no-drag">

                            <ng-template [ngSwitchCase]="ST.SIMPLE_POINT">
                                <wave-symbology-points fxFlex="grow" [symbology]="layer.symbology"
                                    (symbologyChanged)="update_symbology(layer, $event)">
                                </wave-symbology-points>
                            </ng-template>

                            <ng-template [ngSwitchCase]="ST.CLUSTERED_POINT">
                                <wave-symbology-points fxFlex="grow"
                                    class="no-drag" [symbology]="layer.symbology" [editRadius]="false"
                                                       [editStrokeWidth]="false"
                                    (symbologyChanged)="update_symbology(layer, $event)">
                                </wave-symbology-points>
                            </ng-template>

                            <ng-template [ngSwitchCase]="ST.SIMPLE_VECTOR">
                                <wave-symbology-vector fxFlex="grow" [symbology]="layer.symbology"
                                    (symbologyChanged)="update_symbology(layer, $event)">
                                </wave-symbology-vector>
                            </ng-template>

                            <ng-template [ngSwitchCase]="ST.RASTER">
                                <wave-symbology-raster fxFlex="grow" [symbology]="layer.symbology"
                                    (symbologyChanged)="update_symbology(layer, $event)">
                                </wave-symbology-raster>
                            </ng-template>

                            <ng-template [ngSwitchCase]="ST.MAPPING_COLORIZER_RASTER">
                                <wave-symbology-raster fxFlex="grow" [symbology]="layer.symbology"
                                    (symbologyChanged)="update_symbology(layer, $event)">
                                ></wave-symbology-raster>
                            </ng-template>

                            <button md-icon-button (click)="projectService.toggleEditSymbology(layer)">
                                <md-icon>expand_less</md-icon>
                            </button>
                        </div>

                        <md-progress-bar
                            [mode]="(projectService.getLayerCombinedStatusStream(layer) | async) === LoadingState.LOADING ? 'query' : 'determinate'"
                            [value]="100"
                            [color]="(layerService.getSelectedLayerStream() | async) === layer ? 'accent' : ''"
                        ></md-progress-bar>

                    </div>
                </md-list-item>

            </ng-template>
        </md-list>
    </div>

</div>
