.container {
    display: block;
    margin: 1rem;
}

mat-toolbar {
    height: 64px !important;
}

mat-form-field {
    width: 100%;
}

mat-spinner {
    margin: 0 auto;
}

mat-divider {
    margin: 1rem 0;
}

.spacer {
    margin-top: 1rem;
}
