<div class="container mat-typography" #container>
    <p>Time</p>
    <!-- TODO: change to backend version -->
    <wave-app-time-step-selector class="mat-elevation-z4"></wave-app-time-step-selector>

    <mat-divider></mat-divider>

    <mat-form-field>
        <mat-label>Spezies</mat-label>
        <mat-select>
            <mat-option>Libelle</mat-option>
        </mat-select>
    </mat-form-field>

    <div class="spacer"></div>
    <mat-divider></mat-divider>

    <wave-app-attributions></wave-app-attributions>

    <div class="spacer"></div>
</div>
