<div class="container mat-typography" #container>
    <p>Time</p>
    <!-- TODO: change to backend version -->
    <wave-app-time-step-selector class="mat-elevation-z4"></wave-app-time-step-selector>

    <mat-divider></mat-divider>

    <mat-form-field>
        <mat-label>Species</mat-label>
        <mat-select (valueChange)="selectSpecies($event)">
            <mat-option *ngFor="let species of species" [value]="species">
                {{ species }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="spacer"></div>
    <mat-divider></mat-divider>

    <wave-app-attributions></wave-app-attributions>

    <div class="spacer"></div>
</div>
