<div class="container mat-typography" #container>
    <p>Zeitauswahl</p>
    <wave-time-step-selector
        class="mat-elevation-z4"
        timeFormat="MM-YYYY"
        [timeSteps]="dataSelectionService.timeSteps | async | valueDefault: []"
    ></wave-time-step-selector>

    <mat-divider></mat-divider>

    <mat-form-field color="accent">
        <mat-label>Artauswahl</mat-label>
        <mat-select (valueChange)="selectSpecies($event)">
            <mat-option *ngFor="let species of species" [value]="species">
                {{ species }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-progress-bar
        [mode]="dataSelectionService.speciesLoadingState$ | async | valueDefault: 'determinate'"
        [value]="100"
        color="accent"
    ></mat-progress-bar>

    <mat-form-field color="accent">
        <mat-label>Klima-/Wasser-Datenauswahl</mat-label>
        <mat-select (valueChange)="selectEnvironmentLayer($event)">
            <mat-option *ngFor="let layer of environmentLayers" [value]="layer">
                {{ layer.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="spacer"></div>
    <mat-divider></mat-divider>

    <wave-app-attributions></wave-app-attributions>

    <div class="spacer"></div>
</div>
