<div class="container" fxLayout="row" fxLayoutAlign="space-between center" >
    <button md-icon-button (click)="timeBackwards()"
            mdTooltip="Backwards {{timeStepDuration.durationAmount}} {{timeStepDuration.durationUnit}}">
        <md-icon>navigate_before</md-icon>
    </button>
    <button md-button (click)="openTimeConfig()"
            [innerHtml]="timeRepresentation | waveSafeHtml"
            mdTooltip="Time Configuration"
    ></button>
    <button md-icon-button (click)="timeForward()"
            mdTooltip="Forward {{timeStepDuration.durationAmount}} {{timeStepDuration.durationUnit}}">
        <md-icon>navigate_next</md-icon>
    </button>
    <!--
    <button md-icon-button *ngIf="!timeIsPlaying" (click)="timePlay()" disabled>
        <md-icon>play_arrow</md-icon>
    </button>
    <button md-icon-button *ngIf="timeIsPlaying" (click)="timeStop()" disabled>
        <md-icon>stop</md-icon>
    </button>
    -->
</div>
