<mat-sidenav-container fullscreen>
    <mat-sidenav position="end" mode="side" (openedChange)="mapComponent.resize()">
        <wave-sidenav-container></wave-sidenav-container>
    </mat-sidenav>
    <div class="time-container" fxLayoutAlign="space-around center">
        <wave-zoom-handles (zoomIn)="map.zoomIn()" (zoomOut)="map.zoomOut()" class="mat-elevation-z4"></wave-zoom-handles>
        <wave-small-time-interaction class="mat-elevation-z4"></wave-small-time-interaction>
        <wave-ticker-interaction *ngIf="config.COMPONENTS.PLAYBACK.AVAILABLE" class="mat-elevation-z4"></wave-ticker-interaction>
        <div></div> <!-- moves Time Interaction to center (cf. space-around @ flex) -->
    </div>
    <wave-navigation [buttons]="navigationButtons"></wave-navigation>
    <wave-layer-list class="mat-elevation-z4" [height]="middleContainerHeight$ | async">
        <div class="logo">
            <mat-icon mat-list-icon svgIcon="vat:logo" aria-label="VAT"></mat-icon>
            <span class="title">VAT</span>
        </div>
    </wave-layer-list>

    <div class="mid-container" [style.height.px]="middleContainerHeight$ | async">
        <wave-map-container #map [grid]="mapIsGrid$ | async">
            <ng-template ngFor let-layer [ngForOf]="layersReverse$ | async">
                <ng-template [ngIf]="layer.operator.resultType === ResultTypes.POINTS">
                    <wave-ol-point-layer [layer]="layer"
                                         (mapRedraw)="map.layerForcesRedraw()"></wave-ol-point-layer>
                </ng-template>
                <ng-template [ngIf]="layer.operator.resultType === ResultTypes.LINES">
                    <wave-ol-line-layer [layer]="layer"
                                        (mapRedraw)="map.layerForcesRedraw()"></wave-ol-line-layer>
                </ng-template>
                <ng-template [ngIf]="layer.operator.resultType === ResultTypes.POLYGONS">
                    <wave-ol-polygon-layer [layer]="layer"
                                           (mapRedraw)="map.layerForcesRedraw()"></wave-ol-polygon-layer>
                </ng-template>
                <ng-template [ngIf]="layer.operator.resultType === ResultTypes.RASTER">
                    <wave-ol-raster-layer [layer]="layer"
                                          (mapRedraw)="map.layerForcesRedraw()"></wave-ol-raster-layer>
                </ng-template>
            </ng-template>
        </wave-map-container>
    </div>
    <div class="bottom-container mat-elevation-z4"
         [ngClass]="{small: !(layerDetailViewVisible$ | async)}"
         [style.height.px]="bottomContainerHeight$ | async">
        <button mat-button
                class="toggle"
                (click)="layoutService.toggleLayerDetailViewVisibility()"
                [ngSwitch]="layerDetailViewVisible$ | async"
                matTooltip="{{(layerDetailViewVisible$ | async) ? 'Hide' : 'Show'}}" matTooltipPosition="above"
                [matTooltipShowDelay]="config.DELAYS.TOOLTIP">
            <mat-icon *ngSwitchCase="true">expand_more</mat-icon>
            <mat-icon *ngSwitchCase="false">expand_less</mat-icon>
        </button>
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    <div (click)="setTabIndex(0)">Data Table</div>
                </ng-template>
                <wave-datatable *ngIf="layerDetailViewVisible$ | async"
                                [height]="(bottomContainerHeight$ | async) - LayoutService.getLayerDetailViewBarHeightPx()">
                </wave-datatable>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <div (click)="setTabIndex(1)">Citations</div>
                </ng-template>
                <wave-provenance-list *ngIf="layerDetailViewVisible$ | async"
                                      [height]="(bottomContainerHeight$ | async) - LayoutService.getLayerDetailViewBarHeightPx()">
                </wave-provenance-list>
            </mat-tab>
        </mat-tab-group>
    </div>
</mat-sidenav-container>
