<md-sidenav-container fullscreen>
    <md-sidenav #sidenavRight align="end" mode="side" (close)="mapComponent.resize()" (open)="mapComponent.resize()">
        <wave-sidenav-container #sidenavContainer></wave-sidenav-container>
    </md-sidenav>
    <wave-navigation></wave-navigation>
    <div class="top-container mat-elevation-z4" fxLayout="row">
        <wave-next-layer-list></wave-next-layer-list>
        <wave-top-toolbar fxFlex></wave-top-toolbar>
    </div>
    <div class="mid-container" [style.height.px]="middleContainerHeight$ | async">
        <wave-layer-list
            *ngIf="layerListVisible$ | async"
            [style.max-height.px]="middleContainerHeight$ | async"
        ></wave-layer-list>
        <wave-ol-map [projection]="projectService.getProjectionStream() | async">
            <template ngFor let-layer [ngForOf]='layersReverse$ | async'>
                <template [ngIf]="layer.operator.resultType === ResultTypes.POINTS">
                    <wave-ol-point-layer
                        [layer]="layer"
                        [symbology]="layer.symbology"
                        [projection]="projectService.getProjectionStream() | async"
                        [time]="projectService.getTimeStream() | async"
                    ></wave-ol-point-layer>
                </template>
                <template [ngIf]="layer.operator.resultType === ResultTypes.LINES">
                    <wave-ol-line-layer
                        [layer]="layer"
                        [symbology]="layer.symbology"
                        [projection]="projectService.getProjectionStream() | async"
                        [time]="projectService.getTimeStream() | async"
                    ></wave-ol-line-layer>
                </template>
                <template [ngIf]="layer.operator.resultType === ResultTypes.POLYGONS">
                    <wave-ol-polygon-layer
                        [layer]="layer"
                        [symbology]="layer.symbology"
                        [projection]="projectService.getProjectionStream() | async"
                        [time]="projectService.getTimeStream() | async"
                    ></wave-ol-polygon-layer>
                </template>
                <template [ngIf]="layer.operator.resultType === ResultTypes.RASTER">
                    <wave-ol-raster-layer
                        [layer]="layer"
                        [symbology]="layer.symbology"
                        [projection]="projectService.getProjectionStream() | async"
                        [time]="projectService.getTimeStream() | async"
                    ></wave-ol-raster-layer>
                </template>
            </template>
        </wave-ol-map>
    </div>
    <div
        class="bottom-container mat-elevation-z4"
        [ngClass]="{small: !(layerDetailViewVisible$ | async)}"
        [style.height.px]="bottomContainerHeight$ | async"
    >
        <button md-button
                class="toggle"
                (click)="layoutService.toggleLayerDetailViewVisibility()"
                [ngSwitch]="layerDetailViewVisible$ | async"
        >
            <md-icon *ngSwitchCase="true">expand_more</md-icon>
            <md-icon *ngSwitchCase="false">expand_less</md-icon>
        </button>
        <md-tab-group>
            <md-tab>
                <template md-tab-label>
                    <div (click)="setTabIndex(0)">Data Table</div>
                </template>
                <wave-data-table
                    *ngIf="layerDetailViewVisible$ | async"
                    [height]="(bottomContainerHeight$ | async) - LayoutService.getLayerDetailViewBarHeightPx()"
                ></wave-data-table>
            </md-tab>
            <md-tab>
                <template md-tab-label>
                    <div (click)="setTabIndex(1)">Citations</div>
                </template>
                <wave-provenance-list
                    *ngIf="layerDetailViewVisible$ | async"
                    [height]="(bottomContainerHeight$ | async) - LayoutService.getLayerDetailViewBarHeightPx()"
                ></wave-provenance-list>
            </md-tab>
        </md-tab-group>
    </div>
</md-sidenav-container>
