<mat-form-field appearance="fill">
    <mat-label>Country</mat-label>
    <mat-select (valueChange)="selectCountry($event)">
        <ngx-mat-select-search
            [formControl]="geAutocompleteSelect.filterFormControl"
            geAutocompleteSelect
            [geAutocompleteSelectAllValues]="countries"
            [geAutocompleteSelectSearchPredicate]="countryPredicate"
            #geAutocompleteSelect="geAutocompleteSelect"
        ></ngx-mat-select-search>
        <mat-option *ngFor="let country of geAutocompleteSelect.filteredValues | async" [value]="country">{{ country }}</mat-option>
    </mat-select>
</mat-form-field>
<button mat-stroked-button id="compute-plot" [disabled]="cannotComputePlot$ | async" (click)="computePlot()">Compute Plot</button>
<ge-vega-viewer *ngIf="(plotData | async) !== undefined" [chartData]="plotData | async"></ge-vega-viewer>
<mat-spinner *ngIf="plotLoading | async"></mat-spinner>
