:host ::ng-deep mat-expansion-panel {
    p {
        text-align: justify;
    }

    .vat {
        font-variant: small-caps;
    }

    img.extern {
        height: 40px;
        padding-right: 5px;
    }
}
