geoengine-navigation {
    z-index: 10;
}

mat-toolbar {
    padding: 0;
    position: relative;
    z-index: 1;

    .box {
        max-height: inherit;
        height: inherit;
        .logo .mat-icon {
            width: 100%;

            ::ng-deep svg {
                border: none;
                border-radius: unset;
            }
        }
        @media (max-width: 550px) {
            display: none;
        }
    }

    .navbar {
        width: 68vw;
        @media (max-width: 550px) {
            width: 100vw;
        }
        display: flex;
        justify-content: center;

        .small-box {
            ::ng-deep .container {
                border-right: none;
                width: 10vw;
                min-width: 70px;
            }
            .logo .mat-icon {
                vertical-align: middle;
                transform: scale(1.3);

                ::ng-deep svg {
                    border: none;
                    border-radius: unset;
                }
            }
            @media (min-width: 550px) {
                display: none;
            }
        }
        .navbar-element {
            @media (max-width: 550px) {
                padding-top: 0.4rem;
            }
        }

        .space {
            width: 2rem;
        }
    }
}

geoengine-layer-list {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 4rem;
    background-color: rgba(255, 255, 255, 0.87);
    border-bottom-right-radius: 2px;

    @media (max-width: 600px) {
        top: 3.5rem;
    }

    ::ng-deep svg {
        border: none;
        border-radius: unset;
    }
}

:host ::ng-deep .mat-sidenav-content {
    overflow: hidden;
}

.mat-sidenav {
    border: none;
}

.top-container {
    z-index: 1;
}

.mid-container {
    z-index: 0;
    position: relative;
}
