<wave-sidenav-header>Point in Polygon Filter</wave-sidenav-header>
<form [formGroup]="form" (ngSubmit)="$event.preventDefault();add($event)" fxLayout="column">
    <div fxFlex class="container">
        <wave-layer-selection
            [types]="[ResultTypes.POINTS]"
            formControlName="pointLayer"
        ></wave-layer-selection>
        <wave-layer-selection
            [types]="[ResultTypes.POLYGONS]"
            formControlName="polygonLayer"
        ></wave-layer-selection>
        <wave-operator-output-name formControlName="name"></wave-operator-output-name>
    </div>
    <div class="actions">
        <button
            type="submit"
            md-raised-button
            color="primary"
            [disabled]="form.invalid"
        >Apply</button>
    </div>
</form>
