<wave-dialog-header>Point in Polygon Filter</wave-dialog-header>
<form [formGroup]="form" (ngSubmit)="$event.preventDefault();add($event)">
    <md-dialog-content>
        <wave-layer-selection
            [types]="[ResultTypes.POINTS]"
            formControlName="pointLayer"
        ></wave-layer-selection>
        <wave-layer-selection
            [types]="[ResultTypes.POLYGONS]"
            formControlName="polygonLayer"
        ></wave-layer-selection>
        <wave-operator-output-name formControlName="name"></wave-operator-output-name>
    </md-dialog-content>
    <md-dialog-actions align="end">
        <button
            type="submit"
            md-raised-button
            color="primary"
            [disabled]="form.invalid"
        >Apply</button>
    </md-dialog-actions>
</form>
