<mat-sidenav-container fullscreen>
    <mat-sidenav position="end" mode="side" (openedChange)="mapComponent.resize()">
        <wave-sidenav-container></wave-sidenav-container>
    </mat-sidenav>
    <div class="time-container" fxLayoutAlign="space-between start">
        <a href="https://www.gfbio.org" mat-flat-button color="default" class="back-button mat-elevation-z4">
            <mat-icon>keyboard_return</mat-icon>
            <span></span>
            <img src="assets/logo_gfbio.png" alt="GFBio Portal" matTooltip="Back to GFBio Portal" />
        </a>
        <wave-zoom-handles (zoomIn)="map.zoomIn()" (zoomOut)="map.zoomOut()" class="mat-elevation-z4"></wave-zoom-handles>
        <wave-small-time-interaction class="mat-elevation-z4"></wave-small-time-interaction>
        <div></div>
        <div></div>
        <!-- moves Time Interaction to center (cf. space-around @ flex) -->
    </div>
    <wave-navigation [buttons]="navigationButtons"></wave-navigation>
    <wave-layer-list
        class="mat-elevation-z4"
        [height]="middleContainerHeight$ | async | numberSanitizer"
        [addAFirstLayerSidenavConfig]="addAFirstLayerConfig"
    >
        <div class="logo">
            <mat-icon mat-list-icon svgIcon="vat:logo" aria-label="VAT"></mat-icon>
            <span class="title">VAT</span>
        </div>
    </wave-layer-list>

    <div class="mid-container" [style.height.px]="middleContainerHeight$ | async">
        <wave-map-container #map [grid]="mapIsGrid$ | async | valueDefault: false">
            <ng-template ngFor let-layer [ngForOf]="layersReverse$ | async" [ngForTrackBy]="idFromLayer">
                <ng-template [ngIf]="layer.layerType === 'vector'">
                    <wave-ol-vector-layer
                        [layerId]="layer.id"
                        [workflow]="layer.workflowId"
                        [symbology]="$any(layer.symbology)"
                        [isVisible]="layer.isVisible"
                        (mapRedraw)="map.layerForcesRedraw()"
                    ></wave-ol-vector-layer>
                </ng-template>
                <ng-template [ngIf]="layer.layerType === 'raster'">
                    <wave-ol-raster-layer
                        [layerId]="layer.id"
                        [workflow]="layer.workflowId"
                        [symbology]="$any(layer.symbology)"
                        [isVisible]="layer.isVisible"
                        (mapRedraw)="map.layerForcesRedraw()"
                    ></wave-ol-raster-layer>
                </ng-template>
            </ng-template>
        </wave-map-container>
    </div>
    <wave-tab-panel
        [visible]="layerDetailViewVisible$ | async | valueDefault: false"
        [maxHeight]="bottomContainerHeight$ | async | numberSanitizer"
    ></wave-tab-panel>
</mat-sidenav-container>
