<wave-dialog-header>Export: {{layer.name}}</wave-dialog-header>
<form [formGroup]="form" (ngSubmit)="$event.preventDefault();download()">
    <div fxLayout="row">
        <mat-input-container fxFlex>
            <input matInput
                   type="text"
                   placeholder="Export Name"
                   formControlName="outputName"
            >
        </mat-input-container>
    </div>
    <div *ngIf="isRaster" formGroupName="rasterResolution" fxLayout="row">
        <mat-input-container fxFlex>
            <input matInput
                   type="number"
                   placeholder="Resolution Width"
                   formControlName="width"
            >
        </mat-input-container>
        <mat-input-container fxFlex>
            <input matInput
                   type="number"
                   placeholder="Resolution Height"
                   formControlName="height"
            >
        </mat-input-container>
    </div>
    <div fxLayout="row">
        <mat-form-field>
            <mat-select formControlName="dataOutputFormat" *ngIf="isVector" placeholder="Data Output Type" fxFlex>
                <mat-option *ngFor="let type of WFSOutputFormats.EXPORT_TYPES" [value]="type">{{type}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select formControlName="dataOutputFormat" *ngIf="isRaster" placeholder="Data Output Type" fxFlex>
                <mat-option *ngFor="let type of WCSOutputFormats.EXPORT_TYPES" [value]="type">{{type}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div fxLayout="row">
        <mat-form-field>
            <mat-select placeholder="Citation Type" formControlName="citationFormat" fxFlex>
                <mat-option [value]="'json'">JSON</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit" [disabled]="(form.statusChanges | async) !== 'VALID'">
        Export
    </button>
</form>
