<div #tableframe class="table-frame" (window:resize)="_changeDetectorRef.detectChanges()">
    <div #typingdiv class="typingdiv" *ngIf="(isTypingProperties$ | async)">
        <table #typingtable class="resizeTable" cellspacing="0" cellpadding="0">
            <tr>
                <ng-template ngFor let-h [ngForOf]="header" let-i="index">
                    <td class="custom" style="margin-left:0; margin-right:0; padding-bottom: 3px;"
                        [ngStyle]="{'min-width.px': cellSizes[2*i]}">
                        <mat-form-field *ngIf="[(propertiesService.spatialProperties$ | async).xColumn,
                            (!(propertiesService.spatialProperties$ | async).isWkt?(propertiesService.spatialProperties$ | async).yColumn:null),
                            ((propertiesService.temporalProperties$ | async).isTime)?(propertiesService.temporalProperties$ | async).startColumn:null,
                            ([IntervalFormat.StartEnd, IntervalFormat.StartDur].indexOf((propertiesService.temporalProperties$ | async).intervalFormat) >= 0)?(propertiesService.temporalProperties$ | async).endColumn:null].indexOf(i) < 0">
                            <mat-select placeholder="Type" style="margin-top: 1rem;"
                                        name="isNumber_{{i}}"
                                        [(ngModel)]="isNumberArray[i]"
                                        [ngStyle]="{'min-width.px': cellSizes[2*i]}">
                                <mat-option [value]="0">
                                    Text
                                </mat-option>
                                <mat-option [value]="1">
                                    Number
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <p *ngIf="i === (propertiesService.spatialProperties$ | async).xColumn"
                           class="coordinate_orange">
                            Coordinate
                        </p>
                        <p *ngIf="i === (propertiesService.spatialProperties$ | async).yColumn && !(propertiesService.spatialProperties$ | async).isWkt"
                           class="coordinate_blue">
                            Coordinate
                        </p>
                        <p *ngIf="i === (propertiesService.temporalProperties$ | async).startColumn && (propertiesService.temporalProperties$ | async).isTime"
                           class="time_green">
                            Time
                        </p>
                        <p class="time_violet"
                           *ngIf="i === (propertiesService.temporalProperties$ | async).endColumn && (propertiesService.temporalProperties$ | async).isTime
                           && [IntervalFormat.StartDur, IntervalFormat.StartEnd].indexOf((propertiesService.temporalProperties$ | async).intervalType) >= 0">
                            Time
                        </p>
                    </td>
                    <td *ngIf="i !== header.length-1" name="spacer" [ngStyle]="{'min-width.px': cellSizes[2*i+1]}"></td>
                </ng-template>
            </tr>
        </table>
    </div>
    <br>
    <div #headerdiv class="headerdiv" (scroll)="headerScroll()">
        <table #headertable class="resizeTable" cellspacing="0" cellpadding="0">
            <tr>
                <!-- header goes here -->
                <ng-template [ngIf]="(propertiesService.dataProperties$ | async).isHeaderRow">
                    <ng-template ngFor let-h [ngForOf]="header" let-i="index">
                        <td style="margin-left:0; margin-right:0; padding-bottom: 3px; white-space: nowrap;"
                            [ngStyle]="{'min-width.px': cellSizes[2*i]}"
                            title="{{h.value}}"
                            [ngClass]="{'orangeHead': (isSpatialProperties$ | async) && (i === (xColumn$ | async)),
                            'blueHead': (isSpatialProperties$ | async) && (i === (yColumn$ | async)),
                            'greenHead': (propertiesService.temporalProperties$ | async).isTime && (isTemporalProperties$ |async) &&
                            (i === (xColumn$ | async)),
                            'violetHead': (propertiesService.temporalProperties$ | async).isTime && (isTemporalProperties$ | async) &&
                            (i === (yColumn$ | async)) && [IntervalFormat.StartDur, IntervalFormat.StartEnd].indexOf((propertiesService.temporalProperties$ | async).intervalType) >= 0}">
                            {{h.value}}
                        </td>
                        <td *ngIf="i !== header.length-1" name="spacer"
                            [ngStyle]="{'min-width.px': cellSizes[2*i+1]}"></td>
                    </ng-template>
                </ng-template>
                <ng-template [ngIf]="!(propertiesService.dataProperties$ | async).isHeaderRow">
                    <ng-template ngFor let-h [ngForOf]="header" let-i="index">
                        <td class="custom" style="margin-left:0; margin-right:0;"
                            [ngStyle]="{'min-width.px': cellSizes[2*i]}"
                            [ngClass]="{orangeHead: (isSpatialProperties$ | async) && (i === (xColumn$ | async)),
                            blueHead: (isSpatialProperties$ | async) && (i === (yColumn$ | async)),
                            greenHead: (propertiesService.temporalProperties$ | async).isTime && (isTemporalProperties$ |async) && (i === (xColumn$ | async)),
                            violetHead: (propertiesService.temporalProperties$ | async).isTime && (isTemporalProperties$ | async) && (i === (yColumn$ | async)) &&
                            [IntervalFormat.StartDur, IntervalFormat.StartEnd].indexOf((propertiesService.temporalProperties$ | async).intervalType) >= 0}">
                            <mat-input-container>
                                <input matInput type="text" placeholder="{{i+1}}{{ending(i+1)}} Column"
                                       [(ngModel)]="h.value" name="header_{{i}}" (change)="propertiesService.changeHeader(header)">
                            </mat-input-container>
                        </td>
                        <td *ngIf="i !== header.length-1" name="spacer"
                            [ngStyle]="{'min-width.px': cellSizes[2*i+1]}"></td>
                    </ng-template>
                </ng-template>
            </tr>
        </table>
    </div>
    <br>
    <div #bodydiv class="bodydiv" (scroll)="bodyScroll()">
        <table #bodytable class="resizeTable" cellspacing="0" cellpadding="0">
            <!-- body goes here -->
            <tr *ngFor="let el of elements; let i = index; trackBy: trackbyFn" style="white-space: nowrap;">
                <ng-template ngFor let-e [ngForOf]="el" let-k="index">
                    <td style="margin-left:0; margin-right:0;"
                        [ngStyle]="{'min-width.px': cellSizes[2*k]}"
                        [ngClass]="{orange: (isSpatialProperties$ | async) && (k === (xColumn$ | async)),
                        blue: (isSpatialProperties$ | async) && (k === (yColumn$ | async)),
                        green: (propertiesService.temporalProperties$ | async).isTime && (isTemporalProperties$ |async) && (k === (xColumn$ | async)),
                        violet: (propertiesService.temporalProperties$ | async).isTime && (isTemporalProperties$ | async) && (k === (yColumn$ | async)) &&
                        [IntervalFormat.StartDur, IntervalFormat.StartEnd].indexOf((propertiesService.temporalProperties$ | async).intervalType) >= 0}">
                        {{e}}
                    </td>
                    <td *ngIf="k !== header.length-1" name="spacer" [ngStyle]="{'min-width.px': cellSizes[k*2+1]}"></td>
                </ng-template>
            </tr>
        </table>
    </div>
</div>
