<form (ngSubmit)="login()">
    <div class="container" fxLayout="column" fxLayoutAlign="space-around">
        <div class="login">
            <mat-card>
                <mat-card-header>
                    <mat-card-title><img [src]="config.BRANDING.LOGO_URL" class="logo" /></mat-card-title>
                    <mat-card-subtitle> Manager </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <!-- <button mat-raised-button (click)="oidcLogin()" fxFlex color="primary">Sign in using OIDC</button> -->

                    <mat-form-field appearance="fill">
                        <mat-label>Username</mat-label>
                        <input matInput type="text" [(ngModel)]="email" name="email" required />
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" [(ngModel)]="password" name="password" required />
                    </mat-form-field>

                    <button mat-raised-button color="primary" type="submit">Login</button>
                </mat-card-content>
            </mat-card>

            @if (config.BRANDING.HOMEPAGE; as homepage) {
                <div class="homepage-wrapper">
                    <a [href]="homepage.URL" mat-flat-button color="accent" class="homepage-button">
                        <mat-icon>keyboard_return</mat-icon>
                        <span></span>
                        <img
                            [src]="homepage.BUTTON_IMAGE_URL"
                            [alt]="homepage.BUTTON_ALT_TEXT"
                            [matTooltip]="homepage.BUTTON_TOOLTIP_TEXT"
                        />
                    </a>
                </div>
            }
        </div>
    </div>
</form>
