@import '~@angular/material/theming';

// Material Base Styles
@include mat-core();

// Define Colors
/* For use in src/lib/core/theming/_palette.scss */
$eumetsat-blue: (
    50 : #e0e4eb,
    100 : #b3bcce,
    200 : #8090ad,
    300 : #4d638c,
    400 : #264174,
    500 : #00205b,
    600 : #001c53,
    700 : #001849,
    800 : #001340,
    900 : #000b2f,
    A100 : #687bff,
    A200 : #354eff,
    A400 : #0221ff,
    A700 : #001de7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$eumetsat-green: (
    50 : #e5f3f1,
    100 : #bee0dc,
    200 : #93ccc4,
    300 : #68b8ac,
    400 : #47a89b,
    500 : #279989,
    600 : #239181,
    700 : #1d8676,
    800 : #177c6c,
    900 : #0e6b59,
    A100 : #9effeb,
    A200 : #6bffe0,
    A400 : #38ffd5,
    A700 : #1fffd0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Define App Theme
$wave-app-primary: mat-palette($eumetsat-blue);
$wave-app-accent: mat-palette($eumetsat-green, A200, A100, A400);
$wave-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$wave-app-theme: mat-light-theme($wave-app-primary, $wave-app-accent, $wave-app-warn);

// Apply Angular Material Mixin to Color Theme
@include angular-material-theme($wave-app-theme);
