<!--<ng-template ngFor let-u [ngForOf]="urls" let-i="index">
    <span [ngSwitch]="mediaType[i]">
        <a *ngSwitchCase="'image'" href="#" (click)="openImageMediaview(i)"><mat-icon class="mat-24">image</mat-icon>{{u}}</a>
        <a *ngSwitchCase="'audio'" href="#" (click)="openAudioMediaview(i)"><mat-icon class="mat-24">music_video</mat-icon>{{u}}</a>
        <a *ngSwitchCase="'video'" href="#" (click)="openVideoMediaview(i)"><mat-icon class="mat-24">movie</mat-icon>{{u}}</a>
        <ng-template ngSwitchDefault>{{u}}</ng-template>
    </span>
</ng-template>-->

<span>
    <a *ngIf="imageUrls.length > 0" href="#" (click)="openImageMediaview(0)">
        <mat-icon class="mat-24">image</mat-icon>{{imageUrls.length}} <ng-template [ngIf]="imageUrls.length == 1">image</ng-template><ng-template [ngIf]="imageUrls.length != 1">images</ng-template>
    </a>
    <a *ngIf="audioUrls.length > 0" href="#" (click)="openAudioMediaview(0)">
        <mat-icon class="mat-24">music_video</mat-icon>{{audioUrls.length}} <ng-template [ngIf]="audioUrls.length == 1">audio-file</ng-template><ng-template [ngIf]="audioUrls.length != 1">audio-files</ng-template>
    </a>
    <a *ngIf="videoUrls.length > 0" href="#" (click)="openVideoMediaview(0)">
        <mat-icon class="mat-24">movie</mat-icon>{{videoUrls.length}} <ng-template [ngIf]="videoUrls.length == 1">video</ng-template><ng-template [ngIf]="videoUrls.length != 1">videos</ng-template>
    </a>
    <ng-template [ngIf]="textNoUrls.length > 0">
        <ng-template ngFor let-u [ngForOf]="textNoUrls" let-i="index">
            {{u}}<ng-template [ngIf]="i < textNoUrls.length - 1" >, </ng-template>
        </ng-template>
    </ng-template>
</span>
