:host {
    width: 100%;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
}

.left {
    flex: 0 0 25%;
    border-right: 1px solid #ccc;
}

.no-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
}

.add-item {
    width: calc(100% - 1rem);
    height: 3rem;
    margin: 0.5rem;
}

geoengine-layer-collection-navigation {
    height: calc(100% - 4.5rem);
}

.selected {
    background-color: var(--geoengine-primary-color);
}

.browseButton {
    margin: 1rem;
}
