<div class="container">
    <geoengine-layer-collection-navigation
        class="left"
        [showLayerToggle]="false"
        [collectionNavigation]="CollectionNavigation.Button"
        [collectionId]="collectionId"
        (selectLayer)="selectLayer($event)"
        (selectCollection)="selectCollection($event)"
    ></geoengine-layer-collection-navigation>

    @if (selectedItem(); as item) {
        @switch (item.type) {
            @case (ItemType.Collection) {
                <geoengine-manager-layer-collection-editor
                    [collectionListing]="item.collection"
                    (layerSelected)="selectLayer($event)"
                    (collectionSelected)="selectCollection($event)"
                    (collectionUpdated)="collectionUpdated()"
                    (collectionDeleted)="collectionDeleted()"
                ></geoengine-manager-layer-collection-editor>
            }
            @case (ItemType.Layer) {
                <geoengine-manager-layer-editor
                    [layerListing]="item.layer"
                    (layerUpdated)="layerUpdated()"
                    (layerDeleted)="layerDeleted()"
                ></geoengine-manager-layer-editor>
            }
        }
    } @else {
        <div class="no-item">Please select a layer</div>
    }
</div>
