<wave-sidenav-header>Raster Polygon Clip</wave-sidenav-header>
<form [formGroup]="form" (ngSubmit)="$event.preventDefault();add()" fxLayout="column">
    <div fxFlex class="container">
        <wave-layer-selection
            [types]="[ResultTypes.RASTER]"
            formControlName="rasterLayer"
        ></wave-layer-selection>
        <wave-layer-selection
            [types]="[ResultTypes.POLYGONS]"
            formControlName="polygonLayer"
        ></wave-layer-selection>
        <wave-operator-output-name formControlName="name">
            <md-hint
                align="end" class="error"
                *ngIf="form.controls.name.errors?.required || form.controls.name.errors?.onlyWhitespace"
            >
                The name must be non-empty.
            </md-hint>
        </wave-operator-output-name>
    </div>
    <div class="actions">
        <button type="submit" md-raised-button color="primary" [disabled]="(form.statusChanges | async) !== 'VALID'">Apply</button>
    </div>
</form>
