<div layout="column" style="height: 100%;">
    <div layout="row" style="height: 180px;">
        <div style="width: 200px;">
        </div>
        <div>
        </div>
    </div>
    <div layout="row" flex="grow">
        <div *ngIf="layerListVisible" style="width: 200px;">
        </div>
        <div flex="grow" id="mapcont">
            <ol-map [height]="mapHeight">
                <ol-layer *ngFor="#layer of layers" [type]="layer.type" [url]="layer.url" [style]="layer.style"></ol-layer>
            </ol-map>
        </div>
    </div>
    <div style="height: 50px; background-color: magenta;">
    </div>
    <div *ngIf="dataTableVisible" flex="30" style="background-color: yellow;">
    </div>
</div>
