<div class="myContainer">
    <div class="navbar bordered">
        <div class="help">
            <md-toolbar>
                <div>
                    VAT
                    <button md-button class="md-icon-button" aria-label="Person" (click)="clicked('Person')">
                        <i class="green" md-icon>person</i>
                    </button>
                    <button md-button class="md-icon-button" aria-label="Help" (click)="clicked('Help')">
                        <i md-icon>help</i>
                    </button>
                </div>
                <div class="md-toolbar-tools">
                    <button md-button class="md-icon-button" aria-label="Settings" (click)="clicked('Menu')">
                        <i md-icon>menu</i>
                    </button>
                    Layers
                    <button md-button class="md-icon-button" aria-label="Settings" (click)="layersClicked()">
                        <i *ngIf="!visible" md-icon>expand_more</i>
                        <i *ngIf="visible" md-icon>expand_less</i>
                    </button>
                </div>
            </md-toolbar>
        </div>
        <div class="tabs">
            <tab-component [disabled]="!hasSelected"></tab-component>
        </div>
    </div>
    <div class="core bordered">
        <div *ngIf="visible" class="layerList">
            <md-list>
                <div class='container' [dragula]='"layer-bag"' [dragulaModel]='many'>
                    <md-list-item class="md-3-line" *ngFor="#item of layers; #index = index"
                                  style="border-width : 1px; border-style: solid;"
                                  (click)="clickLayer(item)"
                                  [class.selected]="item === selected && hasSelected"
                                  (contextmenu)="replaceContextMenu($event, item)">
                        <div layout="column">
                            <div class="md-list-item-text">

                                <button md-button class="md-icon-button" aria-label="Settings" (click)="expandLayer($event, item)">
                                    <i *ngIf="!item.expanded" md-icon>expand_more</i>
                                    <i *ngIf="item.expanded" md-icon>expand_less</i>
                                </button>

                                {{item.name}}

                                <button md-button class="md-icon-button" aria-label="More" (click)="clicked('A menu will appear in future versions')">
                                    <i md-icon>more_vert</i>
                                </button>
                            </div>
                            <div *ngIf="item.expanded" flex style="border-width : 2px; border-style: solid;">
                                <hr width=100%>
                                {{item.payload}}
                                <br>{{item.payload}}
                                <br>{{item.payload}}
                            </div>
                        </div>
                    </md-list-item>
                </div>
            </md-list>
        </div>
        <div class="map bordered">
        </div>
    </div>
    <div class="tableSelector bordered">
        Data Table
        <button md-button class="md-icon-button" aria-label="Settings" (click)="expandData()">
            <i *ngIf="!dataTableVisible" md-icon>expand_more</i>
            <i *ngIf="dataTableVisible" md-icon>expand_less</i>
        </button>
    </div>
    <angular-grid class="table bordered" *ngIf="dataTableVisible">
    </angular-grid>
</div>