<md-content>
    <br>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <button md-button class="md-icon-button" aria-label="Settings" (click)="clicked('Menu')">
                <i md-icon>menu</i>
            </button>
            <h2>
                <span>Toolbar with Icon Buttons</span>
            </h2>
            <span flex></span>
            <button md-button class="md-icon-button" aria-label="Favorite" (click)="clicked('Favorite')">
                <i class="green" md-icon>favorite</i>
            </button>
            <button md-button class="md-icon-button" aria-label="More" (click)="clicked('Show More')">
                <i md-icon>more_vert</i>
            </button>
        </div>
    </md-toolbar>
    <br>
</md-content>