.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.one {
    height: 200px;
    background: red;
    display: flex;
    flex-direction: row;
}
.oneOne {
    flex-grow:20;
    background: magenta;
}
.oneTwo {
    flex-grow:80;
    background: red;
}
.two {
    flex-grow:66;
    background: limegreen;
    display: flex;
    flex-direction: row;
}
.twoOne {
    flex-grow:20;
    background: limegreen;
}
.twoTwo {
    flex-grow:80;
    background: yellow;
}
.three {
    height: 50px;
    flex: 0 0 auto;
    background: cyan;
}
.four {
    flex-grow: 33;
    background: blue;
}