<md-tabs md-dynamic-height md-border-bottom [selected]="tabIndex$ | async">
    <template md-tab label="Start">
        <md-content layout="row">

            <fieldset [class.selected]="layerSelected">
                <legend>Layer</legend>
                <div layout="row">
	                <div layout="column" layout-align="space-around center">
	                	<button md-button style="margin: 0px; height: auto;"
	                			class="md-primary" [disabled]="!layerSelected"
                				layout="column" layout-align="center center">
	                		<i md-icon>info</i>
	                		<div>Info</div>
	                	</button>
	               	</div>
	               	<div layout="column">
	                    <button md-button style="text-align: left; margin: 0px;"
	                    		class="md-primary" [disabled]="!layerSelected"
                                (click)="lineage.emit(true)">
		                    <i md-icon>merge_type</i>
		                    Workflow
	                    </button>
	                    <button md-button style="text-align: left; margin: 0px;"
	                    		class="md-primary" [disabled]="!layerSelected">
		                    <i md-icon>file_download</i>
		                    Export
	                    </button>
	                    <button md-button style="text-align: left; margin: 0px;"
	                    		class="md-primary" [disabled]="!layerSelected">
		                    <i md-icon>share</i>
		                    Share
	                    </button>
					</div>
					<div layout="column">
	                    <button md-button style="text-align: left; margin: 0px;"
	                    		class="md-primary" [disabled]="!layerSelected"
                          (click)="renameLayerEmitter.emit()">
		                    <i md-icon>mode_edit</i>
		                    Rename
	                    </button>
	                    <button md-button style="text-align: left; margin: 0px;"
	                    		class="md-primary" [disabled]="!layerSelected"
                          (click)="symbologyEmitter.emit()">
		                    <i md-icon>map</i>
		                    Symbology
	                    </button>
	                    <button md-button style="text-align: left; margin: 0px;"
	                    		class="md-primary" [disabled]="!layerSelected"
	                    		(click)="removeLayerEmitter.emit()">
		                    <i md-icon>cancel</i>
		                    Remove
	                    </button>
	                </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Zoom</legend>
                <div layout="row">
	                <div layout="column">
		                <button md-button style="text-align: left; margin: 0px;" class="md-primary"
		                		(click)="zoomLayerEmitter.emit()"
		                		[disabled]="!layerSelected">
			                <i md-icon>zoom_in</i>
			                Layer
		                </button>
		                <button md-button style="text-align: left; margin: 0px;" class="md-primary"
		                		(click)="zoomProjectEmitter.emit()"
		                		disabled="true">
			                <i md-icon>zoom_in</i>
			                Project
		                </button>
		                <button md-button style="text-align: left; margin: 0px;" class="md-primary"
		                		(click)="zoomMapEmitter.emit()">
			                <i md-icon>zoom_out</i>
			                Map
		                </button>
	                </div>
	                <div layout="column" layout-align="space-around center">
		                <button md-fab class="md-mini md-primary" aria-label="Zoom In"
		                		(click)="zoomInEmitter.emit()">
			                <i md-icon>add</i>
		                </button>
		                <button md-fab class="md-mini md-primary" aria-label="Zoom Out"
		                		(click)="zoomOutEmitter.emit()">
			                <i md-icon>remove</i>
		                </button>
	                </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Add Data</legend>
                <div layout="row">
	                <div layout="column" layout-align="space-around center">
	                	<button md-button style="margin: 0px; height: auto;"
	                			class="md-primary" layout="column"
                				(click)="addDataEmitter.emit()">
	                		<i md-icon>storage</i>
	                		<div>Repository</div>
	                	</button>
	               	</div>
	               	<div layout="column">
	                    <button md-button style="text-align: left; margin: 0px;"
	                    		class="md-primary">
		                    <i md-icon>add_shopping_cart</i>
		                    GFBio Search
	                    </button>
	                    <button md-button style="text-align: left; margin: 0px;"
	                    		class="md-primary">
		                    <i md-icon>file_upload</i>
		                    Upload
	                    </button>
	                    <button md-button style="text-align: left; margin: 0px;"
	                    		class="md-primary">
		                    <i md-icon>brush</i>
		                    Draw
	                    </button>
					</div>
				</div>
            </fieldset>

            <fieldset>
                <legend>Reference Time</legend>
                <wave-time-ribbon></wave-time-ribbon>
            </fieldset>

        </md-content>
    </template>
    <template md-tab label="Operators">
        <md-content layout="row">
            <fieldset>
                <legend>Vector</legend>
                <div layout="row">
                    <div layout="column" layout-align="space-around center">
                        <button md-button style="margin: 0px; height: auto;"
                                class="md-primary" layout="column"
                                (click)="addRasterValueExtractionOperator()">
                            <i md-icon>settings</i>
                            <div>Raster Value Extraction</div>
                        </button>
                    </div>
                    <div layout="column" layout-align="space-around center">
                        <button md-button style="margin: 0px; height: auto;"
                                class="md-primary" layout="column"
                                (click)="addNumericAttributesFilterOperator()">
                            <i md-icon>settings</i>
                            <div>Numeric Attributes Filter</div>
                        </button>
                    </div>
                    <div layout="column" layout-align="space-around center">
                        <button md-button style="margin: 0px; height: auto;"
                                class="md-primary" layout="column"
                                (click)="addPointInPolygonFilterOperator()">
                            <i md-icon>settings</i>
                            <div>Point in Polygon Filter</div>
                        </button>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Raster</legend>
                <div layout="row">
                    <div layout="column" layout-align="space-around center">
                        <button md-button style="margin: 0px; height: auto;"
                                class="md-primary" layout="column"
                                (click)="addExpressionOperator()">
                            <i md-icon>settings</i>
                            <div>Expression</div>
                        </button>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Plots</legend>
                <div layout="row">
                    <div layout="column" layout-align="space-around center">
                        <button md-button style="margin: 0px; height: auto;"
                                class="md-primary" layout="column"
                                (click)="addHistogramOperator()">
                            <i md-icon>settings</i>
                            <div>Histogram</div>
                        </button>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Other</legend>
                <div layout="row">
                    <div layout="column" layout-align="space-around center">
                        <button md-button style="margin: 0px; height: auto;"
                                class="md-primary" layout="column"
                                (click)="addROperator()">
                            <i md-icon>settings</i>
                            <div>R Scripts</div>
                        </button>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>MSG</legend>
                <div layout="row">
                    <div layout="column" layout-align="space-around center">
                        <button md-button style="margin: 0px; height: auto;"
                                class="md-primary" layout="column"
                                (click)="addMsgRadianceOperator()">
                            <i md-icon>satellite</i>
                            <div>Radiance</div>
                        </button>
                    </div>
                    <div layout="column" layout-align="space-around center">
                        <button md-button style="margin: 0px; height: auto;"
                                class="md-primary" layout="column"
                                (click)="addMsgReflectanceOperator()">
                            <i md-icon>satellite</i>
                            <div>Reflectance</div>
                        </button>
                    </div>
                </div>
            </fieldset>
        </md-content>
    </template>
    <template md-tab label="Project">
        <md-content layout="row">
            <fieldset>
                <legend>Project</legend>
                <div layout="row">
                    <div layout="column" layout-align="space-around center">
                        <button md-button style="margin: 0px; height: auto;"
                                class="md-primary" layout="column"
                                (click)="projectSettings.emit()">
                            <i md-icon>settings</i>
                            <div>Configuration</div>
                        </button>
                    </div>
                    <div layout="column" layout-align="space-around center">
                        <button md-button style="margin: 0px; height: auto;"
	                    		class="md-primary" layout="column"
                                (click)="lineage.emit(false)">
		                    <i md-icon>merge_type</i>
		                    <div>Workflow</div>
	                    </button>
                    </div>
                </div>
            </fieldset>

        </md-content>
    </template>
</md-tabs>
