.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

mat-form-field {
    width: 100%;
}

.add-entry {
    margin-top: 0;
    margin-bottom: 3rem;
}

.empty-placeholder {
    margin-bottom: 1rem;
}

.analyze {
    height: 3rem;
}
