<div class='legend'>
    <tbody>

    <ng-template [ngIf]='symbology.isUnknown()'>
        <tr>
            <td>Interpolation</td><td>{{symbology?.interpolation}}</td>
        </tr>
        <tr>
            <td>Measurement</td><td>{{symbology?.unit?.measurement}}</td>
        </tr>
        <tr>
            <td>Unit</td><td>{{symbology?.unit?.unit}}</td>
        </tr>
    </ng-template>
    <ng-template [ngIf]='!symbology.isUnknown()'>


        <tr *ngFor='let breakpoint of symbology.colorizer.breakpoints; let isFirst = first'>
            <ng-template [ngIf]='symbology.isContinuous()'>
                <td class='gradient'
                    *ngIf='isFirst'
                    [rowSpan]='symbology.colorizer.breakpoints.length'
                    [style.background]='symbology.colorizer | waveWappingColorizerToGradient | waveSafeStyle'
                ></td>
                <td>{{breakpoint.value}}</td>
                <td *ngIf='isFirst'>{{symbology?.unit?.unit}}</td>
            </ng-template>
            <ng-template [ngIf]='symbology.isDiscrete()'>
                <td class ='classes'><div
                    class='icon'
                    [style.background-color]='breakpoint | breakpointToCssStringPipe'
                ></div></td>
                <td>{{symbology?.unit?.classes?.get(breakpoint.value)}}</td>
            </ng-template>
        </tr>
    </ng-template>
    </tbody>
</div>
