:host ::ng-deep {
    width: 100%;
}

mat-card {
    margin: 1rem;
}

mat-card-content {
    margin-top: 1rem;
}

mat-form-field {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.bottom {
    flex-grow: 1;
}

.bottom mat-card-content {
    height: 100%;
}
