@import '../../../../../node_modules/@angular/material/button/button-base';

.audioContainer {

    wave-dialog-section-heading {
        float: left;
        margin: 0 1rem;
        width: calc(100% - 4rem - #{$mat-icon-button-size});
    }

    .externalLink{
        float: right;
        margin: 1rem;
    }

    audio {
        width: calc(100% - 2rem);
        margin: 1rem;
    }
}


