<wave-sidenav-header>Histogram</wave-sidenav-header>
<form [formGroup]="form" (ngSubmit)="$event.preventDefault();add($event)" fxLayout="column">
    <div fxFlex class="container">
        <wave-layer-selection
            [types]="ResultTypes.INPUT_TYPES"
            formControlName="layer"
        ></wave-layer-selection>
        <wave-dialog-section-heading title="Config" subtitle="Specify the Histogram"></wave-dialog-section-heading>
        <mat-form-field *ngIf="isVectorLayer$ | async">
            <mat-select placeholder="Attribute" formControlName="attribute">
                <mat-option *ngFor="let attribute of (attributes$ | async)" [value]="attribute">{{attribute}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Range Type" formControlName="rangeType">
                <mat-option [value]="'custom'">Custom</mat-option>
                <mat-option [value]="'unit'">Unit</mat-option>
                <mat-option [value]="'data'">Data</mat-option>
            </mat-select>
        </mat-form-field>
        <div *ngIf="form.controls.rangeType.value === 'custom'" fxLayout="row" formGroupName="range">
            <mat-input-container fxFlex>
                <input matInput type="number" placeholder="Min" formControlName="min">
                <mat-hint class="error" *ngIf="form.controls.range.errors?.noFilter">
                    Please specify the value.
                </mat-hint>
            </mat-input-container>
            <div fxFlex="1rem"></div>
            <mat-input-container fxFlex>
                <input matInput type="number" placeholder="Max" formControlName="max">
                <mat-hint class="error" *ngIf="form.controls.range.errors?.minOverMax">
                    The maximum must be greater or equal to the minimum.
                </mat-hint>
                <mat-hint class="error" *ngIf="form.controls.range.errors?.noFilter">
                    Please specify the value.
                </mat-hint>
            </mat-input-container>
        </div>
        <mat-checkbox type="checkbox" formControlName="autoBuckets">
            Choose number of buckets automatically
        </mat-checkbox>
        <div fxLayout="row" *ngIf="(form.controls.autoBuckets.valueChanges | async) === false">
            <mat-input-container fxFlex>
                <input matInput
                       type="number"
                       placeholder="Number of Buckets"
                       formControlName="numberOfBuckets"
                >
            </mat-input-container>
        </div>
        <wave-operator-output-name
            formControlName="name"
            [suggestion]="'Histogram of ' + (form.controls.layer.valueChanges | async)?.name"
        >
            <mat-hint
                align="end" class="error"
                *ngIf="form.controls.name.errors?.required || form.controls.name.errors?.onlyWhitespace"
            >
                The name must be non-empty.
            </mat-hint>
        </wave-operator-output-name>
    </div>
    <div class="actions">
        <button type="submit" mat-raised-button color="primary" [disabled]="(form.statusChanges | async) !== 'VALID'">
            Create
        </button>
    </div>
</form>
