<wave-dialog-header>Visualization, Analysis and Transformation System</wave-dialog-header>
<md-dialog-content>
    <h2>Biodiversity Data Easily Explored Online</h2>
    <p>
        Visualize, analyze and transform your biodiversity data in a comfortable online GIS environment!
        Save and share your workflows!
    </p>
    <p>
        Have access to collections and biodiversity data centers, international data aggregators and environmental
        data, and integrate your own data!
    </p>
    <p>For a detailed introduction, please have a look at our help section!</p>
</md-dialog-content>
<md-dialog-actions align="end">
    <md-checkbox (change)="changeTick($event)">Don't show this message again</md-checkbox>
</md-dialog-actions>
