<!--<template ngFor let-u [ngForOf]="urls" let-i="index">
  <span [ngSwitch]="dialogType[i]">
    <a *ngSwitchCase="'image'" href="#" (click)="openImageDialog(i)"><md-icon class="md-24">image</md-icon>{{u}}</a>
    <a *ngSwitchCase="'audio'" href="#" (click)="openAudioDialog(i)"><md-icon class="md-24">music_video</md-icon>{{u}}</a>
    <a *ngSwitchCase="'video'" href="#" (click)="openVideoDialog(i)"><md-icon class="md-24">movie</md-icon>{{u}}</a>
    <template ngSwitchDefault>{{u}}</template>
  </span>
</template>-->

<span>
  <a *ngIf="imageUrls.length > 0" href="#" (click)="openImageDialog(0)">
    <md-icon class="md-24">image</md-icon>{{imageUrls.length}} <template [ngIf]="imageUrls.length == 1">image</template><template [ngIf]="imageUrls.length != 1">images</template>
  </a>
  <a *ngIf="audioUrls.length > 0" href="#" (click)="openAudioDialog(0)">
    <md-icon class="md-24">music_video</md-icon>{{audioUrls.length}} <template [ngIf]="audioUrls.length == 1">audio-file</template><template [ngIf]="audioUrls.length != 1">audio-files</template>
  </a>
  <a *ngIf="videoUrls.length > 0" href="#" (click)="openVideoDialog(0)">
    <md-icon class="md-24">movie</md-icon>{{videoUrls.length}} <template [ngIf]="videoUrls.length == 1">video</template><template [ngIf]="videoUrls.length != 1">videos</template>
  </a>
  <template [ngIf]="textNoUrls.length > 0">
    <template ngFor let-u [ngForOf]="textNoUrls" let-i="index">
      {{u}}<template [ngIf]="i < textNoUrls.length - 1" >, </template>
    </template>
  </template>
</span>
