<wave-sidenav-header>Workspace Settings</wave-sidenav-header>
<md-nav-list>
    <h3 md-subheader>Storage</h3>
    <md-list-item class="disabled">
        <md-icon md-list-icon color="default">save</md-icon>
        <h4 md-line>Save</h4>
        <p md-line><em>autosave</em></p>
    </md-list-item>
    <md-list-item>
        <md-icon md-list-icon color="default">folder_open</md-icon>
        <h4 md-line>Load</h4>
        <p md-line>Load another project</p>
    </md-list-item>
    <h3 md-subheader>Project</h3>
    <md-list-item>
        <md-icon md-list-icon color="default">create_new_folder</md-icon>
        <h4 md-line>New</h4>
        <p md-line>Create a new project</p>
    </md-list-item>
    <md-list-item>
        <md-icon md-list-icon color="default">settings</md-icon>
        <h4 md-line>Settings</h4>
        <p md-line>Modify the current project</p>
    </md-list-item>
</md-nav-list>
