//@import '../../../../../node_modules/@angular/material/dialog/dialog';
//@import '../../../../../node_modules/@angular/material/button/button-base';
$mat-dialog-padding: 24px !default; // TODO: import when this is possible again
$mat-fab-size: 56px !default; // TODO: import when this is possible again


/*.previous{
    position: absolute;
    top: calc(50% - #{$mat-fab-size/2});
    left: #{-$mat-fab-size/2};
}

.next{
    position: absolute;
    top: calc(50% - #{$mat-fab-size/2});
    right: #{-$mat-fab-size/2};
}*/

.imageContainer{
    max-width: calc(100vw - 4rem);
    max-height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    margin: #{-$mat-dialog-padding};

    img {
        margin: 0 auto;
        display: block;
    }

    md-dialog-content{
        padding: 0;
        margin: 0;
        max-height: inherit;
        max-width: inherit;
        overflow: auto;
        position: relative;
    }

    md-toolbar {
        margin: 0;

        /*h3 small{
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: keep-all;
        }*/

        .separator{
            flex-grow: 1;
        }

        .externalLink {
            margin-right: 2rem;
        }

        .closeLink {

        }
    }

    .loading{
        position: absolute;
        width: 100%;
        height:100%;
        top: 0;
        left: 0;
        background: rgba(#ffffff, 50%);

        .spinner{
            position: relative;
            top: calc(50% - 100px);
            left: calc(50% - 100px);
        }
    }

    .buttons {
        position: fixed;
        bottom: 2*$mat-dialog-padding;
        left: 0;
        width: 100%;
        text-align: center;

        button {
            margin: 1rem;
        }

        .previous{
            margin-right: 2rem;
        }

        .next{
            margin-left: 2rem;
        }
    }
}


