@import '../../../wave-app-theme';

:host {
    font-size: 0.87rem;
}

.scrollContent{
    overflow: auto;
    width: 100%;
    position: relative;
    overflow-anchor: none;
}

.mat-table {
    float: left;
}

.tableFixed {
    position: relative;
    background: fade-out(#ffffff, 0.1);
}

.mat-header-row, .mat-row {
    min-height: 40px;
    padding-left: 0;
}
.mat-header-row.tableFixedHorizontal{
    z-index: 11;
}

.mat-header-cell, .mat-cell{
    height: 36px;

    &:not(.tableFixedVertical) {
        overflow: hidden;
        word-wrap: break-word;
        hyphens: auto;
        text-overflow: ellipsis;
        padding: 2px 5px;
    }

    &.tableFixedVertical{
        padding: 2px 14px;
        display: flex;
        align-items: center;
    }
}

.mat-header-cell.tableFixedVertical{
    z-index: 12;
}
.mat-cell.tableFixedVertical{
    z-index: 10;
    min-width: 20px;
    max-width: 20px;
}

.mat-cell span{
    height: 36px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;

    //Multi-Line-Clamping
    /*&:after {
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100px;
        height: 1.2em;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 80%);
    }*/
}

.rowSelected {
    background: fade-out(mat-color($wave-app-accent), 0.6);

    .tableFixed::before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: fade-out(mat-color($wave-app-accent), 0.6);
    }
}

.offsetterTop, .offsetterBottom {
    padding: 0;
    border: 0;
    min-height: 0;
    height: 0;

    .mat-cell{
        height: 0;
        padding: 0;
    }
}


.no-layer {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    color: mat-color(map-get($wave-app-theme, foreground), secondary-text);

    span {
        display: table-cell;
        vertical-align: middle;
    }
}

.spinnerContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background: fade-out(#ffffff, 0.3);
    z-index: 10;

    .spinner{
        position: absolute;
        top: calc(50% - 50px);
        left: calc(50% - 50px);
    }
}
