<div class="scrollContent" [style.height.px]="height" #scrollContainer (window:resize)="updateContainer()" (scroll)="updateScroll()">

  <!-- Loading Spinner -->
  <div class="spinnerContainer" *ngIf="loading || (state$ | async) === LoadingState.LOADING" [style.left.px]="scrollLeft" [style.top.px]="scrollTop">
    <div class="spinner">
      <md-spinner color="primary"></md-spinner>
    </div>
  </div>


  <template [ngIf]="layerService.getIsAnyLayerSelectedStream() | async">
    <!-- Data-Table -->
    <table #scrollContainerContent>
      <thead> <!--#tableHead-->
        <tr>
          <th [style.left.px]="scrollLeft" [style.top.px]="scrollTop" [style.position]="'relative'" class="tableFixed tableFixedHorizontal tableFixedVertical">
            <div class="tableCell">
              <md-checkbox *ngIf="data != null" [checked]="allSelected" [indeterminate]="!allEqual" (change)="toggleAll()"></md-checkbox>
            </div>
          </th>
          <th *ngFor="let t of dataHead; let i=index" [style.top.px]="scrollTop" [style.position]="'relative'" class="tableFixed tableFixedHorizontal">
            <div class="tableCell" [style.width.px]="avgWidths[i]">
              {{t}}
            </div>
          </th>
        </tr>
      </thead>

      <tbody> <!--#tableBody-->
        <!-- Top Offset for virtual scrolling-->
        <tr #offsetterTop [style.height.px]="offsetTop" class="offsetterTop">
          <td [style.width]="'100%'"></td>
        </tr>

        <!-- Content -->
        <tr *ngFor="let tr of displayItemCounter" [class]="'tr'+tr" [class.rowSelected]="selected[tr+firstDisplay]"> <!--#tableElements-->  <!--[class]="'tr'+r+' '+'data'+(r+firstDisplay)"-->
          <td [style.left.px]="scrollLeft" [style.position]="'relative'" class="tableFixed tableFixedVertical">
            <div class="tableCell">
              <md-checkbox *ngIf="data != null" [checked]="selected[tr+firstDisplay]" (change)="toggle(tr+firstDisplay)"></md-checkbox>
            </div>
          </td>
          <td *ngFor="let t of dataHead; let i=index">
            <!--<div class="tableCell" [style.width]="avgWidths[i]+'px'" *ngIf="!textTooWideForColumn(data[tr+firstDisplay]['properties'][t],i)">
              <app-dialog [url]="data[tr+firstDisplay]['properties'][t]"> {{data[tr+firstDisplay]['properties'][t]}} </app-dialog>
            </div>
            <div class="tableCell" [style.width]="avgWidths[i]+'px'" *ngIf="textTooWideForColumn(data[tr+firstDisplay]['properties'][t],i)">
              <app-dialog [url]="data[tr+firstDisplay]['properties'][t]" [md-tooltip]="data[tr+firstDisplay]['properties'][t]" [tooltip-position]="'below'"> {{data[tr+firstDisplay]['properties'][t]}} </app-dialog>
            </div>
            -->
            <div class="tableCell" *ngIf="(tr+firstDisplay) < data.length" [style.width.px]="avgWidths[i]">
              <app-dialog *ngIf="colTypes[i] == 'media'" [url]="data[tr+firstDisplay]['properties'][t]" [type]="colTypes[i]"> </app-dialog>
              <span *ngIf="colTypes[i] != 'media'" [title]="data[tr+firstDisplay]['properties'][t]"> {{data[tr+firstDisplay]['properties'][t]}} </span>
            </div>
          </td>
        </tr>

      <!-- Bottom Offset for virtual scrolling-->
        <tr #offsetterBottom [style.height.px]="offsetBottom" class="offsetterBottom">
          <td [style.width]="'100%'"></td>
        </tr>
      </tbody>
    </table>
  </template>
  <template [ngIf]="!(layerService.getIsAnyLayerSelectedStream() | async)">
    <div class="backdrop">
      <span>no layer selected</span>
    </div>
  </template>

</div>
