// Import theming functions
@import '~@angular/material/core/theming/theming';
// Import your custom theme
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.scss';

table {
  .rowSelected{
    background: fade-out(md-color($accent), 0.6);

    .tableFixed::before{
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: fade-out(md-color($accent), 0.6);
    }
  }
}
