@import '../../../wave-app-theme';

table {
    .rowSelected {
        background: fade-out(mat-color($wave-app-accent), 0.6);

        .tableFixed::before {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: fade-out(mat-color($wave-app-accent), 0.6);
        }
    }
}

.no-layer {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    color: mat-color(map-get($wave-app-theme, foreground), secondary-text);
}

.no-layer span {
    display: table-cell;
    vertical-align: middle;
}
