.info {
    text-align: center;

    mat-spinner,
    p {
        margin: 2rem auto 0 auto;
    }
}

mat-list-item {
    cursor: pointer;

    &:hover {
        background-color: rgba(black, 0.12);
    }
}
