<wave-sidenav-header>Video {{currentVideo + 1}} of {{videoURLs.length}}</wave-sidenav-header>

<div fxFlex class="videoContainer">

    <video #video [src] = "videoURLs[currentVideo]" [controls]="true" [autoplay]="autoPlay" (ended)="playNext()"></video>

    <div class="info">
        <h3 mdTooltip="{{videoURLs[currentVideo] | fileName}}"> {{videoURLs[currentVideo] | fileName}} </h3>

        <a md-mini-fab color="primary" [href]="videoURLs[currentVideo]" target="_blank" class="externalLink" [title]="'open in new tab'">
            <md-icon class="md-24">open_in_new</md-icon>
        </a>
    </div>

    <wave-mediaview-playlist [tracks]="videoURLs" [currentTrack]="currentVideo" (gotoTrack)="goToVideo($event)"></wave-mediaview-playlist>
</div>


