//@import '../../../../../node_modules/@angular/material/button/button-base';
$mat-icon-button-size: 40px !default; // TODO: import when this is possible again

.videoContainer {

    wave-dialog-section-heading {
        float: left;
        margin: 0 1rem;
        width: calc(100% - 4rem - #{$mat-icon-button-size});
    }

    .externalLink{
        float: right;
        margin: 1rem;
    }

    video{
        width: calc(100% - 2rem);
        margin: 1rem;
    }
}


