@import 'wave-app-theme';

body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

.md-overlay-container{
    z-index: 990;
    position: fixed;
}

.cdk-overlay-pane{
    position: relative !important;
}