@import '~@angular/material/theming';

// Material Base Styles
@include mat-core();

// Define Colors
$gfbio-darkblue: (
    50 : #e7ebf4,
    100 : #c2cee3,
    200 : #99add1,
    300 : #708cbf,
    400 : #5273b1,
    500 : #335aa3,
    600 : #2e529b,
    700 : #274891,
    800 : #203f88,
    900 : #142e77,
    A100 : #adc0ff,
    A200 : #7a98ff,
    A400 : #4770ff,
    A700 : #2e5dff,
    contrast: (
        50 : $black-87-opacity,
        100 : $black-87-opacity,
        200 : $black-87-opacity,
        300 : $black-87-opacity,
        400 : $white-87-opacity,
        500 : $white-87-opacity,
        600 : $white-87-opacity,
        700 : $white-87-opacity,
        800 : $white-87-opacity,
        900 : $white-87-opacity,
        A100 : $black-87-opacity,
        A200 : $black-87-opacity,
        A400 : $white-87-opacity,
        A700 : $white-87-opacity,
    )
);

$gfbio-green: (
    50 : #f0f6e9,
    100 : #d9e8c8,
    200 : #c0d9a4,
    300 : #a7c97f,
    400 : #94be63,
    500 : #81b248,
    600 : #79ab41,
    700 : #6ea238,
    800 : #649930,
    900 : #518a21,
    A100 : #dfffc7,
    A200 : #c2ff94,
    A400 : #a5ff61,
    A700 : #97ff47,
    contrast: (
        50 : $black-87-opacity,
        100 : $black-87-opacity,
        200 : $black-87-opacity,
        300 : $black-87-opacity,
        400 : $black-87-opacity,
        500 : $black-87-opacity,
        600 : $black-87-opacity,
        700 : $black-87-opacity,
        800 : $white-87-opacity,
        900 : $white-87-opacity,
        A100 : $black-87-opacity,
        A200 : $black-87-opacity,
        A400 : $black-87-opacity,
        A700 : $black-87-opacity,
    )
);

// Define App Theme
//$wave-app-primary: mat-palette($gfbio-darkblue);
//$wave-app-accent:  mat-palette($gfbio-green, A200, A100, A400);

// The warn palette is optional (defaults to red).
//$wave-app-warn:    mat-palette($mat-red);


// define geobon theme color
$wave-app-primary: mat-palette($mat-teal, 700, 300, 900);
$wave-app-accent: mat-palette($mat-indigo);
$wave-app-warn: mat-palette($mat-deep-orange, A200);


// Create the theme object (a Sass map containing all of the palettes).
//$wave-app-theme: mat-light-theme($wave-app-primary, $wave-app-accent, $wave-app-warn);

// create geobon theme
$wave-app-theme: mat-light-theme(
        $wave-app-primary,
        $wave-app-accent,
        $wave-app-warn
);


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
//@include angular-material-theme($wave-app-theme);


// Include geobon theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($wave-app-theme);
