<div class="playlist" [class.open]="playlistOpen">
    <div class="showhide" [style.height]="playlistHeight+'px'">
        <ul [style.margin-top]="'-'+trackOffset+'px'" #list>
            <li *ngFor="let u of tracks; let i = index" #links [class.playing] = "currentTrack == i">
                <!--<md-icon *ngIf="currentAudio == i" class="md-24">play_circle_outline</md-icon>-->
                <a href="#" (click)="goToTrack(i)"> {{u | fileName}} </a>
            </li>
        </ul>
    </div>
    <a href="#" class="closeLink" (click)="showHide()">
        <template [ngIf]="!playlistOpen">(show all {{tracks.length}} files)</template>
        <template [ngIf]="playlistOpen">(hide)</template>
    </a>
</div>
