
<div fxLayout="column">
    <div fxLayout="row">
        <mat-input-container>
            <input matInput placeholder="Year" type="number" maxLength="4" [ngModel]="time?.year()"
                   (ngModelChange)="update('year', $event)" [disabled]="disabled">
        </mat-input-container>
        <mat-input-container>
            <input matInput placeholder="Month" type="number" maxLength="2" [ngModel]="time?.month()+1"
                   (ngModelChange)="update('month', ($event-1))" [disabled]="disabled">
        </mat-input-container>
        <mat-input-container>
            <input matInput placeholder="Day" type="number" maxLength="2" [ngModel]="time?.date()"
                   (ngModelChange)="update('date', $event)" [disabled]="disabled">
        </mat-input-container>
    </div>
    <div fxLayout="row">
        <mat-input-container>
            <input matInput placeholder="Hour" type="number" maxLength="2" [ngModel]="time?.hour()"
                   (ngModelChange)="update('hour', $event)" [disabled]="disabled">
        </mat-input-container>
        <mat-input-container>
            <input matInput placeholder="Minute" type="number" maxLength="2" [ngModel]="time?.minute()"
                   (ngModelChange)="update('minute', $event)" [disabled]="disabled">
        </mat-input-container>
        <mat-input-container>
            <input matInput placeholder="Second" type="number" maxLength="2" [ngModel]="time?.second()"
                   (ngModelChange)="update('second', $event)" [disabled]="disabled">
        </mat-input-container>
    </div>
</div>
