<wave-sidenav-header>Use Cases</wave-sidenav-header>
<ng-container [ngSwitch]="(useCases | async)?.length">
    <div *ngSwitchCase="undefined" class="info">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngSwitchCase="0" class="info"><p>The list of use cases is currently empty.</p></div>
    <mat-nav-list *ngSwitchDefault>
        <mat-list-item *ngFor="let useCase of (useCases | async)" (click)="workOn(useCase)">
            <h3 mat-line>{{useCase.name}}</h3>
            <div mat-line>{{useCase.shortDescription}}</div>
        </mat-list-item>
    </mat-nav-list>
</ng-container>
