<wave-dialog-header>Share @ Twitter</wave-dialog-header>

<div fxLayout="row" fxLayoutAlign="space-between center">
    <wave-dialog-section-heading title="1. Make screenshot"></wave-dialog-section-heading>
    <button class="screenshot" mat-raised-button type="button" (click)="screenshot()">
        <mat-icon>photo_camera</mat-icon>
    </button>
</div>
<ng-container [ngSwitch]="imageLoading | async">
    <mat-spinner *ngSwitchCase="true" class="screenshot"></mat-spinner>
    <img class="screenshot" *ngSwitchCase="false" [src]="image" alt="screenshot">
</ng-container>

<ng-template [ngIf]="imageBlob">
    <wave-dialog-section-heading title="2. Write Message"></wave-dialog-section-heading>
    <mat-form-field>
        <mat-label>Tweet</mat-label>
        <textarea matInput [formControl]="message" maxlength="280" placeholder="Look at this…"></textarea>
        <mat-hint align="end">{{message.value?.length || 0}}/280</mat-hint>
    </mat-form-field>
</ng-template>

<ng-template [ngIf]="imageBlob && message.valid">
    <wave-dialog-section-heading title="3. Post to Twitter"></wave-dialog-section-heading>
    <p class="info">
        Posting this message with attached screenshot on Twitter requires an authentication of this App for your Twitter account.
        By clicking the button, a popup will show that contains all necessary information.
    </p>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <ng-container [ngSwitch]="sendNotificationStatus | async">
            <span *ngSwitchCase="SendNotificationStatus.OK">{{sendNotification}}</span>
            <mat-spinner *ngSwitchCase="SendNotificationStatus.SENDING"
                         [diameter]="2 * LayoutService.remInPx"></mat-spinner>
            <span *ngSwitchCase="SendNotificationStatus.ERROR" class="error">{{sendNotification}}</span>
        </ng-container>
        <button mat-raised-button color="primary" type="button" (click)="tweet()">
            <mat-icon svgIcon="social-media:twitter"></mat-icon>
        </button>
    </div>
</ng-template>
