label {
    display: block;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.38);
}
md-progress-circle {
    position: relative;
    left: calc(50% - 50px);
}
//.min-max-ranges {
//    margin: 0 auto;
//}
//.min-max-ranges md-input {
//    margin: 0 1rem;
//}
