<wave-dialog-header>Numeric Attribute Filter</wave-dialog-header>
<form [formGroup]="form" (ngSubmit)="$event.preventDefault();add($event)">
    <md-dialog-content>
        <wave-multi-layer-selection
            [types]="[ResultTypes.POINTS]"
            [min]="1" [max]="1"
            formControlName="pointLayers">
        </wave-multi-layer-selection>
        <wave-dialog-section-heading title="Filter" subtitle="Select the value range."></wave-dialog-section-heading>
        <div class="downward-margin">
            <md-select placeholder="Attribute" formControlName="attribute">
                <md-option
                    *ngFor="let attribute of computeAttributes(form.controls.pointLayers.valueChanges | async)"
                    [value]="attribute"
                >{{attribute}}</md-option>
            </md-select>
        </div>
        <md-progress-circle mode="indeterminate" *ngIf="dataLoading$ | async"></md-progress-circle>
        <wave-histogram [height]="500" [width]="500" [selectable]="true"
                        *ngIf="data$ | async" [data]="data$ | async" interactable="true"
                        [minRange]="form.controls.bounds.value.min"
                        [maxRange]="form.controls.bounds.value.max"
                        (minRangeChange)="form.controls.bounds.controls.min.setValue($event)"
                        (maxRangeChange)="form.controls.bounds.controls.max.setValue($event)"
        ></wave-histogram>
        <div
            formGroupName="bounds"
            class="flex-container"
            fxLayout="row" fxLayoutAlign="space-between center"
            fxLayout.xs="column"  fxLayoutAlign.xs="start"
            *ngIf="!!form.controls.attribute.value"
        >
            <md-input-container class="flex-item" fxFlex>
                <input md-input type="number" step="any" placeholder="Min" formControlName="min">
            </md-input-container>
            <md-input-container class="flex-item" fxFlex>
                <input md-input type="number" step="any" placeholder="Max" formControlName="max">
            </md-input-container>
        </div>
        <md-checkbox formControlName="noData">Keep NoData values?</md-checkbox>

        <wave-operator-output-name formControlName="name"></wave-operator-output-name>
    </md-dialog-content>
    <md-dialog-actions align="end">
        <button
            type="submit"
            md-raised-button
            color="primary"
            [disabled]="form.invalid"
        >Apply</button>
    </md-dialog-actions>
</form>
