<md-toolbar color="primary">
    <button md-button (click)="$event.preventDefault();close()" mdTooltip="close sidenav" mdTooltipPosition="after">
        <md-icon>keyboard_arrow_right</md-icon>
    </button>
    <h2 fxFlex>{{sidenavRef.getTitleStream() | async}}</h2>
    <button md-button
            *ngIf="sidenavRef.getBackButtonComponentStream() | async"
            (click)="$event.preventDefault();back()"
            mdTooltip="back" mdTooltipPosition="before"
    >
        <md-icon>subdirectory_arrow_left</md-icon>
    </button>
</md-toolbar>
<md-toolbar *ngIf="sidenavRef.hasSearchComponentStream() | async">
    <md-input-container fxFlex floatPlaceholder="never">
        <md-icon mdPrefix>search</md-icon>
        <input mdInput placeholder="Search" type="text" [(ngModel)]="searchTerm" (ngModelChange)="sidenavRef.searchTerm($event)">
    </md-input-container>
    <span #searchElements></span>
</md-toolbar>
<div fxFlex>
    <template #target></template>
</div>
