<md-toolbar color="primary" fxFlexLayout="row">
    <button md-button (click)="$event.preventDefault();close()" mdTooltip="close sidenav" mdTooltipPosition="after">
        <md-icon>keyboard_arrow_right</md-icon>
    </button>
    <h2 fxFlex>{{sidenavRef.getTitleStream() | async}}</h2>
    <button md-button
            *ngIf="sidenavRef.getBackButtonComponentStream() | async"
            (click)="$event.preventDefault();back()"
            mdTooltip="back" mdTooltipPosition="before"
    >
        <md-icon>subdirectory_arrow_left</md-icon>
    </button>
</md-toolbar>
<div fxFlex>
    <template #target></template>
</div>
