<div fxLayout="column" class="colorizerEntries">

    <div *ngIf="colorizer && showTypeSelect">
        <mat-form-field fxFlex>
            <mat-select [ngModel]="colorizer?.colorizerType" (ngModelChange)="updateType($event)" required placeholder="colorizer type">
                <mat-option value="gradient">gradient</mat-option>
                <mat-option value="palette">palette</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="colorizerEntries" *ngIf="colorizer">

        <ng-template ngFor let-i="index" let-breakpoint [ngForOf]="colorizer?.breakpoints">

            <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="5px">

                <wave-color-breakpoint [ngModel]="breakpoint"
                                       [inputType]="inputType"
                                       [disabledAttribute]="disabledAttribute"
                                       [disabledColor]="disabledColor"
                                       [attributePlaceholder]="attributePlaceholder"
                                       [colorPlaceholder]="colorPlaceholder"
                                       (ngModelChange)="updateBreakpointAt(i, $event)"
                ></wave-color-breakpoint>

                <div fxLayout="row" fxFlex="nogrow">
                    <button mat-icon-button (click)="addBreakpointAt(i)">
                        <mat-icon aria-label="Add row">add_circle_outline</mat-icon>
                    </button>
                    <button mat-icon-button [disabled]="colorizer?.breakpoints?.length <= 1" (click)="removeBreakpointAt(i)">
                        <mat-icon aria-label="Delete row">remove_circle_outline</mat-icon>
                    </button>
                </div>

            </div>
        </ng-template>
    </div>

</div>
