@import "../../../wave-app-theme";

:host {
    display: block;
    padding: 1rem;
}

mat-card:not(:last-child) {
    margin-bottom: 1rem;
}

img {
    width: 100%;
    height: auto;
}

img.mat-card-avatar {
    height: 40px;
    width: auto;
    border-radius: 50%;
}

pre {
    overflow: hidden;
}

mat-spinner {
    width: 25%;
    height: auto;
    margin: 0 auto;
}

.error {
    color: mat-color($wave-app-warn);
}

.no-plots {
    color: mat-color(map-get($wave-app-theme, foreground), secondary-text);
    margin-top: 50%;
    text-align: center;
}
