@import "../../../wave-app-theme";

:host {
    display: block;
    padding: 1rem;
}

md-card:not(:last-child) {
    margin-bottom: 1rem;
}

img {
    width: 100%;
    height: auto;
}

img[md-card-avatar] {
    height: 100%;
    width: auto;
    border-radius: 50%;
}

md-spinner {
    width: 25%;
    height: auto;
    margin: 0 auto;
}

md-card-actions.error {
    text-align: right;
}

.error {
    color: mat-color($wave-app-warn);
}
