img.logo {
    height: 2.25rem;
    width: auto;
    margin-right: 1rem;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logout-button {
    margin-left: auto;
}

h1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    gap: 1rem;
    padding: 1rem 0 0 1rem;

    div {
        margin-top: 0.2rem;
    }
}

.grid-container {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.landscape {
    &.grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    // .analyze {
    //     grid-column: span 2;
    // }

    .inspect {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .chart-container {
        display: flex;
    }
}

.inspect {
    min-height: 50vh !important;
}

.dashboard-card {
    min-height: 20rem;
}

.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

.dashboard-card-content {
    text-align: left;
}

.map-container {
    margin: 1rem;
    height: calc(100% - 2rem);
    width: calc(100% - 2rem);
}

mat-card-content {
    height: 100%;
}

button {
    margin: 1rem;
}

geoengine-legend {
    z-index: 4;
    position: absolute;
    top: 5rem;
    left: 2.5rem;
    background-color: rgba(255, 255, 255, 0.87);
}

.chart-container {
    display: block;
    align-items: center;
}

.chart-container geoengine-vega-viewer {
    margin-right: 5rem;
    width: unset;
}

.chart-container p {
    margin: 0;
}

mat-form-field {
    width: 100%;
}

mat-spinner {
    margin: 0 auto;
}

.center {
    text-align: center;
}

.score-spinner {
    margin-top: -7rem;
}

.score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mat-table {
    width: 100%;
    border-collapse: collapse;
}

.mat-header-cell,
.mat-cell {
    padding: 16px;
    text-align: left;
}

.mat-header-cell {
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-elevation-z8 {
    box-shadow:
        0px 5px 5px -3px rgba(0, 0, 0, 0.2),
        0px 8px 10px 1px rgba(0, 0, 0, 0.14),
        0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.score {
    transform: scale(3);
}
