name: Node.js CI

on:
  pull_request:
  merge_group:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    container: quay.io/geoengine/devcontainer:latest

    strategy:
      matrix:
        app:
          - gis
          - manager
          - dashboards/gfbio
          - dashboards/data-atlas
          - dashboards/nfdi-portal-demo
          - dashboards/ebv-analyzer
          - dashboards/ecometrics
          - dashboards/esg-indicator-service
    
    steps:
      - uses: actions/checkout@v4
      - name: Install Dependencies
        run: |
          npm ci
          npx playwright install --with-deps --only-shell chromium
      - name: Build app ${{ matrix.app }}
        run: npm run build-prod:${{ matrix.app }}
        env:
          CI: true
      - run: npm run test:browser:ci
        env:
          CI: true
  
  codestyle:
    name: Code Format and Lints

    runs-on: ubuntu-24.04
    container: quay.io/geoengine/devcontainer:latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Dependencies
        run: npm ci
      - name: Code Format Check with Prettier
        run: npm run prettier -- --check .
      - name: Build common & core
        run: |
          npm run build:common
          npm run build:core
      - name: Check with Linter
        run: npm run lint
