table {
    width: 100%;
    font-size: 0.8em;
}

mat-form-field {
    width: 100%;
    margin: 1rem 0;
}

.color_cell {
    cursor: pointer;
    text-align: center;
    min-width: 2rem;
    min-height: 2rem;
    color: black !important;
    text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff !important;
}

:host /deep/ .color-picker {
    position: fixed !important;
}
