<table>
    <tr *ngIf="editStrokeWidth">
        <td>
            <span>Stroke width</span>
        </td>
        <td>
            <mat-slider #sls thumbLabel min="0" max="10" step="1" [value]="symbology.strokeWidth"
                        (change)="updateStrokeWidth($event)">
            </mat-slider>
            <span>{{sls.displayValue}} px</span>
        </td>
    </tr>
    <tr *ngIf="editRadius">
        <td>
            <span>Radius</span>
        </td>
        <td>
            <mat-slider #slr thumbLabel min="0" max="10" step="1" [value]="symbology.radius"
                        (change)="updateRadius($event)">
            </mat-slider>
            <span>{{slr.displayValue}} px</span>
        </td>
    </tr>
</table>
<!--
<div>
    <mat-form-field>
        <mat-select placeholder="Color Attribute" formControlName="attribute">
            <mat-option *ngFor="let attribute of (attributes$ | async)" [value]="attribute">{{attribute}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
-->

<div>
    <wave-color-breakpoint *ngIf="editFillColor" [ngModel]="symbology.fillColorBreakpoint" attributePlaceholder="Fill color" disabledAttribute="true"
                           (ngModelChange)="updateFill($event)">
    </wave-color-breakpoint>
    <wave-color-breakpoint *ngIf="editStrokeColor" [ngModel]="symbology.strokeColorBreakpoint" attributePlaceholder="Stroke color" disabledAttribute="true"
                           (ngModelChange)="updateStroke($event)">
    </wave-color-breakpoint>
</div>
<mat-divider></mat-divider>

<mat-tab-group>
    <mat-tab label="Advanced Fill" *ngIf="editColorizeFillByAttribute">
        <div>
            <mat-form-field>
                <mat-select placeholder="Attribute"
                            [(ngModel)]="fillAttribute"
                            (ngModelChange)="setColorizerAttribute()"
                            [disabled]="!colorizeByAttribute">
                    <mat-option
                        *ngFor="let attribute of attributes"
                        [value]="attribute"
                    >{{attribute.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div *ngIf="colorizeByAttribute && !!symbology.fillAttribute">
                <wave-colorizer-editor [ngModel]="symbology.fillColorizer" (ngModelChange)="updateColorizer($event)" [attributePlaceholder]="attribute?.name" [inputType] = "attribute?.type"></wave-colorizer-editor>
            </div>

        </div>
    </mat-tab>
    <mat-tab label="Advanced Stroke" *ngIf="editColorizeStrokeByAttribute">
        <div>

        </div>
    </mat-tab>
</mat-tab-group>


<div>
    <mat-slide-toggle
        [checked]="colorizeByAttribute"
        (change)="updateColorizeByAttribute($event)">
        Colorize by attribute
    </mat-slide-toggle>


</div>


